<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nt.service_PHINE.mapper.BoardinfoMapper">
  <resultMap id="BaseResultMap" type="com.nt.dao_PHINE.Boardinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="boardid" jdbcType="VARCHAR" property="boardid" />
    <result column="boardtype" jdbcType="VARCHAR" property="boardtype" />
    <result column="boardipaddress" jdbcType="VARCHAR" property="boardipaddress" />
    <result column="deviceid" jdbcType="VARCHAR" property="deviceid" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="createon" jdbcType="TIMESTAMP" property="createon" />
    <result column="createby" jdbcType="VARCHAR" property="createby" />
    <result column="modifyon" jdbcType="TIMESTAMP" property="modifyon" />
    <result column="modifyby" jdbcType="VARCHAR" property="modifyby" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="tenantid" jdbcType="VARCHAR" property="tenantid" />
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
    <result column="boardslotid" jdbcType="LONGVARCHAR" property="boardslotid" />
  </resultMap>
</mapper>
