<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_PHINE.mapper.DeviceinfoMapper" >
  <resultMap id="BaseResultMap" type="com.nt.dao_PHINE.Deviceinfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="deviceid" property="deviceid" jdbcType="VARCHAR" />
    <result column="devicetype" property="devicetype" jdbcType="VARCHAR" />
    <result column="machineroomid" property="machineroomid" jdbcType="VARCHAR" />
    <result column="currentuser" property="currentuser" jdbcType="VARCHAR" />
    <result column="companyid" property="companyid" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="createon" property="createon" jdbcType="TIMESTAMP" />
    <result column="createby" property="createby" jdbcType="VARCHAR" />
    <result column="modifyon" property="modifyon" jdbcType="TIMESTAMP" />
    <result column="modifyby" property="modifyby" jdbcType="VARCHAR" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
    <result column="tenantid" property="tenantid" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="LONGVARCHAR" />
  </resultMap>
  <select id="getDeviceList" resultType="com.nt.dao_PHINE.Vo.DeviceListVo">
    SELECT
      a.deviceid,
      b.machineroomaddress,
      count( c.boardid ) AS boardcnt
    FROM
      deviceinfo a
    INNER JOIN
      machineroominfo b ON a.machineroomid = b.machineroomid
    LEFT JOIN
      boardinfo c ON a.deviceid = c.deviceid
    GROUP BY
      a.deviceid,
      b.machineroomaddress
  </select>
</mapper>
