<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nt.service_PHINE.mapper.ProjectinfoMapper">
  <resultMap id="BaseResultMap" type="com.nt.dao_PHINE.Projectinfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="companyid" jdbcType="VARCHAR" property="companyid" />
    <result column="projectid" jdbcType="VARCHAR" property="projectid" />
    <result column="projectname" jdbcType="VARCHAR" property="projectname" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="createon" jdbcType="TIMESTAMP" property="createon" />
    <result column="createby" jdbcType="VARCHAR" property="createby" />
    <result column="modifyon" jdbcType="TIMESTAMP" property="modifyon" />
    <result column="modifyby" jdbcType="VARCHAR" property="modifyby" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="tenantid" jdbcType="VARCHAR" property="tenantid" />
    <result column="projectdescription" jdbcType="LONGVARCHAR" property="projectdescription" />
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
  </resultMap>
  <select id="getProjectInfoList" resultType="com.nt.dao_PHINE.Vo.ProjectListVo">
    SELECT
      a.id,
      a.projectname,
      a.createby,
      COUNT(b.id) as usercnt,
      COUNT(c.id) as devicecnt,
      COUNT(DISTINCT(d.deviceid)) as errorcnt
    FROM
      projectinfo a
    LEFT JOIN
      project2user b
    ON
      a.id = b.projectid
    LEFT JOIN
      project2device c
    ON
      a.id = c.projectid
    LEFT JOIN
      devicestatus d
    ON
      c.deviceid = d.deviceid
    AND
      d.status = '0'
    GROUP BY
      a.id,
      a.projectname,
      a.createby
  </select>
  <update id="updateProjectInfo" parameterType="com.nt.dao_PHINE.Projectinfo">
    UPDATE projectinfo
    SET projectname = #{projectname},
        projectdescription = #{projectdescription},
        modifyby = #{modifyby},
        modifyon = #{modifyon}
    WHERE projectid = #{projectid}
  </update>
  <select id="getProjectInfo" resultType="com.nt.dao_PHINE.Vo.ProjectListVo">
    SELECT projectid,projectname,projectdescription
    FROM projectinfo
    WHERE projectid = #{projectid}
  </select>
</mapper>
