# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
!/controller/src/main/resources/jxls_templates/employee.xlsx
controller/target/
dao/dao_Auth/target/classes/com/nt/dao_Auth/AppPermission$menu$actions$permissions.class
dao/dao_Auth/target/
dao/dao_BASF/target/
dao/dao_Org/target/
dao/dao_VerificationCode/target/
dao/dao_Workflow/target/
logs/
dao_SQL/dao_BASFSQL/target/
service_SQL/service_BASFSQL/target/
services/service_Auth/target/
services/service_BASF/target/
services/service_Org/target/
services/service_VerificationCode/target/
services/service_WorkFlow/target/
utils/target/
dao/dao_Assets/target/
dao/dao_PHINE/target/classes/
services/service_Assets/target/classes/com/nt/service_Assets/AssetsService.class
services/service_Assets/target/
services/service_PHINE/target/
dao/dao_PHINE/target/
dao/dao_Pfans/target/
services/service_Pfans/target/
