<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_BASF.mapper.AlarmreceiptMapper">
    <resultMap id="BaseResultMap" type="com.nt.dao_BASF.Alarmreceipt">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="alarmreceiptid" property="alarmreceiptid" jdbcType="VARCHAR"/>
        <result column="alarmreceiptno" property="alarmreceiptno" jdbcType="VARCHAR"/>
        <result column="alarmreceipttype" property="alarmreceipttype" jdbcType="VARCHAR"/>
        <result column="alarmtime" property="alarmtime" jdbcType="TIMESTAMP"/>
        <result column="alarmlevel" property="alarmlevel" jdbcType="VARCHAR"/>
        <result column="alarmname" property="alarmname" jdbcType="VARCHAR"/>
        <result column="detectionvalue" property="detectionvalue" jdbcType="VARCHAR"/>
        <result column="detailedlocation" property="detailedlocation" jdbcType="VARCHAR"/>
        <result column="devicename" property="devicename" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="CREATEON" property="createon" jdbcType="TIMESTAMP"/>
        <result column="CREATEBY" property="createby" jdbcType="VARCHAR"/>
        <result column="MODIFYON" property="modifyon" jdbcType="TIMESTAMP"/>
        <result column="MODIFYBY" property="modifyby" jdbcType="VARCHAR"/>
        <result column="Owner" property="owner" jdbcType="VARCHAR"/>
        <result column="TENANTID" property="tenantid" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="selectAlarmreceiptVo">
		SELECT
		al.alarmreceiptid,
		al.alarmreceiptno,
		al.alarmreceipttype,
		al.alarmtime,
		al.alarmlevel,
		al.alarmname,
		al.detectionvalue,
		al.detailedlocation,
		al.devicename,
		al.status,
		al.createon,
		al.createby,
        dev.devicename devicerealname,
        dev.region,
        dev.defencearea,
        dev.device,
        dev.floor
		FROM
		alarmreceipt al
		LEFT JOIN
		deviceinformation dev
		ON al.devicename =
		dev.deviceinformationid
	</sql>

    <select id="selectAlarmreceiptVoList" resultType="com.nt.dao_BASF.VO.AlarmreceiptVo">
        <include refid="selectAlarmreceiptVo"></include>
        <where>
            <if test="alarmreceipttype != null">
                al.alarmreceipttype = #{alarmreceipttype}
            </if>
        </where>
    </select>
    //
    <select id="selectAlarmreceiptVo" resultType="com.nt.dao_BASF.VO.AlarmreceiptVo">
        <include refid="selectAlarmreceiptVo"></include>
        <where>
            <if test="alarmreceiptid != null">
                al.alarmreceiptid = #{alarmreceiptid}
            </if>
        </where>
    </select>

</mapper>