<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_BASF.mapper.DeviceinformationMapper">
    <!--    <resultMap id="BaseResultMap" type="com.nt.dao_BASF.Deviceinformation">-->
    <!--        &lt;!&ndash;-->
    <!--          WARNING - @mbg.generated-->
    <!--        &ndash;&gt;-->
    <!--        <id column="deviceinformationid" property="deviceinformationid" jdbcType="VARCHAR"/>-->
    <!--        <result column="mapid" property="mapid" jdbcType="VARCHAR"/>-->
    <!--        <result column="deviceno" property="deviceno" jdbcType="VARCHAR"/>-->
    <!--        <result column="devicetypesmall" property="devicetypesmall" jdbcType="VARCHAR"/>-->
    <!--        <result column="devicetype" property="devicetype" jdbcType="VARCHAR"/>-->
    <!--        <result column="devicename" property="devicename" jdbcType="VARCHAR"/>-->
    <!--        <result column="personliable" property="personliable" jdbcType="VARCHAR"/>-->
    <!--        <result column="region" property="region" jdbcType="VARCHAR"/>-->
    <!--        <result column="defencearea" property="defencearea" jdbcType="VARCHAR"/>-->
    <!--        <result column="device" property="device" jdbcType="VARCHAR"/>-->
    <!--        <result column="floor" property="floor" jdbcType="VARCHAR"/>-->
    <!--        <result column="subordinatesystem" property="subordinatesystem" jdbcType="VARCHAR"/>-->
    <!--        <result column="detailedlocation" property="detailedlocation" jdbcType="VARCHAR"/>-->
    <!--        <result column="GIS" property="gis" jdbcType="VARCHAR"/>-->
    <!--        <result column="remark" property="remark" jdbcType="VARCHAR"/>-->
    <!--        <result column="STATUS" property="status" jdbcType="VARCHAR"/>-->
    <!--        <result column="CREATEON" property="createon" jdbcType="TIMESTAMP"/>-->
    <!--        <result column="CREATEBY" property="createby" jdbcType="VARCHAR"/>-->
    <!--        <result column="MODIFYON" property="modifyon" jdbcType="TIMESTAMP"/>-->
    <!--        <result column="MODIFYBY" property="modifyby" jdbcType="VARCHAR"/>-->
    <!--        <result column="Owner" property="owner" jdbcType="VARCHAR"/>-->
    <!--        <result column="TENANTID" property="tenantid" jdbcType="VARCHAR"/>-->
    <!--    </resultMap>-->

    <resultMap id="DeviceinfomationMap" type="com.nt.dao_BASF.Deviceinformation">
        <id property="deviceinformationid" column="deviceinformationid"></id>
        <result property="mapid" column="mapid"></result>
        <result property="deviceno" column="deviceno"></result>
        <result property="devicetype" column="devicetype"></result>
        <result property="devicename" column="devicename"></result>
        <result property="subordinatesystem" column="subordinatesystem"></result>
        <result property="fence" column="fence"></result>
        <result property="detailedlocation" column="detailedlocation"></result>
        <result property="gis" column="gis"></result>
        <association property="electronicfencestatus" javaType="com.nt.dao_BASF.Electronicfencestatus">
            <id property="id" column="electronicfencestatus_id"></id>
            <result property="deviceinformationid" column="electronicfencestatus_deviceinformationid"></result>
            <result property="warningstatus" column="warningstatus"></result>
            <result property="cameraid" column="cameraid"></result>
            <result property="camerano" column="camerano"></result>
            <result property="shieldstatus" column="shieldstatus"></result>
        </association>
    </resultMap>

    <!-- 环保工艺图表数据 -->
    <select id="getEpChartVo" resultType="com.nt.dao_BASF.VO.EpChartVo">
        SELECT
            count(*) AS cnt,
            dictionary.VALUE1 AS `name`
        FROM
            deviceinformation
            INNER JOIN dictionary ON dictionary.`CODE` = deviceinformation.devicetypesmall
            AND dictionary.`CODE` IN ( 'BC043001', 'BC043002' )
        WHERE
            ifnull(deviceinformation.`status`, '0') = '0'
        GROUP BY
            deviceinformation.devicetypesmall
    </select>


    <select id="selectDeviceList" resultType="com.nt.dao_BASF.Deviceinformation">
        SELECT
        d.*
        FROM deviceinformation AS d
        WHERE
        `STATUS`="0"
        AND
        (
        <foreach collection="mapid" item="item" separator="OR">
            mapid=#{item}
        </foreach>
        )
        AND
        <if test="devicetype!=null">
            (
            <foreach collection="devicetype" item="item" separator="OR">
                devicetype=#{item}
            </foreach>
            )
        </if>
        <if test="devicetypesmall!=null">
            AND
            (
            <foreach collection="devicetypesmall" item="item" separator="OR">
                devicetypesmall=#{item}
            </foreach>
            )
        </if>
        <if test="devicename!=null">
            AND
            (devicename like #{devicename} OR detailedlocation like #{devicename})
        </if>
        ORDER BY
        d.CREATEON DESC
        <if test="pageindex!=null and pagesize!=null">
            LIMIT
            #{pageindex},#{pagesize}
        </if>

    </select>

    <select id="selectDeviceListcount" resultType="string">
        SELECT
        count(1)
        FROM deviceinformation AS d
        WHERE
        `STATUS`="0"
        AND
        (
        <foreach collection="mapid" item="item" separator="OR">
            mapid=#{item}
        </foreach>
        )
        AND
        <if test="devicetype!=null">
            (
            <foreach collection="devicetype" item="item" separator="OR">
                devicetype=#{item}
            </foreach>
            )
        </if>
        <if test="devicetypesmall!=null">
            AND
            (
            <foreach collection="devicetypesmall" item="item" separator="OR">
                devicetypesmall=#{item}
            </foreach>
            )
        </if>
        <if test="devicename!=null">
            AND
            (devicename like #{devicename} OR detailedlocation like #{devicename})
        </if>
        ORDER BY
        d.CREATEON DESC
    </select>

    <!--根据回路号，查询电子围栏相关信息-->
    <select id="selectElectricShield" resultMap="DeviceinfomationMap" resultType="java.lang.String">
        SELECT
        deviceinformation.deviceinformationid,
        deviceinformation.mapid,
        deviceinformation.deviceno,
        deviceinformation.devicetype,
        deviceinformation.devicename,
        deviceinformation.subordinatesystem,
        deviceinformation.fence,
        deviceinformation.detailedlocation,
        deviceinformation.GIS AS gis,
        electronicfencestatus.id AS electronicfencestatus_id,
        electronicfencestatus.deviceinformationid AS electronicfencestatus_deviceinformationid,
        electronicfencestatus.cameraid,
        electronicfencestatus.camerano,
        electronicfencestatus.warningstatus,
        electronicfencestatus.shieldstatus
        FROM
        deviceinformation deviceinformation
        LEFT JOIN electronicfencestatus electronicfencestatus ON deviceinformation.deviceinformationid =
        electronicfencestatus.deviceinformationid
        WHERE
        `STATUS` = '0'
        <if test="devline != ''">
            AND deviceinformation.devline = #{devline}
        </if>
        <if test="deviceinformationid != ''">
            AND deviceinformation.deviceinformationid = #{deviceinformationid}
        </if>
        AND deviceinformation.devicetype = 'BC004005'
    </select>

    <!--    获取所有电子围栏信息-->
    <!--    因为之前设计有问题，造成前台已经写完了代码。为了让前台省事，所以写了一个重复的xml，以后改的兄弟别忘给这里改了-->
    <select id="selectElectricShields" resultMap="DeviceinfomationMap" resultType="java.lang.String">
        SELECT
        	deviceinformation.deviceinformationid,
        	deviceinformation.mapid,
        	deviceinformation.deviceno,
        	deviceinformation.devicetype,
        	deviceinformation.devicename,
        	deviceinformation.subordinatesystem,
        	deviceinformation.fence,
        	deviceinformation.detailedlocation,
        	deviceinformation.GIS AS gis,
        	electronicfencestatus.id AS electronicfencestatus_id,
        	electronicfencestatus.deviceinformationid AS electronicfencestatus_deviceinformationid,
        	electronicfencestatus.cameraid,
        	electronicfencestatus.warningstatus,
        	electronicfencestatus.shieldstatus
        FROM
        	deviceinformation deviceinformation
        	LEFT JOIN electronicfencestatus electronicfencestatus ON deviceinformation.deviceinformationid = electronicfencestatus.deviceinformationid
        WHERE
        	`STATUS` = '0'
        	AND deviceinformation.devicetype = 'BC004005'
    </select>
</mapper>