<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_BASF.mapper.FirealarmMapper">
    <resultMap id="BaseResultMap" type="com.nt.dao_BASF.Firealarm">
        <!--
           WARNING - @mbg.generated
         -->
        <id column="firealarmid" property="firealarmid" jdbcType="VARCHAR" />
        <result column="alarmpeo" property="alarmpeo" jdbcType="VARCHAR" />
        <result column="alarmtimes" property="alarmtimes" jdbcType="TIMESTAMP" />
        <result column="replypho" property="replypho" jdbcType="VARCHAR" />
        <result column="accunit" property="accunit" jdbcType="VARCHAR" />
        <result column="windirection" property="windirection" jdbcType="VARCHAR" />
        <result column="speloc" property="speloc" jdbcType="VARCHAR" />
        <result column="indevice" property="indevice" jdbcType="VARCHAR" />
        <result column="casualties" property="casualties" jdbcType="VARCHAR" />
        <result column="typacc" property="typacc" jdbcType="VARCHAR" />
        <result column="chemno" property="chemno" jdbcType="VARCHAR" />
        <result column="chemname" property="chemname" jdbcType="VARCHAR" />
        <result column="policetim" property="policetim" jdbcType="TIMESTAMP" />
        <result column="acctime" property="acctime" jdbcType="TIMESTAMP" />
        <result column="pickloc" property="pickloc" jdbcType="VARCHAR" />
        <result column="pickpho" property="pickpho" jdbcType="VARCHAR" />
        <result column="protype" property="protype" jdbcType="VARCHAR" />
        <result column="prono" property="prono" jdbcType="VARCHAR" />
        <result column="emplan" property="emplan" jdbcType="VARCHAR" />
        <result column="alarmlev" property="alarmlev" jdbcType="VARCHAR" />
        <result column="smsmod" property="smsmod" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="firealarmno" property="firealarmno" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="CREATEON" property="createon" jdbcType="TIMESTAMP"/>
        <result column="CREATEBY" property="createby" jdbcType="VARCHAR"/>
        <result column="MODIFYON" property="modifyon" jdbcType="TIMESTAMP"/>
        <result column="MODIFYBY" property="modifyby" jdbcType="VARCHAR"/>
        <result column="Owner" property="owner" jdbcType="VARCHAR"/>
        <result column="TENANTID" property="tenantid" jdbcType="VARCHAR"/>
    </resultMap>

    <!--    当月接警数据分析-->
    <select id="getFireAlarmStatistics" resultType="com.nt.dao_BASF.VO.FireAlarmStatisticsVo">
       SELECT
	*
FROM
	(
	SELECT
		count(*) AS cnt,
		date_format( alarmtimes, '%e' ) AS date
	FROM
		firealarm
	WHERE
		completesta = '1'
		AND MONTH ( alarmtimes )= MONTH (
		NOW())
	GROUP BY
		date_format( alarmtimes, '%e' )
	ORDER BY
		date DESC
	) AS tmp
WHERE
	date IS NOT NULL
ORDER BY
	tmp.date ASC
    </select>

    <!--    接警事件记录-->
    <select id="getFireAlarm" resultType="com.nt.dao_BASF.VO.FireAlarmVo">
        select firealarm.*,dictionary.value1 from
        firealarm
        inner join dictionary
        on dictionary.code = firealarm.typacc
        where
		firealarm.`STATUS` = 0
        order by firealarm.alarmtimes desc
    </select>

    <!--    今日事件-->
    <select id="getSameDayFireAlarm" resultType="com.nt.dao_BASF.VO.FireAlarmVo">
        select firealarm.*,dictionary.value1 from
        firealarm
        inner join dictionary
        on dictionary.code = firealarm.typacc
        where
        firealarm.misinformation &lt;> '1'
		and year(alarmtimes)=year(now())
        and month(alarmtimes) = month(now())
        and day(alarmtimes) = day(now())
        order by firealarm.alarmtimes desc
    </select>

    <!--    本周事件-->
    <select id="getWeekFireAlarm" resultType="com.nt.dao_BASF.VO.FireAlarmVo">
        select firealarm.*,dictionary.value1 from
        firealarm
        inner join dictionary
        on dictionary.code = firealarm.typacc
        where
        firealarm.misinformation &lt;> '1'
		and YEARWEEK(date_format(alarmtimes,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
        order by firealarm.alarmtimes desc
    </select>
</mapper>