<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_BASF.mapper.PimsdataMapper">
    <resultMap id="BaseResultMap" type="com.nt.dao_BASF.Pimsdata">
        <!--
           WARNING - @mbg.generated
         -->
        <id column="pimsid" property="pimsid" jdbcType="VARCHAR"/>
        <result column="pimspointname" property="pimspointname" jdbcType="VARCHAR"/>
        <collection property="rows" ofType="com.nt.dao_BASF.VO.PimsdataVo">
            <result column="monitoringpoint" property="monitoringpoint" jdbcType="VARCHAR"/>
            <result column="pimsdata" property="pimsdata" jdbcType="DECIMAL"/>
            <result column="type" property="type" jdbcType="VARCHAR"/>
            <result column="CREATEON" property="createon" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>
    <select id="getAllPimsInfo" resultMap="BaseResultMap">
        SELECT
        MAX(dcode.pointid) pimsid,
        MAX(dcode.equipment) equipment,
        detail.pimspointname pimspointname,
        group_concat(detail.pimsdata) pimsdata,
        group_concat(MINUTE(detail.CREATEON)) CREATEON,
        MAX(detail.type) type
        FROM
        (
        SELECT
        MAX(id) pointid,
        equipment
        FROM
        pimspoint
        GROUP BY
        equipment
        ) dcode
        LEFT JOIN (
        SELECT
        pd.monitoringpoint,
        MAX(point.pimspointname) pimspointname,
        IF(LOCATE(",",group_concat( pd.pimsdata ORDER BY pd.CREATEON desc )) = 0,group_concat( pd.pimsdata ORDER BY pd.CREATEON desc ),SUBSTRING_INDEX(group_concat( pd.pimsdata ORDER BY pd.CREATEON desc ),",",1)) pimsdata,
        MAX( pd.CREATEON ) CREATEON,
        MAX( point.type ) type
        FROM
        pimsdata pd
        LEFT JOIN
        pimspoint point
        ON pd.monitoringpoint = point.id
        WHERE
        TO_DAYS( pd.CREATEON ) = TO_DAYS(
        NOW())
        AND HOUR(pd.CREATEON) = HOUR(NOW())
        AND point.type = #{type}
        GROUP BY
        pd.monitoringpoint,
        MINUTE ( pd.CREATEON )
        ) detail ON dcode.pointid = detail.monitoringpoint
        WHERE detail.monitoringpoint IS NOT NULL
        GROUP BY detail.pimspointname
    </select>

    <insert id="insertPimsDataList">

    </insert>
</mapper>
