<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_BASF.mapper.PimsdataMapper">
    <resultMap id="BaseResultMap" type="com.nt.dao_BASF.Pimsdata">
        <!--
           WARNING - @mbg.generated
         -->
        <id column="pimsid" property="pimsid" jdbcType="VARCHAR"/>
        <result column="devicecode" property="devicecode" jdbcType="VARCHAR"/>
        <collection property="rows" ofType="com.nt.dao_BASF.VO.PimsdataVo">
            <result column="monitoringpoint" property="monitoringpoint" jdbcType="VARCHAR"/>
            <result column="pimsdata" property="pimsdata" jdbcType="DECIMAL"/>
            <result column="type" property="type" jdbcType="VARCHAR"/>
            <result column="CREATEON" property="createon" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>
    <select id="getAllPimsInfo" resultMap="BaseResultMap">
        SELECT
        dcode.pimsid,
        dcode.VALUE1 devicecode,
        detail.monitoringpoint monitoringpoint,
        detail.pimsdata pimsdata,
        HOUR(detail.CREATEON) CREATEON,
        detail.type type
        FROM
        (
        SELECT
        MAX(pd.pimsid) pimsid,
        MAX( dc.VALUE1 ) VALUE1,
        pd.devicecode
        FROM
        pimsdata pd
        LEFT JOIN dictionary dc ON pd.devicecode = dc.`CODE`
        GROUP BY
        pd.devicecode
        ) dcode
        LEFT JOIN (
        SELECT
        devicecode,
        monitoringpoint,
        SUM( pimsdata ) pimsdata,
        MAX( CREATEON ) CREATEON,
        MAX( type ) type
        FROM
        pimsdata
        WHERE
        TO_DAYS( CREATEON ) = TO_DAYS(
        NOW()) - 1
        AND type = #{type}
        GROUP BY
        devicecode,
        monitoringpoint,
        HOUR ( CREATEON )
        ) detail ON dcode.devicecode = detail.devicecode
        WHERE detail.monitoringpoint IS NOT NULL
        ORDER BY HOUR(detail.CREATEON)
    </select>

    <select id="getLastestPims" resultType="com.nt.dao_BASF.Pimsdata">
        SELECT
            a.monitoringpoint,
        IF
            (
                LOCATE(
                    ",",
                group_concat( a.pimsdata ORDER BY a.createon DESC )) = 0,
                group_concat( a.pimsdata ORDER BY a.createon DESC ),
            SUBSTRING_INDEX( group_concat( a.pimsdata ORDER BY a.createon DESC ), ",", 1 )) pimsdata
        FROM
            ( SELECT * FROM pimsdata ORDER BY createon DESC) a
        GROUP BY
            a.monitoringpoint
    </select>

    <insert id="insertPimsDataList" parameterType="java.util.List">
        insert into pimsdata
        (
            pimsid,
            monitoringpoint,
            pimsdata,
            `status`,
            createon,
            createby,
            modifyon,
            modifyby,
            `owner`,
            tenantid
        )
        values
        <foreach collection="list" item="pd" index="index" separator=",">
            (
                #{pd.pimsid},
                #{pd.monitoringpoint},
                #{pd.pimsdata},
                #{pd.status},
                #{pd.createon},
                #{pd.createby},
                #{pd.modifyon},
                #{pd.modifyby},
                #{pd.owner},
                #{pd.tenantid}
            )
        </foreach>

    </insert>
</mapper>
