<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_BASF.mapper.StartprogramMapper">
    <resultMap id="BaseResultMap" type="com.nt.dao_BASF.Startprogram">
        <id column="startprogramid" property="startprogramid" jdbcType="VARCHAR"/>
        <result column="programlistid" property="programlistid" jdbcType="VARCHAR"/>
        <result column="programname" property="programname" jdbcType="VARCHAR"/>
        <result column="informpeople" property="informpeople" jdbcType="VARCHAR"/>
        <result column="starttheorydate" property="starttheorydate" jdbcType="TIMESTAMP"/>
        <result column="theorysite" property="theorysite" jdbcType="VARCHAR"/>
        <result column="startoperationdate" property="startoperationdate" jdbcType="TIMESTAMP"/>
        <result column="operationsite" property="operationsite" jdbcType="VARCHAR"/>
        <result column="expirationdate" property="expirationdate" jdbcType="TIMESTAMP"/>
        <result column="materialsexpirationdate" property="materialsexpirationdate" jdbcType="TIMESTAMP"/>
        <result column="informperson" property="informperson" jdbcType="VARCHAR"/>
        <result column="programcode" property="programcode" jdbcType="VARCHAR"/>
        <result column="programhard" property="programhard" jdbcType="VARCHAR"/>
        <result column="insideoutside" property="insideoutside" jdbcType="VARCHAR"/>
        <result column="mandatory" property="mandatory" jdbcType="VARCHAR"/>
        <result column="isonline" property="isonline" jdbcType="VARCHAR"/>
        <result column="thelength" property="thelength" jdbcType="VARCHAR"/>
        <result column="validity" property="validity" jdbcType="VARCHAR"/>
        <result column="money" property="money" jdbcType="VARCHAR"/>
        <result column="isfirst" property="isfirst" jdbcType="VARCHAR"/>
        <result column="applydata" property="applydata" jdbcType="VARCHAR"/>
        <result column="applydataurl" property="applydataurl" jdbcType="VARCHAR"/>
        <result column="programtype" property="programtype" jdbcType="VARCHAR"/>
        <result column="actualstartdate" property="actualstartdate" jdbcType="VARCHAR"/>

        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="CREATEON" property="createon" jdbcType="TIMESTAMP"/>
        <result column="CREATEBY" property="createby" jdbcType="VARCHAR"/>
        <result column="MODIFYON" property="modifyon" jdbcType="TIMESTAMP"/>
        <result column="MODIFYBY" property="modifyby" jdbcType="VARCHAR"/>
        <result column="Owner" property="owner" jdbcType="VARCHAR"/>
        <result column="TENANTID" property="tenantid" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectbyuserid" resultType="com.nt.dao_BASF.Startprogram">

        select * from startprogram
        where
        startprogramid in (
        select startprogramid from trainjoinlist
        where
        personnelid = #{userid}
        and
        status = 0)

        <if test="selecttype == 'Abouttoexpire'">
            AND starttheorydate &lt;> ""
            AND starttheorydate IS NOT NULL
            AND programtype in ('BC039004')
            AND DATEDIFF(DATE_SUB( DATE_ADD( starttheorydate, INTERVAL validity MONTH ), INTERVAL remindtime MONTH
            ),CURRENT_DATE ()) =0
        </if>
        <if test="selecttype == 'enrolment'">
            /* and
            programtype in ('BC039001','BC039002')*/
        </if>
        <if test="selecttype == 'completed'">
            and
            programtype in ('BC039004')
        </if>
    </select>

    <!--    获取强制的通过/未通过-->
    <select id="getMandatoryInfo" resultType="com.nt.dao_BASF.VO.PassingRateVo">
       select
count(tl.throughtype) as cnt,
tl.throughtype as vehicletype
from startprogram sp
left join trainjoinlist tl
on sp.startprogramid = tl.startprogramid
where
sp.programtype = 'BC039004'
and
sp.mandatory = 'BC033001'
group by tl.throughtype
    </select>

    <!--    获取非强制的通过/未通过-->
    <select id="getIsMandatoryInfo" resultType="com.nt.dao_BASF.VO.PassingRateVo">
        select
count(tl.throughtype) as cnt,
tl.throughtype as vehicletype
from startprogram sp
left join trainjoinlist tl
on sp.startprogramid = tl.startprogramid
where
sp.programtype = 'BC039004'
and
sp.mandatory = 'BC033002'
group by tl.throughtype
    </select>

    <!--    根据姓名（或员工号、卡号）和年份查询某人员培训信息（培训教育大屏用）-->
    <select id="getTrainEducationPerInfo" resultType="com.nt.dao_BASF.VO.TrainEducationPerVo2">
SELECT
	s.programname,
	s.starttheorydate,
	t.throughtype,
	s.thelength
FROM
	startprogram AS s
	INNER JOIN trainjoinlist AS t ON s.startprogramid = t.startprogramid
WHERE
	s.`STATUS` = "0"
	AND t.`STATUS` = "0"
	AND EXTRACT( YEAR FROM s.starttheorydate )= #{year}
	AND t.personnelid = #{parameter}
	ORDER BY
	s.CREATEON DESC
    </select>

    <!--    根据姓名（或员工号、卡号）和年份查询某人员培训时长信息（培训教育大屏用）-->
    <select id="getTrainThelength" resultType="Double">
SELECT
	SUM(s.thelength)
FROM
	startprogram AS s
	INNER JOIN trainjoinlist AS t ON s.startprogramid = t.startprogramid
WHERE
	s.`STATUS` = "0"
	AND t.`STATUS` = "0"
	AND EXTRACT( YEAR FROM s.starttheorydate )=#{year}
	AND t.personnelid = #{parameter}
    </select>

    <!--    根据姓名（或员工号、卡号）和年份查询某人员部门信息（培训教育大屏用）-->
    <select id="getDepartmentname" resultType="String">
SELECT
	t.departmentname
FROM
	startprogram AS s
	INNER JOIN trainjoinlist AS t ON s.startprogramid = t.startprogramid
WHERE
	s.`STATUS` = "0"
	AND t.`STATUS` = "0"
	AND EXTRACT( YEAR FROM s.starttheorydate )=#{year}
	AND t.personnelid = #{parameter}
	ORDER BY
	s.CREATEON DESC
	LIMIT 1
    </select>


    <!--    大屏培训信息推送列表-->
    <select id="getFutureProgram" resultType="com.nt.dao_BASF.Startprogram">
       SELECT
        s.programname,
        s.starttheorydate,
        s.insideoutside,
        s.isonline
        FROM
        startprogram AS s
        WHERE
        s.`STATUS` = '0'
        AND s.programtype = 'BC039002'
            AND DATEDIFF(s.starttheorydate,CURRENT_DATE ()) > 0
    </select>
</mapper>