<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_BASF.mapper.TrainjoinlistMapper">
    <resultMap id="BaseResultMap" type="com.nt.dao_BASF.Trainjoinlist">
        <id column="trainjoinlistid" property="trainjoinlistid" jdbcType="VARCHAR"/>
        <result column="startprogramid" property="startprogramid" jdbcType="VARCHAR"/>
        <result column="personnelid" property="personnelid" jdbcType="VARCHAR"/>
        <result column="departmentname" property="departmentname" jdbcType="VARCHAR"/>
        <result column="customername" property="customername" jdbcType="VARCHAR"/>
        <result column="documentnumber" property="documentnumber" jdbcType="VARCHAR"/>
        <result column="idnumber" property="idnumber" jdbcType="VARCHAR"/>
        <result column="jointype" property="jointype" jdbcType="VARCHAR"/>
        <result column="performance" property="performance" jdbcType="VARCHAR"/>
        <result column="throughtype" property="throughtype" jdbcType="VARCHAR"/>
        <result column="finallyexamdate" property="finallyexamdate" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="CREATEON" property="createon" jdbcType="TIMESTAMP"/>
        <result column="CREATEBY" property="createby" jdbcType="VARCHAR"/>
        <result column="MODIFYON" property="modifyon" jdbcType="TIMESTAMP"/>
        <result column="MODIFYBY" property="modifyby" jdbcType="VARCHAR"/>
        <result column="Owner" property="owner" jdbcType="VARCHAR"/>
        <result column="TENANTID" property="tenantid" jdbcType="VARCHAR"/>
    </resultMap>

    <!--    大屏培训教育即将到期人员列表-->
    <select id="OverduePersonnelList" resultType="com.nt.dao_BASF.VO.OverduePersonnelListVo">
        ( SELECT
        t.trainjoinlistid,
        t.personnelid,
        t.customername,
        t.departmentname,
        s.programname,
        DATE_ADD( t.finallyexamdate, INTERVAL s.validity MONTH ) AS dueDate
        FROM
        trainjoinlist AS t
        INNER JOIN startprogram AS s ON t.startprogramid = s.startprogramid
        WHERE
        t.`STATUS` = '0'
        AND t.finallyexamdate IS NOT NULL
        AND s.starttheorydate IS NOT NULL
        AND s.programtype = 'BC039004'
        AND s.isonline = 'BC032001'
        AND
        t.jointype = '正常'
        AND
        t.throughtype = '通过'
--         逻辑:到期日>当前日期>=开始提醒日期
        AND DATEDIFF(DATE_ADD( t.finallyexamdate, INTERVAL s.validity MONTH ),CURRENT_DATE ()) >0
        AND DATEDIFF(CURRENT_DATE (),DATE_SUB( DATE_ADD( t.finallyexamdate, INTERVAL s.validity MONTH ), INTERVAL s.remindtime MONTH )) >=0
        )
        UNION ALL
        (
        SELECT
        t.trainjoinlistid,
        t.personnelid,
        t.customername,
        t.departmentname,
        s.programname,
        DATE_ADD( s.starttheorydate, INTERVAL s.validity MONTH ) AS dueDate
        FROM
        trainjoinlist AS t
        INNER JOIN startprogram AS s ON t.startprogramid = s.startprogramid
        WHERE
        t.`STATUS` = '0'
        AND s.starttheorydate IS NOT NULL
        AND s.programtype = 'BC039004'
        AND s.isonline = 'BC032002'
        AND
        t.jointype = '正常'
        AND
        t.throughtype = '通过'
        --         逻辑:到期日>当前日期>=开始提醒日期
        AND DATEDIFF(DATE_ADD( s.starttheorydate, INTERVAL s.validity MONTH ),CURRENT_DATE ()) >0
        AND DATEDIFF(CURRENT_DATE (),DATE_SUB( DATE_ADD( s.starttheorydate, INTERVAL s.validity MONTH ), INTERVAL s.remindtime MONTH )) >=0
        )
        ORDER BY
        dueDate ASC
    </select>


    <select id="isNotThroughtype" resultType="int">
        SELECT
        COUNT(trainjoinlistid)
        FROM
        trainjoinlist AS t
        WHERE
        t.startprogramid = #{startprogramid} AND
        t.jointype='正常' AND
        (t.throughtype &lt;> '通过' AND
        t.throughtype &lt;> '未通过' OR
        t.throughtype IS NULL)
    </select>

    <!--    获取参加培训的人员id们-->
    <select id="joinPersonnelid" resultType="string">
        SELECT DISTINCT
	        t.personnelid
        FROM
	        trainjoinlist AS t
    </select>

    <!--    获取部门名和所有通过状态(强制)-->
    <select id="selectAllDeptThrough" resultType="com.nt.dao_BASF.VO.TrainjoinlistVo">
        SELECT
        COUNT(*) AS COUNT,
        trainjoinlist.rootdepid AS departmentid
        FROM trainjoinlist
        RIGHT JOIN startprogram
        ON startprogram.startprogramid=trainjoinlist.startprogramid
        AND startprogram.programtype='BC039004'
        AND startprogram.isonline='BC032002'
        AND startprogram.mandatory='BC033001'
        AND YEAR(startprogram.starttheorydate) = #{year}

        WHERE trainjoinlist.rootdepid IS NOT NULL
        AND trainjoinlist.rootdepid &lt;> ''
        AND trainjoinlist.jointype ='正常'

        GROUP BY trainjoinlist.rootdepid
        ORDER BY trainjoinlist.rootdepid
    </select>

    <!--    获取部门名和通过状态（强制）-->
    <select id="selectDeptThrough" resultType="com.nt.dao_BASF.VO.TrainjoinlistVo">
        SELECT
        COUNT(*) AS COUNT,
        trainjoinlist.rootdepid AS departmentid
        FROM trainjoinlist
        RIGHT JOIN startprogram
        ON startprogram.startprogramid=trainjoinlist.startprogramid
        AND startprogram.programtype='BC039004'
        AND startprogram.isonline='BC032002'
        AND startprogram.mandatory='BC033001'
        AND YEAR(startprogram.starttheorydate) = #{year}

        WHERE trainjoinlist.rootdepid IS NOT NULL
        AND trainjoinlist.rootdepid &lt;> ''
        AND trainjoinlist.throughtype ='通过'
        AND trainjoinlist.jointype ='正常'

        GROUP BY trainjoinlist.rootdepid
        ORDER BY trainjoinlist.rootdepid
    </select>

    <!--    获取部门名和所有通过状态(非强制)-->
    <select id="selectUnAllDeptThrough" resultType="com.nt.dao_BASF.VO.TrainjoinlistVo">
        SELECT
        COUNT(*) AS COUNT,
        trainjoinlist.rootdepid AS departmentid
        FROM trainjoinlist
        RIGHT JOIN startprogram
        ON startprogram.startprogramid=trainjoinlist.startprogramid
        AND startprogram.programtype='BC039004'
        AND startprogram.isonline='BC032002'
        AND startprogram.mandatory='BC033002'
        AND YEAR(startprogram.starttheorydate) = #{year}

        WHERE trainjoinlist.rootdepid IS NOT NULL
        AND trainjoinlist.rootdepid &lt;> ''
        AND trainjoinlist.jointype ='正常'

        GROUP BY trainjoinlist.rootdepid
        ORDER BY trainjoinlist.rootdepid
    </select>

    <!--    获取部门名和通过状态（非强制）-->
    <select id="selectUnDeptThrough" resultType="com.nt.dao_BASF.VO.TrainjoinlistVo">
        SELECT
        COUNT(*) AS COUNT,
        trainjoinlist.rootdepid AS departmentid
        FROM trainjoinlist
        RIGHT JOIN startprogram
        ON startprogram.startprogramid=trainjoinlist.startprogramid
        AND startprogram.programtype='BC039004'
        AND startprogram.isonline='BC032002'
        AND startprogram.mandatory='BC033002'
        AND YEAR(startprogram.starttheorydate) = #{year}

        WHERE trainjoinlist.rootdepid IS NOT NULL
        AND trainjoinlist.rootdepid &lt;> ''
        AND trainjoinlist.throughtype ='通过'
        AND trainjoinlist.jointype ='正常'

        GROUP BY trainjoinlist.rootdepid
        ORDER BY trainjoinlist.rootdepid
    </select>
</mapper>