<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_BASF.mapper.TrainjoinlistMapper">
    <resultMap id="BaseResultMap" type="com.nt.dao_BASF.Trainjoinlist">
        <id column="trainjoinlistid" property="trainjoinlistid" jdbcType="VARCHAR"/>
        <result column="startprogramid" property="startprogramid" jdbcType="VARCHAR"/>
        <result column="personnelid" property="personnelid" jdbcType="VARCHAR"/>
        <result column="departmentname" property="departmentname" jdbcType="VARCHAR"/>
        <result column="customername" property="customername" jdbcType="VARCHAR"/>
        <result column="documentnumber" property="documentnumber" jdbcType="VARCHAR"/>
        <result column="idnumber" property="idnumber" jdbcType="VARCHAR"/>
        <result column="jointype" property="jointype" jdbcType="VARCHAR"/>
        <result column="performance" property="performance" jdbcType="VARCHAR"/>
        <result column="throughtype" property="throughtype" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="CREATEON" property="createon" jdbcType="TIMESTAMP"/>
        <result column="CREATEBY" property="createby" jdbcType="VARCHAR"/>
        <result column="MODIFYON" property="modifyon" jdbcType="TIMESTAMP"/>
        <result column="MODIFYBY" property="modifyby" jdbcType="VARCHAR"/>
        <result column="Owner" property="owner" jdbcType="VARCHAR"/>
        <result column="TENANTID" property="tenantid" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="OverduePersonnelList" resultType="com.nt.dao_BASF.VO.OverduePersonnelListVo">
        SELECT
        t.trainjoinlistid,
        t.personnelid,
        t.customername,
        t.departmentname,
        s.programname,
        DATE_ADD( s.starttheorydate, INTERVAL s.validity MONTH ) AS dueDate
        FROM
        trainjoinlist AS t
        INNER JOIN
        startprogram AS s
        ON
        t.startprogramid = s.startprogramid
        WHERE
        t.`STATUS` = '0'
        AND
        t.startprogramid IN (
        SELECT
        s.startprogramid
        FROM
        startprogram AS s
        WHERE
        s.`STATUS` = "0"
        AND s.starttheorydate &lt;> ""
        AND s.starttheorydate IS NOT NULL
        AND s.programtype = 'BC039004'
        AND DATEDIFF(
        DATE_SUB( DATE_ADD( s.starttheorydate, INTERVAL s.validity MONTH ), INTERVAL s.remindtime MONTH ),
        CURRENT_DATE ()) =0
        )
        ORDER BY
        t.personnelid ASC
    </select>

    <select id="isNotThroughtype" resultType="int">
        SELECT
        COUNT(trainjoinlistid)
        FROM
        trainjoinlist AS t
        WHERE
        t.startprogramid = #{startprogramid} AND
        (t.throughtype &lt;> '通过' AND
        t.throughtype &lt;> '未通过' OR
        t.throughtype IS NULL)
    </select>
</mapper>