<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_BASF.mapper.VehicleinformationMapper">
    <resultMap id="BaseResultMap" type="com.nt.dao_BASF.Vehicleinformation">
        <id column="vehicleinformationid" property="vehicleinformationid" jdbcType="VARCHAR"/>
        <result column="vehiclenumber" property="vehiclenumber" jdbcType="VARCHAR"/>
        <result column="driver" property="driver" jdbcType="VARCHAR"/>
        <result column="driverid" property="driverid" jdbcType="VARCHAR"/>
        <result column="escortname" property="escortname" jdbcType="VARCHAR"/>
        <result column="escortid" property="escortid" jdbcType="VARCHAR"/>
        <result column="vehicletype" property="vehicletype" jdbcType="VARCHAR"/>
        <result column="supplier" property="supplier" jdbcType="VARCHAR"/>
        <result column="transporter" property="transporter" jdbcType="VARCHAR"/>
        <result column="transtype" property="transtype" jdbcType="VARCHAR"/>
        <result column="linkdepartment" property="linkdepartment" jdbcType="VARCHAR"/>
        <result column="goodsname" property="goodsname" jdbcType="VARCHAR"/>
        <result column="weight" property="weight" jdbcType="VARCHAR"/>
        <result column="intime" property="intime" jdbcType="VARCHAR"/>
        <result column="outtime" property="outtime" jdbcType="VARCHAR"/>
        <result column="destination" property="destination" jdbcType="VARCHAR"/>

        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="CREATEON" property="createon" jdbcType="TIMESTAMP"/>
        <result column="CREATEBY" property="createby" jdbcType="VARCHAR"/>
        <result column="MODIFYON" property="modifyon" jdbcType="TIMESTAMP"/>
        <result column="MODIFYBY" property="modifyby" jdbcType="VARCHAR"/>
        <result column="Owner" property="owner" jdbcType="VARCHAR"/>
        <result column="TENANTID" property="tenantid" jdbcType="VARCHAR"/>
    </resultMap>
    <!--    获取在场车辆信息一览-->
    <select id="getInsideList" resultType="com.nt.dao_BASF.VO.InsideVehicleinformationVo">
       SELECT
	v.vehiclenumber,
	v.transporter,
	v.intime,
	v.goodsname,
	v.destination,
	v.speed,
	v.ishazardous
FROM
	vehicleinformation AS v
WHERE
	ifnull(outtime,'') = ''
ORDER BY
	v.intime DESC
    </select>

    <!--    获取本月车辆出入统计-->
    <select id="getAccessStatistics" resultType="com.nt.dao_BASF.VO.VehicleAccessStatisticsVo">
        select * from (
        select count(*) as cnt,date_format(intime,'%Y-%m-%d') as date
        from vehicleinformation
        where outtime is not NULL
		and DATE_FORMAT(intime,'%Y%m') = DATE_FORMAT(CURDATE(),'%Y%m')
        group by date_format(intime,'%Y-%m-%d')
        order by date desc) as tmp
        order by tmp.date asc
    </select>

    <!--    获取本周车辆出入统计-->
    <select id="getWeekAccessStatistics" resultType="com.nt.dao_BASF.VO.VehicleAccessStatisticsVo">
        select * from (
        select count(*) as cnt,date_format(intime,'%Y-%m-%d') as date
        from vehicleinformation
        where outtime is not NULL
		and YEARWEEK(date_format(intime,'%Y-%m-%d'),1) = YEARWEEK(now(),1)
        group by date_format(intime,'%Y-%m-%d')
        order by date desc) as tmp
        order by tmp.date asc
    </select>

    <!--    获取在场车辆类别统计-->
    <select id="getInsideVehicleType" resultType="com.nt.dao_BASF.VO.InsideVehicleTypeVo">
        select count(*) as cnt,vehicletype
        from vehicleinformation
        where ifnull(outtime,'') = ''
        group by vehicletype
    </select>

    <!--    获取当日入场车辆信息-->
    <select id="getDailyVehicleInfo" resultType="com.nt.dao_BASF.Vehicleinformation">
        select *
        from vehicleinformation
        where date_format(intime,'%Y-%m-%d') = curdate()
    </select>

    <!--    获取危化品车辆信息-->
    <select id="getlistinformation" resultType="com.nt.dao_BASF.Vehicleinformation">
        select *
        from vehicleinformation
        where ishazardous='0'
        AND YEAR ( intime )= YEAR (now())
    </select>

    <select id="getcountinformation" resultType="Integer">
        select count(0)
        from vehicleinformation
        where ishazardous='0'
				and
				outtime is null
    </select>

    <!--    定时查询车辆（出场时间为空的数据）-->
    <select id="getQueryVehiclesRegularlyInfo" resultType="com.nt.dao_BASF.VO.VehicleinformationGpsArrVo">
        select *
        from vehicleinformation
        where outtime is NULL
    </select>

<!--    增量更新GPS点位信息-->
    <update id="updategps">
UPDATE vehicleinformation
SET `gps` = CONCAT( IFNULL(`gps`,''), IFNULL(#{gps},'') ),
`MODIFYON` =#{modifyon},
`speed`=#{speed}
WHERE
	`vehicleinformationid` = #{vehicleinformationid};
    </update>

</mapper>