<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_BASF.mapper.WorkflownodeinstanceMapper" >
  <resultMap id="BaseResultMap" type="com.nt.dao_BASF.Workflownodeinstance" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="WORKFLOWNODEINSTANCEID" property="workflownodeinstanceid" jdbcType="VARCHAR" />
    <result column="WORKFLOWINSTANCEID" property="workflowinstanceid" jdbcType="VARCHAR" />
    <result column="NODENAME" property="nodename" jdbcType="VARCHAR" />
    <result column="NODEORD" property="nodeord" jdbcType="INTEGER" />
    <result column="NODETYPE" property="nodetype" jdbcType="VARCHAR" />
    <result column="NODEUSERTYPE" property="nodeusertype" jdbcType="VARCHAR" />
    <result column="ITEMID" property="itemid" jdbcType="VARCHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="CREATEBY" property="createby" jdbcType="VARCHAR" />
    <result column="CREATEON" property="createon" jdbcType="TIMESTAMP" />
    <result column="MODIFYBY" property="modifyby" jdbcType="VARCHAR" />
    <result column="MODIFYON" property="modifyon" jdbcType="TIMESTAMP" />
    <result column="OWNER" property="owner" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="TENANTID" property="tenantid" jdbcType="VARCHAR" />
    <result column="CC" property="cc" jdbcType="LONGVARCHAR" />
    <result column="OUTCONDITION" property="outcondition" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>