<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_BASF.mapper.WorkflowMapper" >
  <resultMap id="BaseResultMap" type="com.nt.dao_BASF.Workflow" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="WORKFLOWID" property="workflowid" jdbcType="VARCHAR" />
    <result column="WORKFLOWNAME" property="workflowname" jdbcType="VARCHAR" />
    <result column="FORMID" property="formid" jdbcType="VARCHAR" />
    <result column="WORKFLOWOPERATION" property="workflowoperation" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="CREATEBY" property="createby" jdbcType="VARCHAR" />
    <result column="CREATEON" property="createon" jdbcType="TIMESTAMP" />
    <result column="MODIFYBY" property="modifyby" jdbcType="VARCHAR" />
    <result column="MODIFYON" property="modifyon" jdbcType="TIMESTAMP" />
    <result column="OWNER" property="owner" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="TENANTID" property="tenantid" jdbcType="VARCHAR" />
    <result column="WORKFLOWCONTENT" property="workflowcontent" jdbcType="LONGVARCHAR" />
    <result column="WORKFLOWTEXT" property="workflowtext" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>