<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_Org.mapper.DictionaryMapper">
    <select id="getDictionary" parameterType="com.nt.dao_Org.Dictionary" resultType="com.nt.dao_Org.Dictionary">
        SELECT
        code,
        type,
        value1,
        value2,
        value3,
        value4,
        value5,
        value6,
        value7,
        value8,
        value9,
        value10,
        pcode,
        tenantid
        FROM
        dictionary
        WHERE STATUS = '0'
        <if test="code != null and code != ''" >
            AND  code like CONCAT(#{code},'%')
            AND (TYPE IS NULL OR TYPE = '')
        </if>
        <if test="pcode != null and pcode != ''" >
            or pcode = #{pcode,jdbcType=VARCHAR}/*变更，实现前台数据字典页面的具体类别查询*/
        </if>
        <if test="tenantid != null and tenantid != ''" >
            and LENGTH(CODE) = 5
        </if>
    </select>
    <select id="selectOrder" parameterType="com.nt.dao_Org.Dictionary" resultType="com.nt.dao_Org.Dictionary">
        select * from dictionary
        WHERE STATUS = '0'
        <if test="code != null and code != ''" >
            AND  pcode = #{code}
        </if>
        ORDER BY orderdic asc
    </select>
</mapper>
