<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS2000.mapper.AbNormalMapper">
    <select id="selectAbNormal" parameterType="java.lang.String" resultType="com.nt.dao_Pfans.PFANS2000.AbNormal">
        select
        ABNORMAL_ID abnormalid,
        CENTER_ID centerid,
        GROUP_ID groupid,
        TEAM_ID  teamid,
        USER_ID  user_id,
        APPLICATION_DATE applicationdate,
        ERROR_TYPE errortype,
        OCCURRENCE_DATE occurrencedate,
        FINISHED_DATE finisheddate,
        PERIOD_START  periodstart,
        PERIOD_END  periodend,
        CAUSE  cause,
        UPLOADFILE uploadfile,
        RECOGNITIONSTATE recognitionstate,
        LENGTHTIME lengthtime,
        HOSPITAL hospital,
        EDATE edate,

        ENCLOSUREEXPLAIN enclosureexplain
        from abnormal
        where abnormal.occurrence_date &lt;= #{now}
        and abnormal.FINISHED_DATE &gt;= #{now}
        or (YEAR(abnormal.occurrence_date) = YEAR(NOW())
        and MONTH(abnormal.occurrence_date) = MONTH(NOW()))
        or (YEAR(abnormal.FINISHED_DATE) = YEAR(NOW())
        and MONTH(abnormal.FINISHED_DATE) = MONTH(NOW()))
    </select>
    <select id="selectAbNormalThisYear" parameterType="com.nt.dao_Pfans.PFANS2000.AbNormal" resultType="com.nt.dao_Pfans.PFANS2000.AbNormal">
        select
        ERROR_TYPE errortype,
        LENGTHTIME lengthtime,
        OCCURRENCE_DATE occurrencedate,
        FINISHED_DATE finisheddate,
        PERIOD_START  periodstart,
        PERIOD_END  periodend
        from abnormal
        where ((abnormal.occurrence_date >= #{occurrencedate}
        and abnormal.occurrence_date &lt;= #{finisheddate})
        or (abnormal.FINISHED_DATE &gt;= #{occurrencedate}
        and abnormal.FINISHED_DATE &lt;= #{finisheddate}))
        and abnormal.user_id = #{user_id}
        and abnormal.status = #{status}
    </select>
    <select id="selectAbNormal1"  resultType="com.nt.dao_Pfans.PFANS2000.AbNormal">
        SELECT
         SUM(lengthtime) AS lengthtime
        FROM abnormal
        WHERE error_type = 'PR013008'
    </select>
    <select id="selectAbNormalDate" resultType="Double">
        select sum(timestampdiff(day,application_date,occurrence_date) + 1) as datelength
        from abnormal
        where createon
        between date_sub(now(), interval 365 day) and date_sub(now(), interval 0 day)
        and error_type = 'pr013009'
        and user_id = #{userid}
    </select>
    <select id="selectAbNormalParent" parameterType="com.nt.dao_Pfans.PFANS2000.AbNormal" resultType="com.nt.dao_Pfans.PFANS2000.AbNormal">
        select * from abnormal
        where year(createon)=year(now())
        and error_type = 'pr013014'
        and status in (4,2)
        and user_id = #{userid}
    </select>
</mapper>

