<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS2000.mapper.AccumulatedTaxMapper">
    <select id="getaccumulatedTax" parameterType="com.nt.dao_Pfans.PFANS2000.Base"
            resultType="com.nt.dao_Pfans.PFANS2000.Vo.AccumulatedTaxVo">
        SELECT
        tw.USER_ID,
        tw.SHOULDWAGES,
        dic.value2,
        tw.january,
        tw.february,
        tw.march,
        tw.april,
        tw.may,
        tw.june,
        tw.july,
        tw.august,
        tw.september,
        tw.october,
        tw.november,
        tw.december,
        tw.january + tw.february + tw.march + tw.april + tw.may + tw.june + tw.july + tw.august + tw.september +
        tw.october + tw.november AS sumThis,
        round( tw.SHOULDWAGES * dic.VALUE2 - dic.VALUE3, 2 ) Shouldtax,
        round(
        tw.SHOULDWAGES * dic.VALUE2 - dic.VALUE3 -(
        tw.january + tw.february + tw.march + tw.april + tw.may + tw.june + tw.july + tw.august + tw.september +
        tw.october + tw.november
        ) - december,
        2
        ) balance
        FROM
        (
        SELECT
        base.USER_ID,
        sum(
        IFNULL( SHOULDWAGES, 0 )) SHOULDWAGES,
        MAX(
        CASE
        DATE_FORMAT( wages.CREATEON, '%Y%m' )
        WHEN CONCAT( YEAR ( SYSDATE( ) ), '01' ) THEN
        IFNULL( THISMONTHADJUSTMENT, 0 ) ELSE 0
        END
        ) january,
        MAX(
        CASE
        DATE_FORMAT( wages.CREATEON, '%Y%m' )
        WHEN CONCAT( YEAR ( SYSDATE( ) ), '02' ) THEN
        IFNULL( THISMONTHADJUSTMENT, 0 ) ELSE 0
        END
        ) february,
        MAX(
        CASE
        DATE_FORMAT( wages.CREATEON, '%Y%m' )
        WHEN CONCAT( YEAR ( SYSDATE( ) ), '03' ) THEN
        IFNULL( THISMONTHADJUSTMENT, 0 ) ELSE 0
        END
        ) march,
        MAX(
        CASE
        DATE_FORMAT( wages.CREATEON, '%Y%m' )
        WHEN CONCAT( YEAR ( SYSDATE( ) ), '04' ) THEN
        IFNULL( THISMONTHADJUSTMENT, 0 ) ELSE 0
        END
        ) april,
        MAX(
        CASE
        DATE_FORMAT( wages.CREATEON, '%Y%m' )
        WHEN CONCAT( YEAR ( SYSDATE( ) ), '05' ) THEN
        IFNULL( THISMONTHADJUSTMENT, 0 ) ELSE 0
        END
        ) may,
        MAX(
        CASE
        DATE_FORMAT( wages.CREATEON, '%Y%m' )
        WHEN CONCAT( YEAR ( SYSDATE( ) ), '06' ) THEN
        IFNULL( THISMONTHADJUSTMENT, 0 ) ELSE 0
        END
        ) june,
        MAX(
        CASE
        DATE_FORMAT( wages.CREATEON, '%Y%m' )
        WHEN CONCAT( YEAR ( SYSDATE( ) ), '07' ) THEN
        IFNULL( THISMONTHADJUSTMENT, 0 ) ELSE 0
        END
        ) july,
        MAX(
        CASE
        DATE_FORMAT( wages.CREATEON, '%Y%m' )
        WHEN CONCAT( YEAR ( SYSDATE( ) ), '08' ) THEN
        IFNULL( THISMONTHADJUSTMENT, 0 ) ELSE 0
        END
        ) august,
        MAX(
        CASE
        DATE_FORMAT( wages.CREATEON, '%Y%m' )
        WHEN CONCAT( YEAR ( SYSDATE( ) ), '09' ) THEN
        IFNULL( THISMONTHADJUSTMENT, 0 ) ELSE 0
        END
        ) september,
        MAX(
        CASE
        DATE_FORMAT( wages.CREATEON, '%Y%m' )
        WHEN CONCAT( YEAR ( SYSDATE( ) ), '10' ) THEN
        IFNULL( THISMONTHADJUSTMENT, 0 ) ELSE 0
        END
        ) october,
        MAX(
        CASE
        DATE_FORMAT( wages.CREATEON, '%Y%m' )
        WHEN CONCAT( YEAR ( SYSDATE( ) ), '11' ) THEN
        IFNULL( THISMONTHADJUSTMENT, 0 ) ELSE 0
        END
        ) november,
        MAX(
        CASE
        DATE_FORMAT( wages.CREATEON, '%Y%m' )
        WHEN CONCAT( YEAR ( SYSDATE( ) ), '12' ) THEN
        IFNULL( THISMONTHADJUSTMENT, 0 ) ELSE 0
        END
        ) december
        FROM
        base
        LEFT JOIN wages ON base.USER_ID = wages.USER_ID
        AND wages.STATUS = '0'
        WHERE
        IFNULL( base.STATUS, '0' ) = '0'
        GROUP BY
        USER_ID
        ) tw
        LEFT JOIN dictionary dic ON dic.PCODE = 'PR048'
        AND
        CASE

        WHEN ( tw.SHOULDWAGES &gt;= 0 AND tw.SHOULDWAGES &lt;= 36000 ) THEN
        'PR048001'
        WHEN ( tw.SHOULDWAGES &gt; 36000 AND tw.SHOULDWAGES &lt;= 144000 ) THEN
        'PR048002'
        WHEN ( tw.SHOULDWAGES &gt; 144000 AND tw.SHOULDWAGES &lt;= 300000 ) THEN
        'PR048003'
        WHEN ( tw.SHOULDWAGES &gt; 300000 AND tw.SHOULDWAGES &lt;= 420000 ) THEN
        'PR048004'
        WHEN ( tw.SHOULDWAGES &gt; 420000 AND tw.SHOULDWAGES &lt;= 660000 ) THEN
        'PR048005'
        WHEN ( tw.SHOULDWAGES &gt; 660000 AND tw.SHOULDWAGES &lt;= 960000 ) THEN
        'PR048006'
        WHEN ( tw.SHOULDWAGES &gt; 960000 ) THEN
        'PR048007'
        END = dic.CODE
    </select>
</mapper>
