<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS2000.mapper.AnnualLeaveMapper">
    <update id="updateAnnualYear" parameterType="com.nt.dao_Pfans.PFANS2000.AnnualLeave">
        <foreach collection="annualLeaves" index="index" item="item" separator=";">
            update annualleave
            <set>
                deduct_annual_leave_lastyear = #{item.deduct_annual_leave_lastyear},deduct_paid_leave_lastyear =
                #{item.deduct_paid_leave_lastyear},
                remaining_annual_leave_lastyear = #{item.remaining_annual_leave_lastyear},remaining_paid_leave_lastyear
                = #{item.remaining_paid_leave_lastyear},
                deduct_annual_leave_thisyear = #{item.deduct_annual_leave_thisyear},deduct_paid_leave_thisyear =
                #{item.deduct_paid_leave_thisyear},
                remaining_annual_leave_thisyear = #{item.remaining_annual_leave_thisyear},remaining_paid_leave_thisyear
                = #{item.remaining_paid_leave_thisyear}
            </set>
            WHERE annualleave_id = #{item.annualleave_id}
        </foreach>
    </update>
    <select id="getDataList" resultType="com.nt.dao_Pfans.PFANS2000.AnnualLeave">
        select
        USER_ID user_id,
        CENTER_ID center_id,
        GROUP_ID group_id,
        TEAM_ID team_id,
        REMAINING_ANNUAL_LEAVE_LASTYEAR remaining_annual_leave_lastyear,
        ANNUAL_LEAVE_THISYEAR annual_leave_thisyear,
        DEDUCT_ANNUAL_LEAVE_THISYEAR deduct_annual_leave_thisyear,
        REMAINING_ANNUAL_LEAVE_THISYEAR remaining_annual_leave_thisyear
        from annulleaveView
             where
             1=1
        <if test="owners != null and owners.size() > 0 ">
            and
            USER_ID in
            <foreach item="item" index="index" collection="owners"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="getrest" resultType="com.nt.dao_Pfans.PFANS2000.Vo.restViewVo">
        select
        APPLICATION_DATE applicationdate,
        USER_ID userid,
        RESTDAYS restdays
        from restView
        <if test="userid!=null and userid !=''">
            where USER_ID = #{userid}
        </if>
        order by
        RESTDAYS
    </select>

    <select id="getrest2" resultType="com.nt.dao_Pfans.PFANS2000.Vo.restViewVo">
        select
        USER_ID userid,
        RESTDAYS restdays
        from restView2
        <if test="userid!=null and userid !=''">
            where USER_ID = #{userid}
        </if>
        order by
        RESTDAYS
    </select>
</mapper>
