<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS1000.mapper.BusinessplanMapper">
    <select id="getAcutal" resultType="com.nt.dao_Pfans.PFANS1000.Vo.ActualPL">
            select code,
       CONVERT(MAX(CASE a.month WHEN 4 THEN a.rmb ELSE 0 END),decimal) AS 'actual4',
       CONVERT(MAX(CASE a.month WHEN 5 THEN a.rmb ELSE 0 END),decimal) AS 'actual5',
       CONVERT(MAX(CASE a.month WHEN 6 THEN a.rmb ELSE 0 END),decimal) AS 'actual6',
       CONVERT(MAX(CASE a.month WHEN 7 THEN a.rmb ELSE 0 END),decimal) AS 'actual7',
       CONVERT(MAX(CASE a.month WHEN 8 THEN a.rmb ELSE 0 END),decimal) AS 'actual8',
       CONVERT(MAX(CASE a.month WHEN 9 THEN a.rmb ELSE 0 END),decimal) AS 'actual9',
       CONVERT(MAX(CASE a.month WHEN 10 THEN a.rmb ELSE 0 END),decimal) AS 'actual10',
       CONVERT(MAX(CASE a.month WHEN 11 THEN a.rmb ELSE 0 END),decimal) AS 'actual11',
       CONVERT(MAX(CASE a.month WHEN 12 THEN a.rmb ELSE 0 END),decimal) AS 'actual12',
       CONVERT(MAX(CASE a.month WHEN 1 THEN a.rmb ELSE 0 END),decimal) AS 'actual1',
       CONVERT(MAX(CASE a.month WHEN 2 THEN a.rmb ELSE 0 END),decimal) AS 'actual2',
       CONVERT(MAX(CASE a.month WHEN 3 THEN a.rmb ELSE 0 END),decimal) AS 'actual3'
    from
(
select code, sum(rmb) as rmb, month from (
select d.CODE, (IFNULL(SUM(t.RMB +t.tormb), 0) + IFNULL(SUM(pur.RMB +t.tormb), 0) + IFNULL(SUM(o.RMB +t.tormb), 0)) as rmb,MONTH(p.REIMBURSEMENTDATE) as month
from (
select `CODE` from dictionary where PCODE = 'PJ111'
) as d left join publicexpense p on 1=1
left JOIN trafficdetails t
                   on p.PUBLICEXPENSE_ID = t.PUBLICEXPENSE_ID
                       and t.PLSUMMARY  = d.CODE
                       and t.DEPARTMENTNAME = #{groupid}
         left JOIN purchasedetails pur
                   on p.PUBLICEXPENSE_ID = pur.PUBLICEXPENSE_ID
                       and pur.PLSUMMARY = d.CODE
                       and pur.DEPARTMENTNAME = #{groupid}
         left JOIN otherdetails o
                   on p.PUBLICEXPENSE_ID = o.PUBLICEXPENSE_ID
                       and o.PLSUMMARY = d.CODE
                       and o.DEPARTMENTNAME = #{groupid}
where p.REIMBURSEMENTDATE &gt;= #{startday} and p.REIMBURSEMENTDATE &lt;= #{endday}
group by MONTH(p.REIMBURSEMENTDATE), d.CODE

union all

select 'PJ111008', (IFNULL(SUM(t.RMB +t.tormb), 0) + IFNULL(SUM(a.TRAVELALLOWANCE), 0) + IFNULL(SUM(o.RMB +t.tormb), 0)) as rmb,MONTH(e.REIMBURSEMENTDATE) as month
from evection e
		left join trafficdetails t
                   on e.EVECTION_ID = t.PUBLICEXPENSE_ID
                       and t.PLSUMMARY  = 'PJ111008'
                       and t.DEPARTMENTNAME = #{groupid}
         left JOIN accommodationdetails a
                   on e.EVECTION_ID = a.EVECTION_ID
                       and a.PLSUMMARY = 'PJ111008'
                       and a.DEPARTMENTNAME = #{groupid}
         left JOIN otherdetails o
                   on e.EVECTION_ID = o.PUBLICEXPENSE_ID
                       and o.PLSUMMARY = 'PJ111008'
                       and o.DEPARTMENTNAME = #{groupid}
 where e.REIMBURSEMENTDATE &gt;= #{startday} and e.REIMBURSEMENTDATE &lt;= #{endday}
group by MONTH(e.REIMBURSEMENTDATE)
) pj group by code, month

union all

select
case
when contracttype = 'HT008009' then 'HT008009'
when contracttype in ("HT008007","HT008008") then 'HT008008'
when contracttype in ("HT008001","HT008002","HT008003","HT008004","HT008005","HT008006") then 'HT008006'
else NULL
end as contracttype1,
SUM(cn.CLAIMAMOUNT) as rmb,MONTH(cn.DELIVERYDATE) as month
from contractapplication ca
inner join contractnumbercount cn
on ca.CONTRACTNUMBER = cn.CONTRACTNUMBER
where ca.state='有效'
and ca.type = "1"
and ca.GROUP_ID = #{groupid}
and cn.DELIVERYDATE &gt;= #{startday} and cn.DELIVERYDATE &lt;= #{endday}
GROUP BY MONTH(cn.DELIVERYDATE), contracttype1
having contracttype1 is not null

union all

select 'WORKTIME', SUM(l.TIME_START) as worktime ,MONTH(l.LOG_DATE) as month from logmanagement l
inner join companyprojects c
on l.PROJECT_ID = c.COMPANYPROJECTS_ID
 where c.GROUP_ID = #{groupid}
 and l.LOG_DATE &gt;= #{startday}
 and l.LOG_DATE &lt;= #{endday}
 and l.CONFIRMSTATUS = '1'
group by MONTH(l.LOG_DATE)

) a
group by code

union all
select concat('WORKTIME-', e.VENUETARGET) as CODE, IFNULL(sum(APRIL),0) as actual4 ,IFNULL(sum(MAY),0) as actual5,IFNULL(sum(JUNE),0) as actual6,
IFNULL(sum(JULY),0) as actual7,IFNULL(sum(AUGUST),0) as actual8,
IFNULL(sum(SEPTEMBER),0) as actual9,IFNULL(sum(OCTOBER),0) as actual10,IFNULL(sum(NOVEMBER),0) as actual11,IFNULL(sum(DECEMBER),0) as actual12,
IFNULL(sum(JANUARY),0) as actual1, IFNULL(sum(FEBRUARY),0) as actual2, IFNULL(sum(MARCH),0) as actual3
from delegainformation d
inner join companyprojects c
on d.COMPANYPROJECTS_ID = c.COMPANYPROJECTS_ID
inner join projectsystem p
on d.PROJECTSYSTEM_ID = p.PROJECTSYSTEM_ID
inner join expatriatesinfor e
on p.SUPPLIERNAMEID = e.EXPATRIATESINFOR_ID
where c.GROUP_ID = #{groupid}
and d.year &gt;= #{startday}
and d.year &lt;= #{endday}
group by e.VENUETARGET
order by CODE
    </select>
</mapper>

