<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS1000.mapper.BusinessMapper">
    <select id="getBuse" resultType="com.nt.dao_Pfans.PFANS1000.Business">
        select * from business where `STATUS` = '4' and CREATEON>DATE_SUB(CURDATE(), INTERVAL 3 MONTH) ORDER BY CREATEON DESC
    </select>

    <select id="getBusinessSearch" parameterType="com.nt.dao_Pfans.PFANS1000.Business" resultType="com.nt.dao_Pfans.PFANS1000.Business">
        SELECT
        *
        FROM
        business
        where status != 1
            <if test="businesstype != null and businesstype != ''">
                and businesstype = #{businesstype}
            </if>
            <if test="region != null and region != ''">
                and region = #{region}
            </if>
            <if test="city != null and city != ''">
                and city = #{city}
            </if>
            <if test="business_number != null and business_number != ''">
                and business_number like CONCAT('%',#{business_number},'%')
            </if>
            <if test="user_id != null and user_id != ''">
                and user_id = #{user_id}
            </if>
            <if test="center_id != null and center_id != ''">
                and center_id = #{center_id}
            </if>
            <if test="group_id != null and group_id != ''">
                and group_id = #{group_id}
            </if>
            <if test="owners != null and owners.size() > 0 ">
                and
                owner in
                <foreach item="item" index="index" collection="owners"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </select>
</mapper>

