<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS5000.mapper.CompanyProjectsMapper">

    <select id="getList" resultType="com.nt.dao_Pfans.PFANS5000.Vo.CompanyProjectsVo2">
        select
        c.`COMPANYPROJECTS_ID`,
        c.`PROJECT_NAME` as PROJECT_NAME,
        c.`PROJECT_NAMEJP` as PROJECT_NAMEJP,
        c.`NUMBERS` as NUMBERS,
        s.`PHASE` as phase,
        s.`PRODUCTSTATUS` as productstatus,
        <![CDATA[ case when s.`COMPANYPROJECTS_ID` != "" && s.`ESTIMATEDENDTIME` < s.`ACTUALSTARTTIME` ]]> then '0'
        when s.`COMPANYPROJECTS_ID` != "" then '1'
        ELSE '' END as phasestatus,
        s.`ESTIMATEDWORK` as estimatedwork,
        s.`ACTUALWORK` as actualwork,
        <![CDATA[ case when pp.COMPANYPROJECTS_ID = "" ]]> then '2'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && (curdate() < s.estimatedstarttime || curdate() > pp.etime) ]]>
        then '3'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && DATE_ADD(curdate(),interval 10 DAY ) >= pp.etime ]]>   then
        '0'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && curdate() >= s.estimatedstarttime && curdate() <= pp.etime ]]>
        then '1'
        else "" end contractstatus,
        c.`STATUS` as status,
        c.`COMPANYPROJECTS_ID`,
        c.ENTRUST as ENTRUST,
        c.WORK as WORK,
        c.LEADERID as LEADERID,
        c.FIELD as FIELD,
        c.OWNER as OWNER,
        c.GROUP_ID as group_id
        from `companyprojects` c
        left outer join (select * from stageinformation where (COMPANYPROJECTS_ID,estimatedstarttime,PHASE,rowindex) in
        (select COMPANYPROJECTS_ID,max(estimatedstarttime),max(PHASE),max(rowindex)from stageinformation
        where
        <![CDATA[ ESTIMATEDSTARTTIME <= curdate() and ESTIMATEDENDTIME >= curdate() ]]> group by COMPANYPROJECTS_ID )) s
        on c.`COMPANYPROJECTS_ID` = s.`COMPANYPROJECTS_ID`
        and s.status = '0'
        left join (
        select p.COMPANYPROJECTS_ID,
        max(IFNULL(a.EXTENSIONDATE,substring(a.CLAIMDATETIME,14,10))) as etime
        from projectcontract p
        inner join contractapplication a
        on a.contractnumber = p.CONTRACT
        and a.status = '0' and p.status = '0'
        group by p.COMPANYPROJECTS_ID
        ) pp
        on pp.COMPANYPROJECTS_ID = c.`COMPANYPROJECTS_ID`
        where (c.`STATUS` = '4' or c.`STATUS` = '5' or c.`STATUS` = '6')
        <if test="owners != null and owners.size() > 0 ">
            and
            c.owner in
            <foreach item="item" index="index" collection="owners"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by c.`CREATEON` desc

    </select>
<!--    PJ?? ?????????? ztc fr-->
    <select id="getList5" parameterType="com.nt.dao_Pfans.PFANS5000.Vo.CompanyProjectsVo2" resultType="com.nt.dao_Pfans.PFANS5000.Vo.CompanyProjectsVo2">
        select
        c.`COMPANYPROJECTS_ID`,
        c.`PROJECT_NAME` as PROJECT_NAME,
        c.`PROJECT_NAMEJP` as PROJECT_NAMEJP,
        c.`PROJECTTYPE` as PROJECTTYPE,
        c.`NUMBERS` as NUMBERS,
        s.`PHASE` as phase,
        s.`PRODUCTSTATUS` as productstatus,
        pp.contractno as contractno,
        <![CDATA[ case when s.`COMPANYPROJECTS_ID` != "" && s.`ESTIMATEDENDTIME` < s.`ACTUALSTARTTIME` ]]> then '0'
        when s.`COMPANYPROJECTS_ID` != "" then '1'
        ELSE '' END as phasestatus,
        s.`ESTIMATEDWORK` as estimatedwork,
        s.`ACTUALWORK` as actualwork,
        <![CDATA[ case when pp.COMPANYPROJECTS_ID = "" ]]> then '2'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && (curdate() < s.estimatedstarttime || curdate() > pp.etime) ]]>
        then '3'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && DATE_ADD(curdate(),interval 10 DAY ) >= pp.etime ]]>   then '0'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && curdate() >= s.estimatedstarttime && curdate() <= pp.etime ]]>
        then '1'
        else "" end contractstatus,
        c.`STATUS` as status,
        c.`COMPANYPROJECTS_ID`,
        c.ENTRUST as ENTRUST,
        c.WORK as WORK,
        c.LEADERID as LEADERID,
        c.FIELD as FIELD,
        c.OWNER as OWNER,
        c.GROUP_ID as group_id,
        c.CREATEON as CREATEON,
        pp.contractno as contractno
        from `companyprojects` c
        left outer join (select * from stageinformation where (COMPANYPROJECTS_ID,estimatedstarttime,PHASE,rowindex) in
        (select COMPANYPROJECTS_ID,max(estimatedstarttime),max(PHASE),max(rowindex)from stageinformation
        where
        <![CDATA[ ESTIMATEDSTARTTIME <= curdate() and ESTIMATEDENDTIME >= curdate() ]]> group by COMPANYPROJECTS_ID )) s
        on c.`COMPANYPROJECTS_ID` = s.`COMPANYPROJECTS_ID`
        and s.status = '0'

        left join (
        SELECT
        p.COMPANYPROJECTS_ID,
        GROUP_CONCAT( CONCAT_WS( '-', p.CONTRACT, p.CLAIMTYPE ) SEPARATOR ',' ) contractno,
        max( IFNULL( a.EXTENSIONDATE, substring( a.CLAIMDATETIME, 14, 10 ) ) ) AS etime
        FROM
        projectcontract p
        INNER JOIN contractapplication a ON a.contractnumber = p.CONTRACT
        AND a.STATUS = '0'
        AND p.STATUS = '0'
        GROUP BY
        p.COMPANYPROJECTS_ID
        ) pp
        on pp.COMPANYPROJECTS_ID = c.`COMPANYPROJECTS_ID`
        where (c.`STATUS` = '4' or c.`STATUS` = '5' or c.`STATUS` = '6' or c.`STATUS` = '8')
        <if test="owners != null and owners.size() > 0 ">
            and
            c.owner in
            <foreach item="item" index="index" collection="owners"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="group_id != null and group_id != ''">
            AND (c.CENTER_ID = #{group_id} or c.GROUP_ID = #{group_id} or c.TEAM_ID = #{group_id})
        </if>
        <if test="numbers != null and numbers != ''">
            AND c.NUMBERS LIKE CONCAT('%',#{numbers},'%')
        </if>
        <if test="project_name != null and project_name != ''">
            AND
            (PROJECT_NAME LIKE CONCAT( '%', ( SELECT to_base64 ( #{project_name} ) ), '%' )
            OR PROJECT_NAME LIKE CONCAT('%',#{project_name},'%'))
        </if>
        <if test="projecttype != null and projecttype != ''">
            AND PROJECTTYPE = #{projecttype}
        </if>
        <if test="contractno != null and contractno != ''">
            AND pp.contractno LIKE CONCAT('%',#{contractno},'%')
        </if>
        order by c.`CREATEON` desc

    </select>
<!--    PJ?? ?????????? ztc to-->

    <select id="getList4" resultType="com.nt.dao_Pfans.PFANS5000.Vo.CompanyProjectsVo2">
        select
            c.`COMPANYPROJECTS_ID`,
            c.`PROJECT_NAME`   as PROJECT_NAME,
            c.`PROJECT_NAMEJP` as PROJECT_NAMEJP,
            c.`NUMBERS`        as NUMBERS,
            s.`PHASE`          as phase,
            s.`PRODUCTSTATUS`  as productstatus,
            pp.contractno as contractno,
            Projectsystem.EXITTIME as EXITTIME,
        <![CDATA[ case
                when s.`COMPANYPROJECTS_ID` != "" && s.`ESTIMATEDENDTIME` < s.`ACTUALSTARTTIME` ]]> then '0'
                when s.`COMPANYPROJECTS_ID` != "" then '1'
                ELSE '' END    as phasestatus,
            s.`ESTIMATEDWORK`  as estimatedwork,
            s.`ACTUALWORK`     as actualwork,
        <![CDATA[ case
                when pp.COMPANYPROJECTS_ID = "" ]]> then '2'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && (curdate() < s.estimatedstarttime || curdate() > pp.etime) ]]>   then '3'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && DATE_ADD(curdate(), interval 10 DAY ) >= pp.etime ]]>   then '0'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && curdate() >= s.estimatedstarttime && curdate() <= pp.etime ]]>   then '1'
                else "" end       contractstatus,
            c.`STATUS`         as status,
            c.`COMPANYPROJECTS_ID`,
            c.ENTRUST          as ENTRUST,
            c.WORK
            as
            WORK,
            c
            .
            LEADERID as
            LEADERID,
            c
            .
            FIELD as
            FIELD,
            c.OWNER as OWNER,
            c.GROUP_ID as group_id,
            pp.contractno as contractno
        from `companyprojects` c
             left outer join (select * from stageinformation where (COMPANYPROJECTS_ID,estimatedstarttime,PHASE,rowindex) in
            (select COMPANYPROJECTS_ID,max(estimatedstarttime),max(PHASE),max(rowindex)from stageinformation
            where
        <![CDATA[ ESTIMATEDSTARTTIME <= curdate() and ESTIMATEDENDTIME >= curdate() ]]> group by COMPANYPROJECTS_ID )) s
        on c
           .
           `COMPANYPROJECTS_ID` =
           s
           .
           `COMPANYPROJECTS_ID`
           and
           s
           .
           status =
           '0'

        left
           join (
          SELECT
	p.COMPANYPROJECTS_ID,
	GROUP_CONCAT( CONCAT_WS( '-', p.CONTRACT, p.CLAIMTYPE ) SEPARATOR ',' ) contractno,
	max( IFNULL( a.EXTENSIONDATE, substring( a.CLAIMDATETIME, 14, 10 ) ) ) AS etime
FROM
	projectcontract p
	INNER JOIN contractapplication a ON a.contractnumber = p.CONTRACT
	AND a.STATUS = '0'
	AND p.STATUS = '0'
GROUP BY
	p.COMPANYPROJECTS_ID
            )
           pp
           on
           pp
           .
           COMPANYPROJECTS_ID =
           c
           .
           `COMPANYPROJECTS_ID`
           inner
           JOIN
            (
           select
           *
           from
           Projectsystem
           where
           Projectsystem
           .
           name =
           #{user})
           Projectsystem
           on
           Projectsystem
           .
           companyprojects_id =
           c
           .
           companyprojects_id
        where (c.`STATUS` = '4' or c.`STATUS` = '5' or c.`STATUS` = '6')

    </select>

<!--    PJ?? ?????????? ztc fr-->
    <select id="getListPL4" parameterType="com.nt.dao_Pfans.PFANS5000.Vo.CompanyProjectsVo2" resultType="com.nt.dao_Pfans.PFANS5000.Vo.CompanyProjectsVo2">
        select
            c.`COMPANYPROJECTS_ID`,
            c.`PROJECT_NAME`   as PROJECT_NAME,
            c.`PROJECT_NAMEJP` as PROJECT_NAMEJP,
            c.`PROJECTTYPE`    as PROJECTTYPE,
            c.`NUMBERS`        as NUMBERS,
            s.`PHASE`          as phase,
            s.`PRODUCTSTATUS`  as productstatus,
            pp.contractno as contractno,
        <![CDATA[ case
                when s.`COMPANYPROJECTS_ID` != "" && s.`ESTIMATEDENDTIME` < s.`ACTUALSTARTTIME` ]]> then '0'
                when s.`COMPANYPROJECTS_ID` != "" then '1'
                ELSE '' END    as phasestatus,
            s.`ESTIMATEDWORK`  as estimatedwork,
            s.`ACTUALWORK`     as actualwork,
        <![CDATA[ case
                when pp.COMPANYPROJECTS_ID = "" ]]> then '2'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && (curdate() < s.estimatedstarttime || curdate() > pp.etime) ]]>   then '3'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && DATE_ADD(curdate(), interval 10 DAY ) >= pp.etime ]]>   then '0'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && curdate() >= s.estimatedstarttime && curdate() <= pp.etime ]]>   then '1'
                else "" end       contractstatus,
            c.`STATUS`         as status,
            c.`COMPANYPROJECTS_ID`,
            c.ENTRUST          as ENTRUST,
            c.WORK
            as
            WORK,
            c
            .
            LEADERID as
            LEADERID,
            c
            .
            FIELD as
            FIELD,
            c.OWNER as OWNER,
            c.GROUP_ID as group_id,
            pp.contractno as contractno
        from (
        select * from companyprojects
        where COMPANYPROJECTS_ID in (
        select projectsystem.COMPANYPROJECTS_ID from projectsystem
        where
        UPPER(POSITION) = 'PL'
        <if test="owner != null and owner != ''">
            and name = #{owner}
        </if>
        and REPLACE(EXITTIME,'-','')  >= DATE_FORMAT(SYSDATE(),'%Y%m%d')
        GROUP BY projectsystem.COMPANYPROJECTS_ID)
        )
             c
             left outer join (select * from stageinformation where (COMPANYPROJECTS_ID,estimatedstarttime,PHASE,rowindex) in
            (select COMPANYPROJECTS_ID,max(estimatedstarttime),max(PHASE),max(rowindex)from stageinformation
            where
        <![CDATA[ ESTIMATEDSTARTTIME <= curdate() and ESTIMATEDENDTIME >= curdate() ]]> group by COMPANYPROJECTS_ID )) s
        on c
           .
           `COMPANYPROJECTS_ID` =
           s
           .
           `COMPANYPROJECTS_ID`
           and
           s
           .
           status =
           '0'

        left
           join (
          SELECT
	p.COMPANYPROJECTS_ID,
	GROUP_CONCAT( CONCAT_WS( '-', p.CONTRACT, p.CLAIMTYPE ) SEPARATOR ',' ) contractno,
	max( IFNULL( a.EXTENSIONDATE, substring( a.CLAIMDATETIME, 14, 10 ) ) ) AS etime
FROM
	projectcontract p
	INNER JOIN contractapplication a ON a.contractnumber = p.CONTRACT
	AND a.STATUS = '0'
	AND p.STATUS = '0'
GROUP BY
	p.COMPANYPROJECTS_ID
            )
           pp
           on
           pp
           .
           COMPANYPROJECTS_ID =
           c
           .
           `COMPANYPROJECTS_ID`
           inner
           JOIN
            (
           select
           *
           from
           Projectsystem
           where 1=1
        <if test="owner != null and owner != ''">
            and
           Projectsystem
           .
           name =
           #{owner}
        </if>
            )
           Projectsystem
           on
           Projectsystem
           .
           companyprojects_id =
           c
           .
           companyprojects_id
        <if test="group_id != null and group_id != ''">
            AND (c.CENTER_ID = #{group_id} or c.GROUP_ID = #{group_id} or c.TEAM_ID = #{group_id})
        </if>
        <if test="numbers != null and numbers != ''">
            AND c.NUMBERS LIKE CONCAT('%',#{numbers},'%')
        </if>
        <if test="project_name != null and project_name != ''">
            AND
            (PROJECT_NAME LIKE CONCAT( '%', ( SELECT to_base64 ( #{project_name} ) ), '%' )
            OR PROJECT_NAME LIKE CONCAT('%',#{project_name},'%'))
        </if>
        <if test="projecttype != null and projecttype != ''">
            AND PROJECTTYPE = #{projecttype}
        </if>
        <if test="contractno != null and contractno != ''">
            AND pp.contractno LIKE CONCAT('%',#{contractno},'%')
        </if>
        where (c.`STATUS` = '4' or c.`STATUS` = '5' or c.`STATUS` = '6' or c.`STATUS` = '8')

    </select>
<!--    PJ?? ?????????? ztc to-->

    <select id="getList2" resultType="com.nt.dao_Pfans.PFANS5000.Vo.CompanyProjectsVo2">
        select
        c.`COMPANYPROJECTS_ID`,
        c.`PROJECT_NAME` as PROJECT_NAME,
        c.`PROJECT_NAMEJP` as PROJECT_NAMEJP,
        c.`PROJECTTYPE` as PROJECTTYPE,
        c.`NUMBERS` as NUMBERS,
        s.`PHASE` as phase,
        s.`PRODUCTSTATUS` as productstatus,
        <![CDATA[ case when s.`COMPANYPROJECTS_ID` != "" && s.`ESTIMATEDENDTIME` < s.`ACTUALSTARTTIME` ]]> then '0'
        when s.`COMPANYPROJECTS_ID` != "" then '1'
        ELSE '' END as phasestatus,
        s.`ESTIMATEDWORK` as estimatedwork,
        s.`ACTUALWORK` as actualwork,
        <![CDATA[ case when pp.COMPANYPROJECTS_ID = "" ]]> then '2'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && (curdate() < s.estimatedstarttime || curdate() > pp.etime) ]]>
        then '3'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && DATE_ADD(curdate(),interval 10 DAY ) >= pp.etime ]]>   then '0'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && curdate() >= s.estimatedstarttime && curdate() <= pp.etime ]]>
        then '1'
        else "" end contractstatus,
        c.`STATUS` as status,
        c.`COMPANYPROJECTS_ID`,
        c.ENTRUST as ENTRUST,
        c.WORK as WORK,
        c.LEADERID as LEADERID,
        c.FIELD as FIELD,
        c.OWNER as OWNER,
        c.`STARTDATE` as startdate,
        c.`ENDDATE` as enddate,
        c.`ENDTIME` as endtime,
        c.GROUP_ID as group_id
        from `companyprojects` c
        left outer join (select * from stageinformation where (COMPANYPROJECTS_ID,estimatedstarttime,PHASE,rowindex) in
        (select COMPANYPROJECTS_ID,max(estimatedstarttime),max(PHASE),max(rowindex)from stageinformation
        where
        <![CDATA[ ESTIMATEDSTARTTIME <= curdate() and ESTIMATEDENDTIME >= curdate() ]]> group by COMPANYPROJECTS_ID )) s
        on c.`COMPANYPROJECTS_ID` = s.`COMPANYPROJECTS_ID`
        and s.status = '0'
        left join (
        select p.COMPANYPROJECTS_ID,
        max(IFNULL(a.EXTENSIONDATE,substring(a.CLAIMDATETIME,14,10))) as etime
        from projectcontract p
        inner join contractapplication a
        on a.contractnumber = p.CONTRACT
        and a.status = '0' and p.status = '0'
        group by p.COMPANYPROJECTS_ID
        ) pp
        on pp.COMPANYPROJECTS_ID = c.`COMPANYPROJECTS_ID`
        where (c.`STATUS` = '4' or c.`STATUS` = '7' or c.`STATUS` = '8')
        <if test="owners != null and owners.size() > 0 ">
            and
            c.owner in
            <foreach item="item" index="index" collection="owners"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by c.`CREATEON` desc

    </select>
    <select id="getListPL2" resultType="com.nt.dao_Pfans.PFANS5000.Vo.CompanyProjectsVo2">
        select
        c.`COMPANYPROJECTS_ID`,
        c.`PROJECT_NAME` as PROJECT_NAME,
        c.`PROJECT_NAMEJP` as PROJECT_NAMEJP,
        c.`PROJECTTYPE` as PROJECTTYPE,
        c.`NUMBERS` as NUMBERS,
        s.`PHASE` as phase,
        s.`PRODUCTSTATUS` as productstatus,
        <![CDATA[ case when s.`COMPANYPROJECTS_ID` != "" && s.`ESTIMATEDENDTIME` < s.`ACTUALSTARTTIME` ]]> then '0'
        when s.`COMPANYPROJECTS_ID` != "" then '1'
        ELSE '' END as phasestatus,
        s.`ESTIMATEDWORK` as estimatedwork,
        s.`ACTUALWORK` as actualwork,
        <![CDATA[ case when pp.COMPANYPROJECTS_ID = "" ]]> then '2'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && (curdate() < s.estimatedstarttime || curdate() > pp.etime) ]]>
        then '3'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && DATE_ADD(curdate(),interval 10 DAY ) >= pp.etime ]]>   then '0'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && curdate() >= s.estimatedstarttime && curdate() <= pp.etime ]]>
        then '1'
        else "" end contractstatus,
        c.`STATUS` as status,
        c.`COMPANYPROJECTS_ID`,
        c.ENTRUST as ENTRUST,
        c.WORK as WORK,
        c.LEADERID as LEADERID,
        c.FIELD as FIELD,
        c.OWNER as OWNER,
        c.`STARTDATE` as startdate,
        c.`ENDDATE` as enddate,
        c.`ENDTIME` as endtime,
        c.GROUP_ID as group_id
        from (
        select * from companyprojects
        where COMPANYPROJECTS_ID in (
        select projectsystem.COMPANYPROJECTS_ID from projectsystem
        where
        UPPER(POSITION) = 'PL'
        and name = #{user}
        and REPLACE(EXITTIME,'-','')  >= DATE_FORMAT(SYSDATE(),'%Y%m%d')
        GROUP BY projectsystem.COMPANYPROJECTS_ID)
        ) c
        left outer join (select * from stageinformation where (COMPANYPROJECTS_ID,estimatedstarttime,PHASE,rowindex) in
        (select COMPANYPROJECTS_ID,max(estimatedstarttime),max(PHASE),max(rowindex)from stageinformation
        where
        <![CDATA[ ESTIMATEDSTARTTIME <= curdate() and ESTIMATEDENDTIME >= curdate() ]]> group by COMPANYPROJECTS_ID )) s
        on c.`COMPANYPROJECTS_ID` = s.`COMPANYPROJECTS_ID`
        and s.status = '0'
        left join (
        select p.COMPANYPROJECTS_ID,
        max(IFNULL(a.EXTENSIONDATE,substring(a.CLAIMDATETIME,14,10))) as etime
        from projectcontract p
        inner join contractapplication a
        on a.contractnumber = p.CONTRACT
        and a.status = '0' and p.status = '0'
        group by p.COMPANYPROJECTS_ID
        ) pp
        on pp.COMPANYPROJECTS_ID = c.`COMPANYPROJECTS_ID`
        where (c.`STATUS` = '4' or c.`STATUS` = '7' or c.`STATUS` = '8')
        order by c.`CREATEON` desc

    </select>

    <select id="getListPL3" resultType="com.nt.dao_Pfans.PFANS5000.Vo.CompanyProjectsVo2">
        select
        c.`COMPANYPROJECTS_ID`,
        c.`PROJECT_NAME` as PROJECT_NAME,
        c.`PROJECT_NAMEJP` as PROJECT_NAMEJP,
        c.`PROJECTTYPE` as PROJECTTYPE,
        c.`NUMBERS` as NUMBERS,
        c.`STARTDATE` as STARTDATE,
        c.`ENDDATE` as ENDDATE,
        c.`ENDTIME` as ENDTIME,
        s.`PHASE` as phase,
        s.`PRODUCTSTATUS` as productstatus,
        <![CDATA[ case when s.`COMPANYPROJECTS_ID` != "" && s.`ESTIMATEDENDTIME` < s.`ACTUALSTARTTIME` ]]> then '0'
        when s.`COMPANYPROJECTS_ID` != "" then '1'
        ELSE '' END as phasestatus,
        s.`ESTIMATEDWORK` as estimatedwork,
        s.`ACTUALWORK` as actualwork,
        <![CDATA[ case when pp.COMPANYPROJECTS_ID = "" ]]> then '2'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && (curdate() < s.estimatedstarttime || curdate() > pp.etime) ]]>
        then '3'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && DATE_ADD(curdate(),interval 10 DAY ) >= pp.etime ]]>   then '0'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && curdate() >= s.estimatedstarttime && curdate() <= pp.etime ]]>
        then '1'
        else "" end contractstatus,
        c.`STATUS` as status,
        c.`COMPANYPROJECTS_ID`,
        c.ENTRUST as ENTRUST,
        c.WORK as WORK,
        c.LEADERID as LEADERID,
        c.FIELD as FIELD,
        c.OWNER as OWNER,
        c.`STARTDATE` as startdate,
        c.`ENDDATE` as enddate,
        c.`ENDTIME` as endtime,
        c.GROUP_ID as group_id
        from (select * from companyprojects
        where COMPANYPROJECTS_ID in (
        select projectsystem.COMPANYPROJECTS_ID from projectsystem
        where
        UPPER(POSITION) = 'PL'
        and name = #{user}
        and REPLACE(EXITTIME,'-','')  >= DATE_FORMAT(SYSDATE(),'%Y%m%d')
        GROUP BY projectsystem.COMPANYPROJECTS_ID)
        ) c
        left outer join (select * from stageinformation where (COMPANYPROJECTS_ID,estimatedstarttime,PHASE,rowindex) in
        (select COMPANYPROJECTS_ID,max(estimatedstarttime),max(PHASE),max(rowindex)from stageinformation
        where
        <![CDATA[ ESTIMATEDSTARTTIME <= curdate() and ESTIMATEDENDTIME >= curdate() ]]> group by COMPANYPROJECTS_ID )) s
        on c.`COMPANYPROJECTS_ID` = s.`COMPANYPROJECTS_ID`
        and s.status = '0'
        left join (
        select p.COMPANYPROJECTS_ID,
        max(IFNULL(a.EXTENSIONDATE,substring(a.CLAIMDATETIME,14,10))) as etime
        from projectcontract p
        inner join contractapplication a
        on a.contractnumber = p.CONTRACT
        and a.status = '0' and p.status = '0'
        group by p.COMPANYPROJECTS_ID
        ) pp
        on pp.COMPANYPROJECTS_ID = c.`COMPANYPROJECTS_ID`
        where (c.`STATUS` = '9')
        order by c.`CREATEON` desc

    </select>
    <select id="getList3" resultType="com.nt.dao_Pfans.PFANS5000.Vo.CompanyProjectsVo2">
        select
        c.`COMPANYPROJECTS_ID`,
        c.`PROJECT_NAME` as PROJECT_NAME,
        c.`PROJECT_NAMEJP` as PROJECT_NAMEJP,
        c.`PROJECTTYPE` as PROJECTTYPE,
        c.`NUMBERS` as NUMBERS,
        c.`STARTDATE` as STARTDATE,
        c.`ENDDATE` as ENDDATE,
        c.`ENDTIME` as ENDTIME,
        s.`PHASE` as phase,
        s.`PRODUCTSTATUS` as productstatus,
        <![CDATA[ case when s.`COMPANYPROJECTS_ID` != "" && s.`ESTIMATEDENDTIME` < s.`ACTUALSTARTTIME` ]]> then '0'
        when s.`COMPANYPROJECTS_ID` != "" then '1'
        ELSE '' END as phasestatus,
        s.`ESTIMATEDWORK` as estimatedwork,
        s.`ACTUALWORK` as actualwork,
        <![CDATA[ case when pp.COMPANYPROJECTS_ID = "" ]]> then '2'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && (curdate() < s.estimatedstarttime || curdate() > pp.etime) ]]>
        then '3'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && DATE_ADD(curdate(),interval 10 DAY ) >= pp.etime ]]>   then '0'
        <![CDATA[ when pp.COMPANYPROJECTS_ID != "" && curdate() >= s.estimatedstarttime && curdate() <= pp.etime ]]>
        then '1'
        else "" end contractstatus,
        c.`STATUS` as status,
        c.`COMPANYPROJECTS_ID`,
        c.ENTRUST as ENTRUST,
        c.WORK as WORK,
        c.LEADERID as LEADERID,
        c.FIELD as FIELD,
        c.OWNER as OWNER,
        c.`STARTDATE` as startdate,
        c.`ENDDATE` as enddate,
        c.`ENDTIME` as endtime,
        c.GROUP_ID as group_id
        from `companyprojects` c
        left outer join (select * from stageinformation where (COMPANYPROJECTS_ID,estimatedstarttime,PHASE,rowindex) in
        (select COMPANYPROJECTS_ID,max(estimatedstarttime),max(PHASE),max(rowindex)from stageinformation
        where
        <![CDATA[ ESTIMATEDSTARTTIME <= curdate() and ESTIMATEDENDTIME >= curdate() ]]> group by COMPANYPROJECTS_ID )) s
        on c.`COMPANYPROJECTS_ID` = s.`COMPANYPROJECTS_ID`
        and s.status = '0'
        left join (
        select p.COMPANYPROJECTS_ID,
        max(IFNULL(a.EXTENSIONDATE,substring(a.CLAIMDATETIME,14,10))) as etime
        from projectcontract p
        inner join contractapplication a
        on a.contractnumber = p.CONTRACT
        and a.status = '0' and p.status = '0'
        group by p.COMPANYPROJECTS_ID
        ) pp
        on pp.COMPANYPROJECTS_ID = c.`COMPANYPROJECTS_ID`
        where (c.`STATUS` = '9')
        <if test="owners != null and owners.size() > 0 ">
            and
            c.owner in
            <foreach item="item" index="index" collection="owners"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by c.`CREATEON` desc

    </select>

    <select id="getListVo2" resultType="com.nt.dao_Pfans.PFANS5000.Vo.CompanyProjectsVo2">
        select a.CONTRACTNUMBER as contractnumber,c.COMPANYPROJECTS_ID as companyprojects_id
        from companyprojects c
                 left outer join `projectcontract` p
                                 on c.`COMPANYPROJECTS_ID` = p.`COMPANYPROJECTS_ID`
                                     and p.status = '0'
                 left outer join contractapplication a
                                 on a.CONTRACTAPPLICATION_ID = p.CONTRACT
                                     and a.status = '0'
        where c.status = '0'
        order by a.createon desc
    </select>

    <select id="getCompanyProject" resultType="com.nt.dao_Pfans.PFANS5000.Vo.CompanyProjectsVo3">
        select pp.project_name,pp.projecttype,pp.group_id,pp.name,pp.ADMISSIONTIME,pp.EXITTIME
        from
            (select ps.ADMISSIONTIME,ps.EXITTIME, cp.project_name,cp.projecttype,cp.group_id,ps.name
             from companyprojects cp,
                  projectsystem ps
             where cp.companyprojects_id = ps.companyprojects_id
               and ps.name = #{SyspName}
             union
             select ps.ADMISSIONTIME,ps.EXITTIME, cp.project_name,cp.projecttype,cp.group_id,ps.name
             from comproject cp,
                  prosystem ps
             where cp.COMPROJECT_ID = ps.COMPROJECT_ID
               and ps.name = #{SyspName}) as pp
        ORDER BY pp.ADMISSIONTIME desc
    </select>

    <!--zy start ???? 2021/06/13-->
    <resultMap id="reportBaseData" type="com.nt.dao_Pfans.PFANS5000.Vo.CompanyProjectsReport">
        <result property="companyprojects_id" column="COMPANYPROJECTS_ID"/>
        <result property="project_name" column="PROJECT_NAME"/>
        <result property="group_id" column="GROUP_ID"/>
        <result property="center_id" column="CENTER_ID"/>
        <result property="contract" column="CONTRACT"/>
        <result property="contractamount" column="CONTRACTAMOUNT"/>
        <result property="startdate" column="STARTDATE"/>
        <result property="enddate" column="ENDDATE"/>
        <collection property="logMonthTime" ofType="com.nt.dao_Pfans.PFANS5000.Vo.MonthTime">
            <result property="logMonth" column="logMonth"/>
            <result property="type" column="type"/>
            <result property="name" column="name"/>
            <result property="time" column="time"/>
        </collection>
    </resultMap>

    <select id="getRepotBaseData" resultMap="reportBaseData">
        select
          cp.COMPANYPROJECTS_ID, cp.PROJECT_NAME, cp.GROUP_ID, cp.CENTER_ID, pc.CONTRACT, pc.CONTRACTAMOUNT,
          case
            when cp.STARTDATE > #{start} then cp.STARTDATE
            else #{start}
          end as STARTDATE,
          case
            <![CDATA[
            when cp.ENDDATE < #{end} then cp.ENDDATE
            else #{end}
            ]]>
          end as ENDDATE,
          case
            when a_time.log_month is null then SUBSTR(STARTDATE, 1 , 7)
            else a_time.log_month
          end as logMonth,
           a_time.name as name,
          case
            when a_time.time is null then 0
            else a_time.time
          end as time, a_time.type
        from companyprojects cp
        left join (
                  select COMPANYPROJECTS_ID, group_concat(CONTRACT) as CONTRACT,
                         ROUND(sum(CONTRACTAMOUNT),2) as CONTRACTAMOUNT
                  from projectcontract
                  where `status` = 0
                  group by COMPANYPROJECTS_ID
            ) pc on cp.COMPANYPROJECTS_ID = pc.COMPANYPROJECTS_ID
        left join(
                 select COMPANYPROJECTS_ID, sum(TIME_START) as time, SUBSTR(LOG_DATE, 1 , 7) as log_month, ps.TYPE,ps.name
                 from projectsystem ps
                        left join logmanagement log
                          on ps.NAME = log.CREATEBY
                          AND log.PROJECT_ID = ps.COMPANYPROJECTS_ID
                 where ps.name is not null
                 group by COMPANYPROJECTS_ID, log_month, ps.name ,ps.TYPE
        ) a_time
            on a_time.COMPANYPROJECTS_ID = cp.COMPANYPROJECTS_ID
        where
        <![CDATA[
            (cp.STARTDATE <= #{start} and cp.ENDDATE >= #{start})
        or  (cp.STARTDATE <= #{end} and cp.ENDDATE >= #{end})
        or  (cp.STARTDATE >= #{start} and cp.ENDDATE <= #{end})
        ]]>
        order by cp.COMPANYPROJECTS_ID
    </select>

    <select id="getMoneysByProject" resultType="com.nt.dao_Pfans.PFANS5000.Vo.Monthly">
        select
          sum(MONEYS) as data,
          SUBSTR(REIMBURSEMENTDATE, 1, 7) as month
        from
          publicexpense
        where PROJECT_ID = #{companyprojectsId}
        group by  month
    </select>
    <!--zy end ???? 2021/06/13-->

    <select id="selectCont" resultType="com.nt.dao_Pfans.PFANS1000.Contractapplication">
        SELECT
            *
        FROM
            `contractapplication`
        WHERE
            ENTRUSTEDNUMBER = #{contractNo}
            AND CHECKINDIVDUAL != '1'
            AND STATE != '??'
            AND ENTRYCONDITION != 'HT004001'
          AND (GROUP_ID = #{centerId}
            OR GROUP_ID = #{groupId})
    </select>

<!--    PJ?? ?????????? ztc fr-->
    <select id="selectList" parameterType="com.nt.dao_Pfans.PFANS5000.CompanyProjects" resultType="com.nt.dao_Pfans.PFANS5000.CompanyProjects">
        SELECT
            *
        FROM
            companyProjects
        WHERE
            STATUS != '1'
            <if test="numbers != null and numbers != ''">
                AND NUMBERS LIKE CONCAT('%',#{numbers},'%')
            </if>
            <if test="project_name != null and project_name != ''">
                AND
                (PROJECT_NAME LIKE CONCAT( '%', ( SELECT to_base64 ( #{project_name} ) ), '%' )
                OR PROJECT_NAME LIKE CONCAT('%',#{project_name},'%'))
            </if>
            <if test="projecttype != null and projecttype != ''">
                AND PROJECTTYPE = #{projecttype}
            </if>
            <if test="leaderid != null and leaderid != ''">
                AND LEADERID = #{leaderid}
            </if>
            <if test="startdate != null and enddate != null">
                AND STARTDATE &lt;= DATE_FORMAT(#{enddate},'%Y-%m-%d') AND ENDDATE &gt;= DATE_FORMAT(#{startdate},'%Y-%m-%d')
            </if>
            <if test="owners != null and owners.size() > 0 ">
                AND OWNER in
                <foreach item="item" index="index" collection="owners" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </select>
<!--    PJ?? ?????????? ztc to-->
</mapper>
