<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS1000.mapper.ContractapplicationMapper">
    <select id="existCheck" resultType="com.nt.dao_Pfans.PFANS1000.Vo.ExistVo">
        select a.count1 as count1,b.count1 as count2,c.count1 as count3,d.count1 as count4,e.count1 as count5,f.count1 as count6,g.count1 as count7
        from(
        select count(*) as count1 from `quotation` where CONTRACTNUMBER = #{contractNumber} and status = '0'
        ) as a
        left join
        (
        select count(*) as count1 from `nonjudgment` where CONTRACTNUMBER = #{contractNumber} and status = '0'
        ) as b on 1 =1
        left join
        (
        select count(*) as count1 from `contract` where CONTRACTNUMBER = #{contractNumber} and status = '0'
        ) as c on 1 =1
        left join
        (
        select count(*) as count1 from `award` where CONTRACTNUMBER = #{contractNumber} and MAKETYPE = '4' and status = '0'
        ) as d on 1 =1
        left join
        (
        select count(*) as count1 from `napalm` where CONTRACTNUMBER = #{contractNumber} and status = '0'
        ) as e on 1 =1
        left join
        (
        select count(*) as count1 from `petition` where CONTRACTNUMBER = #{contractNumber} and status = '0'
        ) as f on 1 =1
        left join
        (
        select count(*) as count1 from `award` where CONTRACTNUMBER = #{contractNumber} and MAKETYPE = '7' and status = '0'
        ) as g on 1 =1
	</select>

</mapper>
