<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS1000.mapper.ContractapplicationMapper">
    <select id="existCheck" resultType="com.nt.dao_Pfans.PFANS1000.Vo.ExistVo">
        select a.count1 as count1,b.count1 as count2,c.count1 as count3,d.count1 as count4,e.count1 as count5,f.count1 as count6,g.count1 as count7
        ,h.count1 as count8
        ,ga.count1 as count9

        from(
        select count(*) as count1 from `quotation` where CONTRACTNUMBER = #{contractNumber} and status = '0'
        ) as a
        left join
        (
        select count(*) as count1 from `nonjudgment` where CONTRACTNUMBER = #{contractNumber} and status = '0'
        ) as b on 1 =1
        left join
        (
        select count(*) as count1 from `contract` where CONTRACTNUMBER = #{contractNumber} and status = '0'
        ) as c on 1 =1
        left join
        (
        select count(*) as count1 from `award` where CONTRACTNUMBER = #{contractNumber} and MAKETYPE = '4' and status = '0'
        ) as d on 1 =1
        left join
        (
        select count(*) as count1 from `napalm` where CONTRACTNUMBER = #{contractNumber} and status = '0'
        ) as e on 1 =1
        left join
        (
        select count(*) as count1 from `petition` where CONTRACTNUMBER = #{contractNumber} and status = '0'
        ) as f on 1 =1
        left join
        (
        select count(*) as count1 from `award` where CONTRACTNUMBER = #{contractNumber} and MAKETYPE = '7' and status = '0'
        ) as g on 1 =1
        left join
        (
        select count(*) as count1 from `individual` where CONTRACTNUMBER = #{contractNumber} and status = '0'
        ) as h on 1 =1
        left join
        (
        select count(*) as count1 from `award` where CONTRACTNUMBER = #{contractNumber} and MAKETYPE = '9' and status = '0'
        ) as ga on 1 =1
	</select>
    <select id="existN" parameterType="list" resultType="com.nt.dao_Pfans.PFANS1000.Vo.ExistVo">
        select count(*) as count5
        from napalm
        where (CLAIMNUMBER) in
        <foreach collection="NapinList" index="index" item="item" open="("
                 separator="," close=")">
            (#{item})
        </foreach>
        and status = '0'
	</select>

    <select id="existQ" parameterType="list" resultType="com.nt.dao_Pfans.PFANS1000.Vo.ExistVo">
        select count(*) as count6
        from petition
        where (CLAIMNUMBER) in
        <foreach collection="QingqiuList" index="index" item="item" open="("
                 separator="," close=")">
            (#{item})
        </foreach>
        and status = '0'
	</select>

    <select id="purchaseExistCheck" resultType="com.nt.dao_Pfans.PFANS1000.Contractnumbercount">
        select cc.purnumbers,cc.contractnumber
        from contractapplication cl
        inner join contractnumbercount cc
        on cl.CONTRACTNUMBER = cc.CONTRACTNUMBER
        where cl.status = '0'
        <if test="purnumbers != null and purnumbers!=''">
            and cc.purnumbers = #{purnumbers}
        </if>
    </select>

    <select id="selectPJ" resultType="java.lang.String">
        select p.COMPANYPROJECTS_ID
        from projectcontract p
        where p.contract =#{contractnumber}
        group by p.COMPANYPROJECTS_ID
    </select>

    <update id="updateProjectcontractById"  parameterType="java.util.List">
        <foreach collection="PtList" item="item" index="index" open="" close=";" separator=";">
            update projectcontract set status = '1'
            where CONTRACTNUMBERCOUNT_ID = #{item}
        </foreach>
    </update>

    <select id="getPjCode" resultType="com.nt.dao_Pfans.PFANS1000.Contractapplication">
        SELECT
            pro.CONTRACT AS contractnumber,
            REPLACE(GROUP_CONCAT( pro.NUMBERS, ',' ),',,',',') projectnumber
        FROM
            ( SELECT DISTINCT CONTRACT, NUMBERS FROM projectcontract p, CompanyProjects c WHERE p.COMPANYPROJECTS_ID = c.COMPANYPROJECTS_ID ) pro
        WHERE pro.CONTRACT != ''
        GROUP BY
            pro.CONTRACT,pro.NUMBERS
    </select>
</mapper>
