<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS1000.mapper.DepartmentalInsideMapper">
    <select id="getBaseInfo" resultType="com.nt.dao_Pfans.PFANS1000.Vo.DepartmentalInsideBaseVo">
        SELECT
            cpt.THEMEINFOR_ID,
            cpt.THEMENAME,
            cpt.DIVIDE,
            cpt.TOOLSORGS,
            cpt.CONTRACTNUMBER,
            cpt.CLAIMAMOUNT,
            cpt.ENTRYCONDITION,
            cpt.CONTRACATAMOUNTDETAIL,
            cs.COMPANYPROJECTS_ID,
            cs.NUMBERS,
            pm.`NAME`,
            pm.RANK
        FROM
            (
                SELECT
                    tr.THEMEINFOR_ID,
                    tr.THEMENAME,
                    tr.DIVIDE,
                    tr.TOOLSORGS,
                    cp.CONTRACTNUMBER,
                    cp.CLAIMAMOUNT,
                    cp.ENTRYCONDITION,
                    ct.CONTRACTNUMBERCOUNT_ID,
                    ct.CLAIMAMOUNT AS CONTRACATAMOUNTDETAIL
                FROM
                    themeinfor tr
                        INNER JOIN contractapplication cp ON tr.THEMEINFOR_ID = cp.THEMEINFOR_ID
                        INNER JOIN contractnumbercount ct ON cp.CONTRACTNUMBER = ct.CONTRACTNUMBER
                WHERE
                    cp.`STATUS` != '1'
	            AND tr.YEAR = #{YEAR}
            ) cpt
                INNER JOIN projectcontract pt ON pt.CONTRACTNUMBERCOUNT_ID = cpt.CONTRACTNUMBERCOUNT_ID
                INNER JOIN projectsystem pm ON pm.COMPANYPROJECTS_ID = pt.COMPANYPROJECTS_ID
                INNER JOIN companyprojects cs ON cs.COMPANYPROJECTS_ID = pm.COMPANYPROJECTS_ID
                AND cs.`STATUS` >= 4
                AND pm.type = '0'
    </select>
    <select id="getWorkInfo" resultType="com.nt.dao_Pfans.PFANS1000.Vo.StaffWorkMonthInfoVo">
        SELECT
            `CREATEBY` AS userid,
            ROUND( SUM( TIME_START ) / my_WorkingDays (DATE_FORMAT( LOG_DATE, '%Y%m' )), 2 ) TIME_START,
            GROUP_ID,
            DATE_FORMAT( LOG_DATE, '%m' ) LDATE
        FROM
            logmanagement lg
        WHERE
            date_format( lg.LOG_DATE, '%Y-%m' )  = #{LOG_DATE}
          AND CREATEBY in
        <foreach collection="userList" index="index" item="item" open="("
                 separator="," close=")">
            (#{item})
        </foreach>
    </select>
</mapper>