<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS1000.mapper.EvectionMapper">
<!--    upd-lyt-21/4/6-PSDCD_PFANS_20210318_BUG_035-编号问题横展开-start-->
    <select id="getInvoiceNo" resultType="Integer">
        select MAX(CONVERT (SUBSTRING(INVOICENO,8) , signed)) from evection
        where REIMBURSEMENTDATE = #{reimbursementDate}
        group by REIMBURSEMENTDATE
    </select>
    <!--    upd-lyt-21/4/6-PSDCD_PFANS_20210318_BUG_035-编号问题横展开-end-->

    <select id="getSearch" parameterType="com.nt.dao_Pfans.PFANS1000.Evection" resultType="com.nt.dao_Pfans.PFANS1000.Evection">
        SELECT
        *
        FROM
        evection
        where status != '1'
        <if test="invoiceno != null and invoiceno != ''">
            and invoiceno like CONCAT('%',#{invoiceno},'%')
        </if>
        <if test="userid != null and userid != ''">
            and userid = #{userid}
        </if>
        <if test="centerid != null and centerid != ''">
            and centerid = #{centerid}
        </if>
        <if test="groupid != null and groupid != ''">
            and groupid = #{groupid}
        </if>
        <if test="type != null and type != ''">
            and type = #{type}
        </if>
        <if test="startdate != null and startdate != ''.toString()">
            and startdate = DATE_FORMAT(#{startdate},'%Y-%m-%d')
        </if>
        <if test="enddate != null and enddate != ''.toString()">
            and enddate = DATE_FORMAT(#{enddate},'%Y-%m-%d')
        </if>
        <if test="owners != null and owners.size() > 0 ">
            and
            owner in
            <foreach item="item" index="index" collection="owners"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
