<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS2000.mapper.GivingMapper">
    <select id="selectOthertwo" parameterType="java.lang.String" resultType="com.nt.dao_Pfans.PFANS2000.OtherTwo2">
     select user_id,sum(moneys) as moneys from othertwo
     where `status` = '0'
     and giving_id= #{givingid}
     group by user_id
    </select>

    <select id="selectAttendance" parameterType="java.lang.String" resultType="com.nt.dao_Pfans.PFANS2000.Attendance">
     select user_id,sum(ordinaryindustry) as ordinaryindustry,
      sum(ordinaryindustrynight) as ordinaryindustrynight,
      sum(weekendindustry) as weekendindustry,
      sum(weekendindustrynight) as weekendindustrynight,
      sum(statutoryresidue) as statutoryresidue,
      sum(statutoryresiduenight) as statutoryresiduenight,
      sum(shortsickleave) as shortsickleave,
      sum(longsickleave) as longsickleave,
      sum(late) as late,
      sum(leaveearly) as leaveearly,
      sum(daixiu) as daixiu,
      sum(absenteeism) as absenteeism
      from attendance
     where
     user_id= #{user_id} and
     years= #{years} and
     months= #{months}
     group by user_id
    </select>

    <select id="selectBase"  resultType="com.nt.dao_Pfans.PFANS2000.Vo.BaseVo">
    select
        wages.*, base.lastmonthbasic,
        base.lastmonthduty,
        base.thismonthbasic as thisbasic,
        base.thismonthduty
    from  wages
    left join base
    ON base.giving_id=wages.giving_id
    AND base.user_id=wages.user_id
    </select>

</mapper>
