<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS2000.mapper.GivingMapper">
    <select id="selectOthertwo" parameterType="java.lang.String" resultType="com.nt.dao_Pfans.PFANS2000.OtherTwo2">
     select user_id,sum(moneys) as moneys from othertwo
     where `status` = '0'
     and giving_id= #{givingid}
     group by user_id
    </select>

    <select id="selectAttendance" parameterType="java.lang.String" resultType="com.nt.dao_Pfans.PFANS2000.Attendance">
     select user_id,sum(ordinaryindustry) as ordinaryindustry,
      sum(ordinaryindustrynight) as ordinaryindustrynight,
      sum(weekendindustry) as weekendindustry,
      sum(weekendindustrynight) as weekendindustrynight,
      sum(statutoryresidue) as statutoryresidue,
      sum(statutoryresiduenight) as statutoryresiduenight,
      sum(shortsickleave) as shortsickleave,
      sum(longsickleave) as longsickleave,
      sum(late) as late,
      sum(leaveearly) as leaveearly,
      sum(daixiu) as daixiu,
      sum(absenteeism) as absenteeism
      from attendance
     where
     user_id= #{user_id} and
     years= #{years} and
     months= #{months}
     group by user_id
    </select>

    <select id="selectBase"  resultType="com.nt.dao_Pfans.PFANS2000.Vo.BaseVo" parameterType="java.lang.String">
    select
        wages.*,
		base.lastmonthduty,
        base.thismonthbasic as thisbasic,
        base.thismonthduty
    from  wages
    left join base
    ON base.giving_id=wages.giving_id
    AND base.user_id=wages.user_id
    where wages.CREATEONYM = #{dates}
    and wages.actual = '0'
    </select>

    <select id="getAttendanceRetireCount" resultType="Integer">
        SELECT
            count(*)
        FROM
        (
            SELECT
                co.*,
                concat(
                    co.USER_ID,
                    ',',
                    substring( DATE_FORMAT( DATE_ADD( now(), INTERVAL - 1 MONTH ), '%Y-%m' ), 1, 4 ),
                    ',',
                substring( DATE_FORMAT( DATE_ADD( now(), INTERVAL - 1 MONTH ), '%Y-%m' ), 6, 7 )) AS coststatistics_id,
                workflow.STATUS
            FROM
                (
                SELECT
                    user_id
                FROM
                    attendance
                WHERE
                    STATUS = '0'
                    AND DATE_FORMAT( dates, '%Y-%m' ) = DATE_FORMAT( DATE_ADD( now(), INTERVAL - 1 MONTH ), '%Y-%m' )
                    <if test="userIdList != null and userIdList.size() > 0 ">
                        and
                        user_id in
                        <foreach item="item" index="index" collection="userIdList"
                                 open="(" separator="," close=")">
                            #{item}
                        </foreach>
                    </if>
                GROUP BY
                    user_id
                ) co
                LEFT JOIN (
                SELECT
                    wf1.*
                FROM
                    workflowinstance wf1
                WHERE
                    NOT EXISTS ( SELECT 1 FROM workflowinstance wf2 WHERE wf2.DATAID = wf1.DATAID AND wf2.CREATEON > wf1.CREATEON )
                    ) workflow ON workflow.DATAID = concat(
                    co.USER_ID,
                    ',',
                    substring( DATE_FORMAT( DATE_ADD( now(), INTERVAL - 1 MONTH ), '%Y-%m' ), 1, 4 ),
                    ',',
                substring( DATE_FORMAT( DATE_ADD( now(), INTERVAL - 1 MONTH ), '%Y-%m' ), 6, 7 ))
            WHERE
            ( workflow.STATUS != 4 OR workflow.STATUS IS NULL )
        ) attcount

    </select>

    <select id="getAttendanceStatus" resultType="Integer">
        SELECT
            count(*)
        FROM
        (
            SELECT
                co.*,
                concat(
                    co.user_id,
                    ',',
                    substring( DATE_FORMAT( DATE_ADD( now(), INTERVAL - 1 MONTH ), '%Y-%m' ), 1, 4 ),
                    ',',
                substring( DATE_FORMAT( DATE_ADD( now(), INTERVAL - 1 MONTH ), '%Y-%m' ), 6, 7 )) AS coststatistics_id,
                workflow.STATUS
            FROM
                (
                SELECT
                    user_id
                FROM
                    attendance
                WHERE
                    STATUS = '0'
                    AND DATE_FORMAT( dates, '%Y-%m' ) = DATE_FORMAT( DATE_ADD( now(), INTERVAL - 1 MONTH ), '%Y-%m' )
                GROUP BY
                    user_id
                ) co
                LEFT JOIN (
                SELECT
                    wf1.*
                FROM
                    workflowinstance wf1
                WHERE
                    NOT EXISTS ( SELECT 1 FROM workflowinstance wf2 WHERE wf2.DATAID = wf1.DATAID AND wf2.CREATEON > wf1.CREATEON )
                    ) workflow ON workflow.DATAID = concat(
                    co.user_id,
                    ',',
                    substring( DATE_FORMAT( DATE_ADD( now(), INTERVAL - 1 MONTH ), '%Y-%m' ), 1, 4 ),
                    ',',
                substring( DATE_FORMAT( DATE_ADD( now(), INTERVAL - 1 MONTH ), '%Y-%m' ), 6, 7 ))
            WHERE
            ( workflow.STATUS != 4 OR workflow.STATUS IS NULL )
        ) attcount

    </select>



</mapper>
