<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS2000.mapper.InductionMapper">
    <select id="selectInduction" resultType="com.nt.dao_Pfans.PFANS2000.Induction">
    select temp.user_id,sum(thismouth) DIV 8 as thismouth,sum(lastmouth) DIV 8 as lastmouth
    from(
    SELECT user_id,
    IFNULL(case when months = #{thismouth} then sum(NORMAL) end,0) as thismouth,
    IFNULL(case when months = #{lastmouth} then sum(NORMAL) end,0) as lastmouth
    FROM attendance
    where user_id in
     <foreach item="item" index="index" collection="owners"
              open="(" separator="," close=")">
      #{item}
     </foreach>
    GROUP BY YEARS,MONTHS,user_id
    having ( CONCAT(YEARS,MONTHS) = #{thisyear} or CONCAT(YEARS,MONTHS) = #{lastyear})
    and MONTHS in (#{thismouth},#{lastmouth})
    ) temp
    GROUP BY temp.user_id
    </select>
</mapper>
