<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS1000.mapper.JudgementMapper">
    <select id="selectJudgement"  resultType="com.nt.dao_Pfans.PFANS1000.Judgement">
select JUDGEMENT_ID as judgementid,
       USER_ID,
       CENTER_ID,
       GROUP_ID,
       TEAM_ID,
       INVESTIGATOR,
       FILENAME,
       SCHEDULEDDATE,
       CAREERPLAN,
       BUSINESSPLANTYPE,
       CLASSIFICATIONTYPE,
       BUSINESSPLANBALANCE,
       AMOUNTTOBEGIVEN,
       GIST,
       PURCHASSUPPORT,
       NUMBERS,
       UNITPRICE,
       MONEY,
       THISPROJECT,
       SETTINGPLACE,
       ADDBOOK,
       SALEQUOTATION,
       REASONSFORQUOTATION,
       UPLOADFILE,
       FREEDEVICE,
       EQUIPMENT,
       DECISIVE,
       PERIOD,
       STARTDATE,
       ENDDATE,
       TYPE,
       CREATEBY,
       CREATEON,
       MODIFYBY,
       MODIFYON,
       OWNER,
       STATUS,
       TENANTID,
       ROWINDEX
       from judgement where `STATUS` = '4' and CREATEON>DATE_SUB(CURDATE(), INTERVAL 3 MONTH) ORDER BY CREATEON DESC
    </select>
</mapper>

