<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS1000.mapper.LoanApplicationMapper">
    <select id="getLoapp" resultType="com.nt.dao_Pfans.PFANS1000.LoanApplication">
        select * from loanapplication where `STATUS` = '4' and CREATEON>DATE_SUB(CURDATE(), INTERVAL 3 MONTH) ORDER BY CREATEON DESC
    </select>
    <select id="getLoappCount" resultType="Integer">
        select count(*) from loanapplication
        where DATE_FORMAT(CREATEON,'%Y-%m-%d') = #{createon}
        group by DATE_FORMAT(CREATEON,'%Y-%m-%d')
    </select>

    <select id="getLoanapplicationSearch" parameterType="com.nt.dao_Pfans.PFANS1000.LoanApplication" resultType="com.nt.dao_Pfans.PFANS1000.LoanApplication">
        SELECT
        *
        FROM
        loanapplication
        where status != '1'
            <if test="processingstatus != null and processingstatus != ''">
                and processingstatus = #{processingstatus}
            </if>
            <if test="loanapno != null and loanapno != ''">
                and loanapno like CONCAT('%',#{loanapno},'%')
            </if>
            <if test="user_id != null and user_id != ''">
                and user_id = #{user_id}
            </if>
            <if test="center_id != null and center_id != ''">
                and center_id = #{center_id}
            </if>
            <if test="group_id != null and group_id != ''">
                and group_id = #{group_id}
            </if>
            <if test="owners != null and owners.size() > 0 ">
                and
                owner in
                <foreach item="item" index="index" collection="owners"
                         open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
    </select>
</mapper>

