<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS2000.mapper.OvertimeMapper">
	<select id="getOvertime" resultType="com.nt.dao_Pfans.PFANS2000.Overtime">
		select * from overtime
		order by createon desc
	</select>
	<select id="getOvertimeDay" parameterType="com.nt.dao_Pfans.PFANS2000.Overtime" resultType="com.nt.dao_Pfans.PFANS2000.Overtime">
		select * from overtime
		where overtime_type = #{overtimet}
		and DATE_FORMAT(RESERVEOVERTIME_DATE, '%Y-%m-%d') = #{reserdate}
		and user_id = #{userid}
	</select>

	<select id="getOvertimeOne" parameterType="com.nt.dao_Pfans.PFANS2000.Overtime" resultType="com.nt.dao_Pfans.PFANS2000.Overtime">
		select * from overtime
		where overtime_type in ('PR001001','PR001002','PR001003')
		and DATE_FORMAT(RESERVEOVERTIME_DATE, '%Y-%m-%d') = #{reserdate}
		and user_id = #{userid}
	</select>
</mapper>
