<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS2000.mapper.PersonalCostMapper">

    <select id="selectPersonalCost" resultType="com.nt.dao_Pfans.PFANS2000.PersonalCost">
        select * from personalcost
        where groupid = #{groupid}
        and yearsantid = #{yearsantid}
    </select>

    <select id="selectPersonalCostResult" parameterType="list" resultType="com.nt.dao_Pfans.PFANS2000.PersonalCost">
        SELECT
        *
        from personalcost
        where (USERID) in
        <foreach collection="list" index="index" item="item" open="("
                 separator="," close=")">
            (#{item.userid})
        </foreach>
        and yearsantid = #{yearsantid}
    </select>
    <update id="updatePersonalCost" parameterType="com.nt.dao_Pfans.PFANS2000.PersonalCost">
        <foreach collection="uplist" index="index" item="item" separator=";">
            update personalcost
            <set>
                CHANGERANK = #{item.changerank},
                LTRANK = #{item.ltrank},
                MODIFYBY = #{tokenModel.userId},
                MODIFYON = #{tokenModel.expireDate},
                TENANTID = #{tokenModel.tenantId},
            </set>
            WHERE personalcostid = #{item.personalcostid}
        </foreach>
    </update>
    <select id="selectBirthUserid" resultType="java.lang.String">
        select user_id from abnormal
        where ERROR_TYPE = 'PR013012'
        and (status = '4' or status = '7' )
        and APPLICATION_DATE
        like CONCAT('%',#{year},'%')
    </select>
    <!--add-lyt-21/2/19-PSDCD_PFANS_20201123_XQ_017-start    -->
    <select id="getFuzzyQuery"  resultType="com.nt.dao_Pfans.PFANS2000.PersonalCost">
        SELECT * FROM personalcost
        where yearsantid = #{yearsantid}
        <if test="username!=null and username!=''">
            and USERNAME LIKE CONCAT('%',#{username},'%')
        </if>
        <if test="allotmentAnt!=null and allotmentAnt!=''">
            and ALLOTMENT LIKE CONCAT('%',#{allotmentAnt},'%')
        </if>
        <if test="group_id!=null and group_id!=''">
            AND GROUPID LIKE CONCAT('%',#{group_id},'%')
        </if>
        <if test="rnAnt!=null and rnAnt!=''">
            AND LTRANK LIKE CONCAT('%',#{rnAnt},'%')
        </if>
    </select>
    <!--add-lyt-21/2/19-PSDCD_PFANS_20201123_XQ_017-end    -->
<!--    add-lyt-21/1/29-禅道任务648-start-->
    <select id="getPersonalCost"  resultType="com.nt.dao_Pfans.PFANS2000.PersonalCost">
        SELECT yearsantid,username,aptoju,jutoma,exrank,ltrank,overtimepay,newpersonaldate FROM personalcost
        WHERE yearsantid IN(SELECT yearsantid FROM personalcostyears WHERE YEARS= #{years})
        AND GROUPID = #{groupid}
        ORDER BY EXRANK DESC
    </select>
<!--    add-lyt-21/1/29-禅道任务648-start-->
</mapper>


