<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS1000.mapper.PublicExpenseMapper">
    <select id="getInvoiceNo" resultType="Integer">
        select count(*) from publicexpense
        where REIMBURSEMENTDATE = #{reimbursementDate}
        group by REIMBURSEMENTDATE
    </select>
</mapper>
