<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS1000.mapper.PublicExpenseMapper">
    <select id="getInvoiceNo" resultType="Integer">
        select count(*) from publicexpense
        where REIMBURSEMENTDATE = #{reimbursementDate}
        group by REIMBURSEMENTDATE
    </select>
<!--    upd-lyt-21/4/6-PSDCD_PFANS_20210318_BUG_035-更改SQL语句，返回当日数最大的精算号并把返回值类型改回去-start-->
    <select id="getAporGlNo" resultType="Integer">
          select MAX(CONVERT (SUBSTRING(INVOICENO,12) , signed))  from publicexpense
        where REIMBURSEMENTDATE = #{reimbursementDate} and INVOICENO like CONCAT('%',#{AporGl},'%')
    </select>
<!--    upd-lyt-21/4/6-PSDCD_PFANS_20210318_BUG_035-更改SQL语句，返回当日数最大的精算号并把返回值类型改回去-end-->
    <select id="getpublicelist"  resultType="com.nt.dao_Pfans.PFANS1000.PublicExpense">
     select * from publicexpense where JUDGEMENT like CONCAT('%',#{code},'%')
    </select>

    <select id="getLoan" resultType="com.nt.dao_Pfans.PFANS1000.PublicExpense">
     select * from publicexpense where LOAN like CONCAT('%',#{loan},'%')
    </select>

    <select id="getPublicexpenseRmb"  resultType="com.nt.dao_Pfans.PFANS1000.PublicExpense">
        SELECT
        supplierinfor.SUPPLIERINFOR_ID PAYEENAME,
        publicexpense.JZMONTH,
        SUM(ot.RMB) TORMB
        FROM
        publicexpense
        LEFT JOIN supplierinfor ON publicexpense.payeename = supplierinfor.SUPCHINESE
        OR publicexpense.payeename = supplierinfor.SUPJAPANESE
        OR publicexpense.payeename = supplierinfor.SUPENGLISH
        LEFT JOIN
        (
            SELECT otherdetails.PUBLICEXPENSE_ID, CONVERT ( SUM( RMB ), DECIMAL ( 10, 2 )) AS RMB
            FROM otherdetails
        <if test="groupid != null and groupid != ''" >
            WHERE  DEPARTMENTNAME = #{groupid}
        </if>
            GROUP BY otherdetails.PUBLICEXPENSE_ID
        )
        ot ON publicexpense.PUBLICEXPENSE_ID = ot.PUBLICEXPENSE_ID
        WHERE
        1 = 1
        AND checkedWZFY = 0 #外注费用
        AND publicexpense.status = '4'
        AND supplierinfor.SUPPLIERINFOR_ID IS NOT NULL
        <if test="years != null and years != ''" >
            AND DATE_FORMAT( publicexpense.jzmonth, '%Y' ) = #{years}
        </if>
        GROUP BY
        supplierinfor.SUPPLIERINFOR_ID,
        publicexpense.jzmonth
    </select>

    <select id="getSearch" parameterType="com.nt.dao_Pfans.PFANS1000.PublicExpense" resultType="com.nt.dao_Pfans.PFANS1000.PublicExpense">
        SELECT
        *
        FROM
        publicexpense
        where status != '1'
        <if test="invoiceno != null and invoiceno != ''">
            and invoiceno like CONCAT('%',#{invoiceno},'%')
        </if>
        <if test="user_id != null and user_id != ''">
            and user_id = #{user_id}
        </if>
        <if test="centerid != null and centerid != ''">
            and center_id = #{centerid}
        </if>
        <if test="groupid != null and groupid != ''">
            and group_id = #{groupid}
        </if>
        <if test="processingstatus != null and processingstatus != ''">
            and processingstatus = #{processingstatus}
        </if>
        <if test="owners != null and owners.size() > 0 ">
            and
            owner in
            <foreach item="item" index="index" collection="owners"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
