<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS2000.mapper.PunchcardRecordDetailMapper">
	<select id="getPunchCardRecord" resultType="com.nt.dao_Pfans.PFANS2000.PunchcardRecord">
     SELECT
      user_id,
      center_id,
      group_id,
      team_id,
      jobnumber,
      punchcardrecord_date,
      time_start,
      time_end,
      region,
      worktime
     FROM
     (
     SELECT
       user_id,
       center_id,
       group_id,
       team_id,
       jobnumber,
       region,
       cast( punchcardrecord_date AS date ) AS punchcardrecord_date,
       min( cast( punchcardrecord_date AS datetime ) ) AS time_start,
       max( cast( punchcardrecord_date AS datetime ) ) AS time_end,
       ROUND(
       TIMESTAMPDIFF( MINUTE, min( cast( punchcardrecord_date AS datetime ) ), max( cast( punchcardrecord_date AS datetime ) ) ) / 60,
       2
       ) AS worktime
      FROM
       punchcardrecorddetail
      GROUP BY
       user_id,
       center_id,
       group_id,
       team_id,
       jobnumber,
       region,
       cast( punchcardrecord_date AS date )
     ORDER BY
        cast( punchcardrecord_date AS date )
     ) newpunchcardrecord
	</select>
</mapper>
