<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS1000.mapper.PurchaseApplyMapper">
	<select id="selectPurchaseApply" resultType="com.nt.dao_Pfans.PFANS1000.PurchaseApply">
select * from purchaseapply where `STATUS` = '4' ORDER BY CREATEON DESC
	</select>

	<select id="getpurchaseApplySearch" parameterType="com.nt.dao_Pfans.PFANS1000.PurchaseApply" resultType="com.nt.dao_Pfans.PFANS1000.PurchaseApply">
		SELECT
		*
		FROM
		purchaseapply
		<where>
			<if test="purchasenumbers != null and purchasenumbers != ''">
				and purchasenumbers like CONCAT('%',#{purchasenumbers},'%')
			</if>
			<if test="user_id != null and user_id != ''">
				and user_id = #{user_id}
			</if>
			<if test="center_id != null and center_id != ''">
				and center_id = #{center_id}
			</if>
			<if test="group_id != null and group_id != ''">
				and group_id = #{group_id}
			</if>
			<if test="owners != null and owners.size() > 0 ">
				and
				owner in
				<foreach item="item" index="index" collection="owners"
						 open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
</mapper>
