<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS2000.mapper.RecruitJudgementMapper">
	<select id="getRecruitJudgement" resultType="com.nt.dao_Pfans.PFANS2000.RecruitJudgement">
		select recruitjudgement_id,name,education ,owner
        ,center_id,group_id,team_id,birthday,createon,interview,status,education1,specialty1,quityear1,education2,specialty2,quityear2,education3,specialty3,quityear3 from recruitjudgement
		where 1=1
		<if test="owners != null and owners.size() > 0">
			and (owner in
			<foreach item="item" index="index" collection="owners"
					 open="(" separator="," close=")">
				#{item}
			</foreach>
			)
		</if>
		and status != 1
		order by createon desc
	</select>


</mapper>
