<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS2000.mapper.WagesMapper">
    <select id="lastMonthWage" resultType="java.lang.String">
       select USER_ID from wages
       where wages.CREATEONYM = #{yearmonth}
       and wages.actual = '0'
       <if test="userid != ''" >
           and USER_ID = #{userid}
       </if>
     </select>

    <select id="lastWages" resultType="com.nt.dao_Pfans.PFANS2000.Wages">
       select * from wages
        where wages.CREATEONYM = #{yearmonth}
       AND wages.actual = '0'
       <if test="userid != ''" >
           and USER_ID = #{userid}
       </if>
     </select>

    <select id="getWagesByGivingId" resultType="com.nt.dao_Pfans.PFANS2000.Wages" parameterType="string">
        SELECT
        base.BASE_ID AS BASE_ID,#base表 主键id
        base.GIVING_ID AS GIVING_ID,#giving表主键
        base.DEPARTMENT_ID AS DEPARTMENT_ID,#base表 部门id
        base.USER_ID AS USER_ID,#base表 用户名字id
        @WORKDATE := base.WORKDATE AS WORKDATE,#base表 入社日
        base.SEX AS SEX,#base表 性别  PR019001 男  PR019002 女
        @ONLYCHILD := base.ONLYCHILD AS ONLYCHILD,#base表 是否独生子女 1:是  2：不是
        @TYPE := base.TYPE AS TYPE,#base表 1入职 2女産休 3男看护 4退職
        @BONUS := base.BONUS AS BONUS,#base表 奨金計上
        @SOCIOLOGY := base.SOCIOLOGY AS SOCIOLOGY,#base表 是否1999年前社会人 1是 2不是
        @REGISTERED := base.REGISTERED AS REGISTERED,#base表 是否大連戸籍    1是 2不是
        @PENSION := convert(base.PENSION,decimal(10,2)) AS PENSION,#base表 養老・失業・工傷基数
        @YANGLAOJS := convert(base.YANGLAOJS,decimal(10,2)) AS YANGLAOJS,#base表 養老基数
        @SHIYEJS := convert(base.SHIYEJS,decimal(10,2)) AS SHIYEJS,#base表 失業基数
        @GONGSHANGJS := convert(base.GONGSHANGJS,decimal(10,2)) AS GONGSHANGJS,#base表 工傷基数
	    @MEDICAL := convert(base.MEDICAL,decimal(10,2)) AS MEDICAL,#base表 医療・生育基数
	    @YILIAOJS := convert(base.YILIAOJS,decimal(10,2)) AS YILIAOJS,#base表 医療基数
	    @SHENGYUJS := convert(base.SHENGYUJS,decimal(10,2)) AS SHENGYUJS,#base表 生育基数
	    @ACCUMULATION := convert(base.ACCUMULATION,decimal(10,2)) AS ACCUMULATION,#base表 公积金基数
        convert( base.LASTMONTHBASIC, decimal(10,2) ) AS LASTMONTHBASIC,# base表 上个月基本工资
        convert( base.LASTMONTHDUTY, decimal(10,2) ) AS LASTMONTHDUTY,# base表 上月职责工资
	    @BASETHISMONTHBASIC := convert( base.THISMONTHBASIC, decimal(10,2) ) AS BASETHISMONTHBASIC,#base表 本月基本工资
        convert( base.THISMONTHDUTY, decimal(10,2) ) AS THISMONTHDUTY,#base表 本月职责工资
	    @LASTMONTH := convert( base.LASTMONTHTOTAL, decimal(10,2) ) AS LASTMONTH,# base表上个月
	    @THISMONTH := convert( base.THISMONTHTOTAL, decimal(10,2) ) AS THISMONTH,# base表本月
	    @RNBASESALARY := convert(base.RNBASESALARY,decimal(10,2)) AS RNBASESALARY,#RN基本工资
        @CXDAYS :=
        CASE
        WHEN ( @TYPE &lt;=> '2' ) THEN
        convert(base.ATTENDANCE,decimal(10,2))
        WHEN ( @TYPE &lt;=> '3' ) THEN
        convert(base.HANDSUPPORT,decimal(10,2))
        ELSE
        round(0,2)
        END AS BIRTHREST,# 其他1表 産休出勤日数(看護休暇日数)
        @THISMONTHBASICBASIC :=
        CASE
        WHEN ( @TYPE &lt;=> '1' ) THEN
        convert(base.INDUCTION_GIVE,decimal(10,2))
        WHEN ( @TYPE &lt;=> '2' ) THEN
        convert( ( @THISMONTH / 21.75 * @CXDAYS ), decimal(10,2))
        WHEN ( @TYPE &lt;=> '3' ) THEN
        convert( ( @THISMONTH - @LASTMONTH / 21.75 * @CXDAYS ), decimal(10,2))
        WHEN ( @TYPE &lt;=> '4' ) THEN
        convert(base.LACKATTENDANCE_GIVE,decimal(10,2))
        ELSE
        round(0,2)
        END AS THISMONTHBASICBASIC, #本月入/退職/産休基本工资
	    base.RTCXBASE AS THISMONTHBASIC,#本月入/退職/産休基本給
	    @SHORTDEFICIENCY := convert(base.SHORTDEFICIENCY,decimal(10,2)) AS SHORTILLNESS,#短病欠時数
	    @CHRONICDEFICIENCY := convert(base.CHRONICDEFICIENCY,decimal(10,2)) AS LONGILLNESS,#长病欠時数
	    @DILIGENCE := convert(base.DILIGENCE,decimal(10,2)) AS OWEDILIGENCE,#欠勤時数
        @LACKATTENDANCE_GIVE := base.LACKATTENDANCE_GIVE AS OWINGCONTROL,#病欠/欠勤控除
        @BASE_SJJE := ( IF
        ( @TYPE &lt;=> '-', convert( @THISMONTH + @LACKATTENDANCE_GIVE, decimal(10,2)), convert( base.RTCXBASE + @LACKATTENDANCE_GIVE, decimal(10,2)) )
        ) AS ACTUALAMOUNT,#基本給实际金额
        @THISMONTHBASICGEI := IF(@TYPE &lt;=> '-',convert((@BASETHISMONTHBASIC + @LACKATTENDANCE_GIVE),decimal(10,2)),convert((@THISMONTHBASICBASIC + @LACKATTENDANCE_GIVE),decimal(10,2))) as THISMONTHBASICGEI, #本月基本给
        convert( @BASE_SJJE - @THISMONTHBASICGEI, decimal(10,2)) AS THISMONTHDUTYGEI,#本月职责给
        @YKBZJS :=
        CASE
        WHEN ( @TYPE &lt;=> '1' and (base.STARTDATE  &lt;=> '' or base.STARTDATE  is null) ) THEN
        base.DIC_YKBZSY
        ELSE
        base.DIC_YKBZZS
        END AS YKBZJS,#一括补助基本給
        @KCYKBZQQ := IF (base.LASTMONTHSUITDAYS &lt;=> 0.0,0,
        base.DIC_YKBZSY / 21.75 / 8 * (base.LASTDILIGENCETRY + base.LASTSHORTDEFICIENCYTRY + base.LASTCHRONICDEFICIENCYTRY )
        ) +
        IF (base.LASTMONTHDAYS &lt;=> 0.0,0,
        base.DIC_YKBZZS / 21.75 / 8 * (base.LASTDILIGENCEFORMAL + base.LASTSHORTDEFICIENCYFORMAL + base.LASTCHRONICDEFICIENCYFORMAL )
        ) AS KCYKBZQQ,#扣除欠勤(一括补助用)
        @KCYKBZQQDY := IF (base.LASTMONTHSUITDAYS &lt;=> 0.0,0,
        base.DIC_YKBZSY / 21.75 / 8 * (base.THISDILIGENCETRY + base.THISSHORTDEFICIENCYTRY+ base.THISCHRONICDEFICIENCYTRY
        )) +
        IF (base.LASTMONTHDAYS &lt;=> 0.0,0,
        base.DIC_YKBZZS / 21.75 / 8 * (base.THISDILIGENCEFORMAL + base.THISSHORTDEFICIENCYFORMAL+ base.THISCHRONICDEFICIENCYFORMAL
        )) AS KCYKBZQQDY,#当月扣除欠勤(一括补助用)
        @YKBZ :=
        CASE
        WHEN ( @TYPE &lt;=> '1' ) THEN
        convert(base.INDUCTION_LUNCH - @KCYKBZQQ,decimal(10,2))
        WHEN ( @TYPE &lt;=> '2' ) THEN
        convert( base.DIC_YKBZZS / 21.75 * @CXDAYS - @KCYKBZQQ , decimal(10,2))
        WHEN ( @TYPE &lt;=> '3' ) THEN
        convert( base.DIC_YKBZZS - ( base.DIC_YKBZZS / 21.75 * @CXDAYS) - @KCYKBZQQ, decimal(10,2))
        WHEN ( @TYPE &lt;=> '4' ) THEN
        convert(base.RETIRE_LUNCH - @KCYKBZQQ - @KCYKBZQQDY,decimal(10,2))
        WHEN ((base.LASTDILIGENCETRY + base.LASTSHORTDEFICIENCYTRY + base.LASTCHRONICDEFICIENCYTRY ) > 0) THEN
        convert(base.DIC_YKBZZS - @KCYKBZQQ,decimal(10,2))
        ELSE
        convert(
        base.DIC_YKBZZS * ( my_WorkingDays(base.months) - base.LASTDILIGENCEFORMAL - base.LASTSHORTDEFICIENCYFORMAL - base.LASTCHRONICDEFICIENCYFORMAL ) / my_WorkingDays(base.months) ,decimal(10,2))
        END AS YKBZ,#一括补助
        @JBBZ := (IF(@TYPE = '4',base.SUBSIDY,base.LASTTOTALY)) AS OVERTIMESUBSIDY,# 加班补助 gbb base.SUBSIDY
        @XJ1 := convert( ( @BASE_SJJE + @JBBZ + @YKBZ ), decimal(10,2) ) AS TOTAL1,# 小计1(基本給+补助)
        @OTHER2 := convert(base.OTHERTWO_MONEYS,decimal(10,2)) AS OTHER2,#其他2
        @AMOUNT := convert(base.APPRECIATION_AMOUNT,decimal(10,2)) AS APPRECIATION,#月度賞与
        @XJ2 := ( @OTHER2 + @AMOUNT ) AS TOTAL2,# 小计2 其他3字段画面手动录入，sql里只计算了交通补助到月度賞与的合计，需要在画面再加上其他3手动录入的数据
        @NSGZZE := convert( ( @XJ1 + @XJ2 ), decimal(10,2) ) AS TAXESTOTAL,#纳税工资总额(小计1+2)  小计1(基本給+补助)+小计2,画面手动添加 其他3的数据
        @CNF := ( IF ( @THISMONTH &lt;> 0, convert(base.HEATING,decimal(10,2)), round(0,2) ) ) AS HEATING,#采暖费
        @DSZNF := ( IF ( @ONLYCHILD &lt;=> '1', convert(base.DIC_DSZNF,decimal(10,2)), round(0,2) ) ) AS ONLYCHILDMONEY,#独生子女费
        @XJ3 := convert( ( @CNF + @DSZNF ), decimal(10,2)) AS TOTAL3,#小计3
        @GZZE := convert( ( @NSGZZE + @XJ3 ), decimal(10,2)) AS TOTALWAGES,#工资总额(纳税+免税)
        @YLBXGR := convert( ( @YANGLAOJS * base.DIC_YLBXGRFDGR ), decimal(10,2)) AS ENDOWMENTINSURANCE,#养老保险
        @YILIAOBXGR := convert( ( @YILIAOJS * base.DIC_YILIAOBXGRFDGR ), decimal(10,2)) AS MEDICALINSURANCE,#医疗保险
        @SYBXGR := convert( ( @SHIYEJS * base.DIC_SYBXGRFDGR ), decimal(10,2) ) AS UNEMPLOYMENTINSURANCE,#失业保险
        @GRSHBX := convert( ( @YLBXGR + @YILIAOBXGR + @SYBXGR ), decimal(10,2)) AS SOCIALINSURANCE,#个人社会保险(専項控除)
        @GJJ := convert( ( ACCUMULATION * base.DIC_GJJGRFD ), decimal(10,2)) AS ACCUMULATIONFUND,#个人住房公积金(専項控除)
        @GRHJ := convert( ( @GRSHBX + @GJJ ), decimal(10,2) ) AS DISCIPLINARYCONTROL,#个人社会保险费+公积金(専項控除)合计
        base.DISCIPLINARY_TOTAL,#専項控除累計
        @ZXKCLJ := convert(base.DISCIPLINARY_TOTAL + @GRHJ,decimal(10,2)) AS THISMONTHTERM,#専項控除累計（当月まで）
        @ADDITIONAL_TOTAL := (
        IF
        ( ( isnull( base.ADDITIONAL_TOTAL ) OR ( length( trim( base.ADDITIONAL_TOTAL ) ) &lt; 1 ) ), round(0,2), convert(base.ADDITIONAL_TOTAL,decimal(10,2)))
        ) AS THISMONTHADDITIONAL,#附加控除累計（当月まで）
        @DUTYFREE_CUMULATIVE := convert(base.DUTYFREE_CUMULATIVE + @XJ3,decimal(10,2)) AS THISMONTHDUTYFREE,#免税分累計（当月まで）
        @ACCUMUKATEDTAX_YEARTAXES := convert(base.ACCUMUKATEDTAX_YEARTAXES,decimal(10,2)) AS LASTDUTYFREE,#年間累計税金（先月まで）
        @ZFGJJYNSJE := (
        IF
        (
        @SOCIOLOGY &lt;=> '1',
        IF
        ( @GJJ * 2 - base.DIC_99NQZGDWGR * 2 > 0, convert(@GJJ * 2 - base.DIC_99NQZGDWGR * 2,decimal(10,2)), round(0,2) ),
        (IF
        ( CAST(@GJJ AS DECIMAL) > CAST(base.DIC_99NHZGDW AS DECIMAL), convert(@GJJ - base.DIC_99NHZGDW,decimal(10,2)), round(0,2) ) +
        IF
        ( CAST(@GJJ AS DECIMAL) > CAST(base.DIC_99NHZGGR AS DECIMAL), convert(@GJJ - base.DIC_99NHZGGR,decimal(10,2)), round(0,2) ))
        )
        ) AS HOUSINGMONEYS,#住房公积金应纳税金额
        @OTHERFOUR_TOTAL := convert(base.OTHERFOUR_TOTAL,decimal(10,2)) AS OTHER4,#其他4公司负担社保（24元）
        @OTHERFIVE_TOTAL := convert(base.OTHERFIVE_TOTAL,decimal(10,2)) AS OTHER5,#其他5（保険：福祉）
        @DYYKGZ := convert( ( @GZZE + @ZFGJJYNSJE + @OTHERFOUR_TOTAL + @OTHERFIVE_TOTAL ), decimal(10,2)) AS SHOULDWAGES,#当月応発工資（工资总额(纳税+免税)+只納税）
        base.COMPREHENSIVE_YEARSTOTAL12,#総合収入累計
        base.DIC_LJYNSSDECS,#累计应纳税所得额参数
        @YEARSTOTAL12 := convert(base.COMPREHENSIVE_YEARSTOTAL12 + @DYYKGZ,decimal(10,2)) AS SHOULDCUMULATIVE,#累計応発工資（当月含）
        @LJYNSSDE := (
        IF
        (
        DATE_FORMAT(@WORKDATE,'%Y') - DATE_FORMAT(NOW(),'%Y') = 0 and base.taxes = 0,
        convert(
        (
        @YEARSTOTAL12 - base.DIC_LJYNSSDECS * ( MONTH ( DATE_FORMAT( NOW( ), '%Y-%m-%d' ) ) - 0 - MONTH ( DATE_FORMAT(@WORKDATE,'%Y-%m-%d') ) + 1 ) - @ZXKCLJ - @ADDITIONAL_TOTAL - @DUTYFREE_CUMULATIVE
        ),
        decimal(10,2)
        ),
        convert(
        ( @YEARSTOTAL12 - base.DIC_LJYNSSDECS * ( MONTH ( DATE_FORMAT( NOW( ), '%Y-%m-%d' ) ) - 0 ) - @ZXKCLJ - @ADDITIONAL_TOTAL - @DUTYFREE_CUMULATIVE ),
        decimal(10,2)
        )
        )
        ) AS SHOULDPAYTAXES,#累計应纳税所得额
        base.DIC_0JE,base.DIC_1JE,base.DIC_0SL,base.DIC_1SL,base.DIC_2SL,base.DIC_3SL,base.DIC_4SL,base.DIC_5SL,base.DIC_6SL,
        base.DIC_0SSKC,base.DIC_1SSKC,base.DIC_2SSKC,base.DIC_3SSKC,base.DIC_4SSKC,base.DIC_5SSKC,base.DIC_6SSKC,
        @BYYKJSDS := (
        CASE
        WHEN ( @LJYNSSDE >= base.DIC_0JE AND CAST(@LJYNSSDE AS DECIMAL(10,0)) &lt;= CAST(base.DIC_1JE AS DECIMAL(10,0))) THEN
        (
        IF
        (
        convert( ( CAST(@LJYNSSDE * base.DIC_0SL as  DECIMAL(20,2)) - base.DIC_0SSKC - @ACCUMUKATEDTAX_YEARTAXES ), decimal(10,2) ) &lt; 0, round(0,2), convert(CAST(@LJYNSSDE * base.DIC_0SL as  DECIMAL(20,2)) - base.DIC_0SSKC - @ACCUMUKATEDTAX_YEARTAXES ,decimal(10,2))) ) WHEN ( @LJYNSSDE > 36000
        AND CAST(@LJYNSSDE AS DECIMAL(10,0)) &lt;= CAST(base.DIC_2JE AS DECIMAL(10,0))
        ) THEN
        (
        IF
        (
        convert( ( CAST(@LJYNSSDE * base.DIC_1SL as  DECIMAL(20,2)) - base.DIC_1SSKC - @ACCUMUKATEDTAX_YEARTAXES ), decimal(10,2) ) &lt; 0, round(0,2), convert(CAST(@LJYNSSDE * base.DIC_1SL as  DECIMAL(20,2)) - base.DIC_1SSKC - @ACCUMUKATEDTAX_YEARTAXES,decimal(10,2)) ) ) WHEN ( @LJYNSSDE > 144000
        AND CAST(@LJYNSSDE AS DECIMAL(10,0)) &lt;= CAST(base.DIC_3JE AS DECIMAL(10,0))
        ) THEN#20%
        (
        IF
        (
        convert( ( CAST(@LJYNSSDE * base.DIC_2SL as  DECIMAL(20,2)) - base.DIC_2SSKC - @ACCUMUKATEDTAX_YEARTAXES ), decimal(10,2) ) &lt; 0, round(0,2), convert(CAST(@LJYNSSDE * base.DIC_2SL as  DECIMAL(20,2)) - base.DIC_2SSKC - @ACCUMUKATEDTAX_YEARTAXES,decimal(10,2)) ) ) WHEN ( @LJYNSSDE > 300000
        AND CAST(@LJYNSSDE AS DECIMAL(10,0)) &lt;= CAST(base.DIC_4JE AS DECIMAL(10,0))
        ) THEN#25%
        (
        IF
        (
        convert( ( CAST(@LJYNSSDE * base.DIC_3SL as  DECIMAL(20,2)) - base.DIC_3SSKC - @ACCUMUKATEDTAX_YEARTAXES ), decimal(10,2) ) &lt; 0, round(0,2), convert(CAST(@LJYNSSDE * base.DIC_3SL as  DECIMAL(20,2)) - base.DIC_3SSKC - @ACCUMUKATEDTAX_YEARTAXES,decimal(10,2)) ) ) WHEN ( @LJYNSSDE > 420000
        AND CAST(@LJYNSSDE AS DECIMAL(10,0)) &lt;= CAST(base.DIC_5JE AS DECIMAL(10,0))
        ) THEN#30%
        (
        IF
        (
        convert( ( CAST(@LJYNSSDE * base.DIC_4SL as  DECIMAL(20,2)) - base.DIC_4SSKC - @ACCUMUKATEDTAX_YEARTAXES ), decimal(10,2) ) &lt; 0, round(0,2), convert(CAST(@LJYNSSDE * base.DIC_4SL as  DECIMAL(20,2)) - base.DIC_4SSKC - @ACCUMUKATEDTAX_YEARTAXES,decimal(10,2)) ) ) WHEN ( @LJYNSSDE > 660000
        AND CAST(@LJYNSSDE AS DECIMAL(10,0)) &lt;= CAST(base.DIC_6JE AS DECIMAL(10,0))
        ) THEN#35%
        (
        IF
        (
        convert( ( CAST(@LJYNSSDE * base.DIC_5SL as  DECIMAL(20,2)) - base.DIC_5SSKC - @ACCUMUKATEDTAX_YEARTAXES ), decimal(10,2) ) &lt; 0,
        round(0,2),
        convert(CAST(@LJYNSSDE * base.DIC_5SL as  DECIMAL(20,2)) - base.DIC_5SSKC - @ACCUMUKATEDTAX_YEARTAXES ,decimal(10,2))
        )
        ) ELSE (
        IF
        (
        convert( ( CAST(@LJYNSSDE * base.DIC_6SL as  DECIMAL(20,2)) - base.DIC_6SSKC - @ACCUMUKATEDTAX_YEARTAXES ), decimal(10,2) ) &lt; 0,
        round(0,2),
        convert(CAST(@LJYNSSDE * base.DIC_6SL as  DECIMAL(20,2)) - base.DIC_6SSKC - @ACCUMUKATEDTAX_YEARTAXES ,decimal(10,2))
        )
        )
        END
        ) AS THISMONTHADJUSTMENT,#本月应扣缴所得税
        convert( ( @GZZE - @GRHJ - @BYYKJSDS ), decimal(10,2) ) AS REALWAGES,#当月实发工资
        @YLBXHS := convert( @YANGLAOJS * DIC_YLBXHSFDHS, decimal(10,2)) AS COMENDOWMENTINSURANCE,#养老保险
        @YILIAOBXHS := convert( @YILIAOJS * DIC_YILIAOBXGRFDHS, decimal(10,2)) AS COMMEDICALINSURANCE,#医疗保险
        @SYBXGRFDHS := convert( @SHIYEJS * DIC_SYBXGRFDHS, decimal(10,2) ) AS COMUNEMPLOYMENTINSURANCE,#失业保险
        @GSBXHS := convert( @GONGSHANGJS * DIC_GSBXHS, decimal(10,2)) AS COMINJURYINSURANCE,#工伤保险
        @SYBXHS := convert( @SHENGYUJS * DIC_SYBXHS, decimal(10,2)) AS COMBIRTHINSURANCE,#生育保险
        @NFF := ( IF ( ( @REGISTERED &lt;=> '1' AND @YANGLAOJS != 0 ), convert(DIC_DLHXNFF,decimal(10,2)), round(0,2) ) ) AS COMHEATING,#暖房费
        @ZFGJJ := convert( @ACCUMULATION * DIC_GJJHSFD, decimal(10,2)) AS COMACCUMULATIONFUND,#住房公积金
        @SUMHS := convert( ( @YLBXHS + @YILIAOBXHS + @SYBXGRFDHS + @GSBXHS + @SYBXHS + @NFF + @ZFGJJ ), decimal(10,2)) AS TOTAL,#总计
        @GHJFJS := convert(@XJ1 + @AMOUNT,decimal(10,2)) AS LABOURUNIONBASE,#工会经费基数gbb base.THISMONTHBASIC + base.THISMONTHDUTY + @AMOUNT
        @GHJF := convert( @GHJFJS * 0.02, decimal(10,2)) AS LABOURUNIONFUNDS,#工会经费
        @GZFZFDZJ := convert( ( @GZZE + @OTHERFOUR_TOTAL + @OTHERFIVE_TOTAL + @SUMHS + @GHJF ), decimal(10,2)) AS COMTOTALWAGES,#工资总额(纳税+免税)+福祉+公司負担+工会経費总计
        @JSJJ := (
		IF
			(
				@BONUS = 1,
				ROUND( @RNBASESALARY * DIC_JJJSXS1 / 12, 0 ),
			round(IF
				( @BONUS = 2, @RNBASESALARY * DIC_JJJSXS2 / 12, 0 ),0)
			) - @AMOUNT
		) AS BONUSMONEY,#計上奨金
        @NJJY := convert(IF(MONTH(CURRENT_DATE) = 4, @THISMONTH / 21.75 / 8 * 2 * base.remaining_annual_leave_lastyear ,0),decimal(10,2)) AS NJJY, #年休结余
        convert(IF(MONTH(CURRENT_DATE) = 4, @GZFZFDZJ + @NJJY + @JSJJ ,@GZFZFDZJ + @JSJJ),decimal(10,2)) AS TOTALBONUS #总计+計上奨金
        FROM
        baseView base
        WHERE
        base.GIVING_ID = #{givingId}
        <if test="userid != ''" >
            and base.USER_ID = #{userid}
        </if>
        order by base.USER_ID
    </select>

    <select id="getWagesdepartmentold" resultType="com.nt.dao_Pfans.PFANS2000.Wages" parameterType="string">
        select
            wages.DEPARTMENT_ID,#部门
            count(*) as user_id,#人数
            ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
            ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
            ROUND(SUM(total3),2) as total3, #小计3/免税工资总额
            ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as pension, #社保（企业）(养老--暖房费)
            ROUND(SUM(comendowmentinsurance),2) as comendowmentinsurance,#养老保险/养老（企业）
            ROUND(SUM(commedicalinsurance),2) as commedicalinsurance,#医疗保险/医疗（企业）
            ROUND(SUM(comunemploymentinsurance),2) as comunemploymentinsurance,#失业保险/失业（企业）
            ROUND(SUM(cominjuryinsurance),2) as cominjuryinsurance,#工伤保险/工伤（企业）
            ROUND(SUM(combirthinsurance),2) as combirthinsurance,#生育保险/生育（企业）
            ROUND(SUM(comheating),2) as comheating,#暖房费/暖房费（企业）
            ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
            ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
            ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
            ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
            ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
            ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
            ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
            ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
            ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
            ROUND(SUM(socialinsurance),2) as socialinsurance,#社保（个人）
            ROUND(SUM(accumulationfund),2) as accumulationfund,#公积金（个人）
            ROUND(SUM(realwages),2) as realwages,#实发工资
            ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
            if(otherfour.total is null,0,otherfour.total) +socialinsurance),2) as shouldcumulative,#社保总计
            ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6,#公积金总计
            ROUND(SUM(labourunionbase),2) as labourunionbase#工会经费基数
        from wages
        left join otherfour
        on otherfour.GIVING_ID = wages.GIVING_ID
        and otherfour.USER_ID = wages.USER_ID
        left join otherfive
        on otherfive.GIVING_ID = wages.GIVING_ID
        and otherfive.USER_ID = wages.USER_ID
		where wages.CREATEONYM  = #{dates}
		AND wages.actual = #{actual}
		GROUP BY wages.DEPARTMENT_ID
		ORDER BY FIELD(wages.DEPARTMENT_ID, 'CTA','IED','APD','ALD','APO','LSD','ECD','DTD','OSD','SSD','SPD','ISD','SDEO','DANP','FPO','ADMN')
    </select>

    <select id="getWagesdepartment" resultType="com.nt.dao_Pfans.PFANS2000.Wages" parameterType="string">
        select * from
        (
            select
                wages.DEPARTMENT_ID as DEPARTMENT_ID,#部门
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(heating),2) as heating, #采暖费/免税工资总额
                ROUND(SUM(onlychildmoney),2) as onlychildmoney, #独生子女费/不征税收入
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as pension, #社保（企业）(养老--暖房费)
                ROUND(SUM(comendowmentinsurance),2) as comendowmentinsurance,#养老保险/养老（企业）
                ROUND(SUM(commedicalinsurance),2) as commedicalinsurance,#医疗保险/医疗（企业）
                ROUND(SUM(comunemploymentinsurance),2) as comunemploymentinsurance,#失业保险/失业（企业）
                ROUND(SUM(cominjuryinsurance),2) as cominjuryinsurance,#工伤保险/工伤（企业）
                ROUND(SUM(combirthinsurance),2) as combirthinsurance,#生育保险/生育（企业）
                ROUND(SUM(comheating),2) as comheating,#暖房费/暖房费（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(socialinsurance),2) as socialinsurance,#社保（个人）
                ROUND(SUM(accumulationfund),2) as accumulationfund,#公积金（个人）
                ROUND(SUM(realwages),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                      if(otherfour.total is null,0,otherfour.total) +socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6,#公积金总计
                ROUND(SUM(labourunionbase),2) as labourunionbase#工会经费基数
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.CREATEONYM  = #{dates}
            AND wages.actual = '0'
            GROUP BY wages.DEPARTMENT_ID
            ORDER BY FIELD(wages.DEPARTMENT_ID, 'CTA','IED','APD','ALD','APO','LSD','ECD','DTD','OSD','SSD','SPD','ISD','SDEO','DANP','FPO','ADMN')
        ) estimate
		union all
        select * from
        (
            select
                wages.DEPARTMENT_ID as DEPARTMENT_ID,#部门
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(heating),2) as heating, #采暖费/免税工资总额
                ROUND(SUM(onlychildmoney),2) as onlychildmoney, #独生子女费/不征税收入
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as pension, #社保（企业）(养老--暖房费)
                ROUND(SUM(comendowmentinsurance),2) as comendowmentinsurance,#养老保险/养老（企业）
                ROUND(SUM(commedicalinsurance),2) as commedicalinsurance,#医疗保险/医疗（企业）
                ROUND(SUM(comunemploymentinsurance),2) as comunemploymentinsurance,#失业保险/失业（企业）
                ROUND(SUM(cominjuryinsurance),2) as cominjuryinsurance,#工伤保险/工伤（企业）
                ROUND(SUM(combirthinsurance),2) as combirthinsurance,#生育保险/生育（企业）
                ROUND(SUM(comheating),2) as comheating,#暖房费/暖房费（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(socialinsurance),2) as socialinsurance,#社保（个人）
                ROUND(SUM(accumulationfund),2) as accumulationfund,#公积金（个人）
                ROUND(SUM(realwages),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                      if(otherfour.total is null,0,otherfour.total) +socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6,#公积金总计
                ROUND(SUM(labourunionbase),2) as labourunionbase#工会经费基数
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.CREATEONYM  = #{dates}
            AND wages.actual = '1'
            GROUP BY wages.DEPARTMENT_ID
            ORDER BY FIELD(wages.DEPARTMENT_ID, 'CTA','IED','APD','ALD','APO','LSD','ECD','DTD','OSD','SSD','SPD','ISD','SDEO','DANP','FPO','ADMN')
        ) actual
		union all
        select
            actual.DEPARTMENT_ID,
            '2' as actual,
            replace(ROUND((actual.user_id - estimate.user_id),2),'0.00','-') as user_id,
            replace(ROUND((actual.totalwages - estimate.totalwages),2),'0.00','-') as totalwages,
            replace(ROUND((actual.taxestotal - estimate.taxestotal),2),'0.00','-') as taxestotal,
            replace(ROUND((actual.heating - estimate.heating),2),'0.00','-') as heating,
            replace(ROUND((actual.onlychildmoney - estimate.onlychildmoney),2),'0.00','-') as onlychildmoney,
            replace(ROUND((actual.pension - estimate.pension),2),'0.00','-') as pension,
            replace(ROUND((actual.comendowmentinsurance - estimate.comendowmentinsurance),2),'0.00','-') as comendowmentinsurance,
            replace(ROUND((actual.commedicalinsurance - estimate.commedicalinsurance),2),'0.00','-') as commedicalinsurance,
            replace(ROUND((actual.comunemploymentinsurance - estimate.comunemploymentinsurance),2),'0.00','-') as comunemploymentinsurance,
            replace(ROUND((actual.cominjuryinsurance - estimate.cominjuryinsurance),2),'0.00','-') as cominjuryinsurance,
            replace(ROUND((actual.combirthinsurance - estimate.combirthinsurance),2),'0.00','-') as combirthinsurance,
            replace(ROUND((actual.comheating - estimate.comheating),2),'0.00','-') as comheating,
            replace(ROUND((actual.comaccumulationfund - estimate.comaccumulationfund),2),'0.00','-') as comaccumulationfund,
            replace(ROUND((actual.bonusmoney - estimate.bonusmoney),2),'0.00','-') as bonusmoney,
            replace(ROUND((actual.appreciation - estimate.appreciation),2),'0.00','-') as appreciation,
            replace(ROUND((actual.labourunionfunds - estimate.labourunionfunds),2),'0.00','-') as labourunionfunds,
            replace(ROUND((actual.other4 - estimate.other4),2),'0.00','-') as other4,
            replace(ROUND((actual.other5 - estimate.other5),2),'0.00','-') as other5,
            replace(ROUND((actual.total - estimate.total),2),'0.00','-') as total,
            replace(ROUND((actual.overtimesubsidy - estimate.overtimesubsidy),2),'0.00','-') as overtimesubsidy,
            replace(ROUND((actual.thismonthadjustment - estimate.thismonthadjustment),2),'0.00','-') as thismonthadjustment,
            replace(ROUND((actual.socialinsurance - estimate.socialinsurance),2),'0.00','-') as socialinsurance,
            replace(ROUND((actual.accumulationfund - estimate.accumulationfund),2),'0.00','-') as accumulationfund,
            replace(ROUND((actual.realwages - estimate.realwages),2),'0.00','-') as realwages,
            replace(ROUND((actual.shouldcumulative - estimate.shouldcumulative),2),'0.00','-') as shouldcumulative,
            replace(ROUND((actual.other6 - estimate.other6),2),'0.00','-') as other6,
            replace(ROUND((actual.labourunionbase - estimate.labourunionbase),2),'0.00','-') as labourunionbase
        from
        (
            select
                wages.DEPARTMENT_ID as DEPARTMENT_ID,#部门
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(heating),2) as heating, #采暖费/免税工资总额
                ROUND(SUM(onlychildmoney),2) as onlychildmoney, #独生子女费/不征税收入
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as pension, #社保（企业）(养老--暖房费)
                ROUND(SUM(comendowmentinsurance),2) as comendowmentinsurance,#养老保险/养老（企业）
                ROUND(SUM(commedicalinsurance),2) as commedicalinsurance,#医疗保险/医疗（企业）
                ROUND(SUM(comunemploymentinsurance),2) as comunemploymentinsurance,#失业保险/失业（企业）
                ROUND(SUM(cominjuryinsurance),2) as cominjuryinsurance,#工伤保险/工伤（企业）
                ROUND(SUM(combirthinsurance),2) as combirthinsurance,#生育保险/生育（企业）
                ROUND(SUM(comheating),2) as comheating,#暖房费/暖房费（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(socialinsurance),2) as socialinsurance,#社保（个人）
                ROUND(SUM(accumulationfund),2) as accumulationfund,#公积金（个人）
                ROUND(SUM(realwages),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                      if(otherfour.total is null,0,otherfour.total) +socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6,#公积金总计
                ROUND(SUM(labourunionbase),2) as labourunionbase#工会经费基数
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.CREATEONYM  = #{dates}
            AND wages.actual = '0'
            GROUP BY wages.DEPARTMENT_ID
            ORDER BY FIELD(wages.DEPARTMENT_ID, 'CTA','IED','APD','ALD','APO','LSD','ECD','DTD','OSD','SSD','SPD','ISD','SDEO','DANP','FPO','ADMN')
        ) estimate,
        (
            select
                wages.DEPARTMENT_ID as DEPARTMENT_ID,#部门
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(heating),2) as heating, #采暖费/免税工资总额
                ROUND(SUM(onlychildmoney),2) as onlychildmoney, #独生子女费/不征税收入
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as pension, #社保（企业）(养老--暖房费)
                ROUND(SUM(comendowmentinsurance),2) as comendowmentinsurance,#养老保险/养老（企业）
                ROUND(SUM(commedicalinsurance),2) as commedicalinsurance,#医疗保险/医疗（企业）
                ROUND(SUM(comunemploymentinsurance),2) as comunemploymentinsurance,#失业保险/失业（企业）
                ROUND(SUM(cominjuryinsurance),2) as cominjuryinsurance,#工伤保险/工伤（企业）
                ROUND(SUM(combirthinsurance),2) as combirthinsurance,#生育保险/生育（企业）
                ROUND(SUM(comheating),2) as comheating,#暖房费/暖房费（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(socialinsurance),2) as socialinsurance,#社保（个人）
                ROUND(SUM(accumulationfund),2) as accumulationfund,#公积金（个人）
                ROUND(SUM(realwages),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                      if(otherfour.total is null,0,otherfour.total) +socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6,#公积金总计
                ROUND(SUM(labourunionbase),2) as labourunionbase#工会经费基数
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.CREATEONYM  = #{dates}
            AND wages.actual = '1'
            GROUP BY wages.DEPARTMENT_ID
            ORDER BY FIELD(wages.DEPARTMENT_ID, 'CTA','IED','APD','ALD','APO','LSD','ECD','DTD','OSD','SSD','SPD','ISD','SDEO','DANP','FPO','ADMN')
        ) actual
        where  estimate.DEPARTMENT_ID = actual.DEPARTMENT_ID
    </select>

    <select id="getWagecompanyold" resultType="com.nt.dao_Pfans.PFANS2000.Wages" parameterType="string">
        select
            wages.createonym as createonym,#时间
            count(*) as user_id,#人数
            ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
            ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
            ROUND(SUM(heating),2) as heating, #采暖费/免税工资总额
            ROUND(SUM(onlychildmoney),2) as onlychildmoney, #独生子女费/不征税收入
            ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as socialinsurance, #社保（企业）
            ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
            ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
            ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
            ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
            ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
            ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
            ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
            ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
            ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
            ROUND(SUM(realwages),2) as realwages,#实发工资
            ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
            if(otherfour.total is null,0,otherfour.total)+socialinsurance),2) as shouldcumulative,#社保总计
            ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6#公积金总计
        from wages
        left join otherfour
        on otherfour.GIVING_ID = wages.GIVING_ID
        and otherfour.USER_ID = wages.USER_ID
        left join otherfive
        on otherfive.GIVING_ID = wages.GIVING_ID
        and otherfive.USER_ID = wages.USER_ID
        where wages.actual = #{actual}
        group by wages.CREATEONYM
        order by wages.CREATEONYM
    </select>

    <select id="getWagecompany" resultType="com.nt.dao_Pfans.PFANS2000.Wages" parameterType="string">
        select * from
        (
            select
                wages.createonym,#时间
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(total3),2) as total3, #小计3/免税工资总额
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as socialinsurance, #社保（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(realwages),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                if(otherfour.total is null,0,otherfour.total)+socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6#公积金总计
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.actual = '0'
            GROUP BY wages.createonym
            ORDER BY wages.createonym
        ) estimate
		union all
        select * from
        (
            select
                wages.createonym,#时间
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(total3),2) as total3, #小计3/免税工资总额
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as socialinsurance, #社保（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(realwages),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                if(otherfour.total is null,0,otherfour.total)+socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6#公积金总计
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.actual = '1'
            GROUP BY wages.createonym
            ORDER BY wages.createonym
        ) actual
		union all
        select
            actual.createonym,
            '2' as actual,
            replace(ROUND((actual.user_id - estimate.user_id),2),'0.00','-') as user_id,
            replace(ROUND((actual.totalwages - estimate.totalwages),2),'0.00','-') as totalwages,
            replace(ROUND((actual.taxestotal - estimate.taxestotal),2),'0.00','-') as taxestotal,
            replace(ROUND((actual.total3 - estimate.total3),2),'0.00','-') as total3,
            replace(ROUND((actual.socialinsurance - estimate.socialinsurance),2),'0.00','-') as socialinsurance,
            replace(ROUND((actual.comaccumulationfund - estimate.comaccumulationfund),2),'0.00','-') as comaccumulationfund,
            replace(ROUND((actual.bonusmoney - estimate.bonusmoney),2),'0.00','-') as bonusmoney,
            replace(ROUND((actual.appreciation - estimate.appreciation),2),'0.00','-') as appreciation,
            replace(ROUND((actual.labourunionfunds - estimate.labourunionfunds),2),'0.00','-') as labourunionfunds,
            replace(ROUND((actual.other4 - estimate.other4),2),'0.00','-') as other4,
            replace(ROUND((actual.other5 - estimate.other5),2),'0.00','-') as other5,
            replace(ROUND((actual.total - estimate.total),2),'0.00','-') as total,
            replace(ROUND((actual.overtimesubsidy - estimate.overtimesubsidy),2),'0.00','-') as overtimesubsidy,
            replace(ROUND((actual.thismonthadjustment - estimate.thismonthadjustment),2),'0.00','-') as thismonthadjustment,
            replace(ROUND((actual.realwages - estimate.realwages),2),'0.00','-') as realwages,
            replace(ROUND((actual.shouldcumulative - estimate.shouldcumulative),2),'0.00','-') as shouldcumulative,
            replace(ROUND((actual.other6 - estimate.other6),2),'0.00','-') as other6
        from
        (
            select
                wages.createonym,#时间
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(total3),2) as total3, #小计3/免税工资总额
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as socialinsurance, #社保（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(realwages),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                if(otherfour.total is null,0,otherfour.total)+socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6#公积金总计
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.actual = '0'
            GROUP BY wages.createonym
            ORDER BY wages.createonym
        ) estimate,
        (
            select
                wages.createonym,#时间
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(total3),2) as total3, #小计3/免税工资总额
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as socialinsurance, #社保（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(realwages),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                if(otherfour.total is null,0,otherfour.total)+socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6#公积金总计
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.actual = '1'
            GROUP BY wages.createonym
            ORDER BY wages.createonym
        ) actual
        where  estimate.createonym = actual.createonym
    </select>

    <select id="updateWages">
        update wages
        set grantstatus = '1'
        ,MODIFYBY = #{user_id}
        ,MODIFYON = NOW()
        where giving_id = #{givingId}
    </select>

    <select id="getComtotalwages" resultType="java.lang.String">
        select COMTOTALWAGES
        from wages
        where  CREATEONYM like CONCAT('%',#{createonym},'%')
        <if test="userid != ''" >
            and  USER_ID =  #{userid}
        </if>
        and COMTOTALWAGES is not null
    </select>

    <select id="getTotal" resultType="java.lang.String">
        select TOTAL3
        from wages
        where  CREATEONYM like CONCAT('%',#{createonym},'%')
        <if test="userid != ''" >
            and  USER_ID =  #{userid}
        </if>
        and TOTAL3 is not null
    </select>


    <select id="getActual" resultType="java.lang.String">
        select ACTUAL
        from wages
        where  CREATEONYM = #{createonym}
        <if test="userid != ''" >
            and  USER_ID =  #{userid}
        </if>
    </select>

</mapper>
