<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS2000.mapper.WagesMapper">
    <select id="lastMonthWage" resultType="java.lang.String">
       select USER_ID from wages
       where wages.CREATEONYM = #{yearmonth}
       and wages.actual = '0'
       <if test="userid != ''" >
           and USER_ID = #{userid}
       </if>
     </select>

    <select id="lastWages" resultType="com.nt.dao_Pfans.PFANS2000.Wages">
       select * from wages
        where wages.CREATEONYM = #{yearmonth}
       AND wages.actual = '0'
       <if test="userid != ''" >
           and USER_ID = #{userid}
       </if>
     </select>

    <select id="getWagesByGivingId" resultType="com.nt.dao_Pfans.PFANS2000.Wages" parameterType="string">
        <if test="userid == ''" >
            call fun_base(#{givingId});
        </if>
        <if test="userid != ''" >
            call fun_baseuser(#{givingId},#{userid});
        </if>
    </select>

    <select id="getWagesdepartmentold" resultType="com.nt.dao_Pfans.PFANS2000.Wages" parameterType="string">
        select
            wages.DEPARTMENT_ID,#部门
            count(*) as user_id,#人数
            ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
            ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
            ROUND(SUM(total3),2) as total3, #小计3/免税工资总额
            ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as pension, #社保（企业）(养老--暖房费)
            ROUND(SUM(comendowmentinsurance),2) as comendowmentinsurance,#养老保险/养老（企业）
            ROUND(SUM(commedicalinsurance),2) as commedicalinsurance,#医疗保险/医疗（企业）
            ROUND(SUM(comunemploymentinsurance),2) as comunemploymentinsurance,#失业保险/失业（企业）
            ROUND(SUM(cominjuryinsurance),2) as cominjuryinsurance,#工伤保险/工伤（企业）
            ROUND(SUM(combirthinsurance),2) as combirthinsurance,#生育保险/生育（企业）
            ROUND(SUM(comheating),2) as comheating,#暖房费/暖房费（企业）
            ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
            ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
            ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
            ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
            ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
            ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
            ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
            ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
            ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
            ROUND(SUM(socialinsurance),2) as socialinsurance,#社保（个人）
            ROUND(SUM(accumulationfund),2) as accumulationfund,#公积金（个人）
            ROUND(SUM(from_base64(realwages)),2) as realwages,#实发工资
            ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
            if(otherfour.total is null,0,otherfour.total) +socialinsurance),2) as shouldcumulative,#社保总计
            ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6,#公积金总计
            ROUND(SUM(labourunionbase),2) as labourunionbase#工会经费基数
        from wages
        left join otherfour
        on otherfour.GIVING_ID = wages.GIVING_ID
        and otherfour.USER_ID = wages.USER_ID
        left join otherfive
        on otherfive.GIVING_ID = wages.GIVING_ID
        and otherfive.USER_ID = wages.USER_ID
		where wages.CREATEONYM  = #{dates}
		AND wages.actual = #{actual}
		GROUP BY wages.DEPARTMENT_ID
		ORDER BY FIELD(wages.DEPARTMENT_ID, 'CTA','IED','APD','ALD','APO','LSD','ECD','DTD','OSD','SSD','SPD','ISD','SDEO','DANP','FPO','ADMN')
    </select>

    <select id="getWagesdepartment" resultType="com.nt.dao_Pfans.PFANS2000.Wages" parameterType="string">
        select * from
        (
            select
                wages.DEPARTMENT_ID as DEPARTMENT_ID,#部门
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(heating),2) as heating, #采暖费/免税工资总额
                ROUND(SUM(onlychildmoney),2) as onlychildmoney, #独生子女费/不征税收入
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as pension, #社保（企业）(养老--暖房费)
                ROUND(SUM(comendowmentinsurance),2) as comendowmentinsurance,#养老保险/养老（企业）
                ROUND(SUM(commedicalinsurance),2) as commedicalinsurance,#医疗保险/医疗（企业）
                ROUND(SUM(comunemploymentinsurance),2) as comunemploymentinsurance,#失业保险/失业（企业）
                ROUND(SUM(cominjuryinsurance),2) as cominjuryinsurance,#工伤保险/工伤（企业）
                ROUND(SUM(combirthinsurance),2) as combirthinsurance,#生育保险/生育（企业）
                ROUND(SUM(comheating),2) as comheating,#暖房费/暖房费（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(socialinsurance),2) as socialinsurance,#社保（个人）
                ROUND(SUM(accumulationfund),2) as accumulationfund,#公积金（个人）
                ROUND(SUM(from_base64(realwages)),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                      if(otherfour.total is null,0,otherfour.total) +socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6,#公积金总计
                ROUND(SUM(labourunionbase),2) as labourunionbase#工会经费基数
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.CREATEONYM  = #{dates}
            AND wages.actual = '0'
            GROUP BY wages.DEPARTMENT_ID,wages.actual
            ORDER BY FIELD(wages.DEPARTMENT_ID, 'CTA','IED','APD','ALD','APO','LSD','ECD','DTD','OSD','SSD','SPD','ISD','SDEO','DANP','FPO','ADMN')
        ) estimate
		union all
        select * from
        (
            select
                wages.DEPARTMENT_ID as DEPARTMENT_ID,#部门
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(heating),2) as heating, #采暖费/免税工资总额
                ROUND(SUM(onlychildmoney),2) as onlychildmoney, #独生子女费/不征税收入
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as pension, #社保（企业）(养老--暖房费)
                ROUND(SUM(comendowmentinsurance),2) as comendowmentinsurance,#养老保险/养老（企业）
                ROUND(SUM(commedicalinsurance),2) as commedicalinsurance,#医疗保险/医疗（企业）
                ROUND(SUM(comunemploymentinsurance),2) as comunemploymentinsurance,#失业保险/失业（企业）
                ROUND(SUM(cominjuryinsurance),2) as cominjuryinsurance,#工伤保险/工伤（企业）
                ROUND(SUM(combirthinsurance),2) as combirthinsurance,#生育保险/生育（企业）
                ROUND(SUM(comheating),2) as comheating,#暖房费/暖房费（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(socialinsurance),2) as socialinsurance,#社保（个人）
                ROUND(SUM(accumulationfund),2) as accumulationfund,#公积金（个人）
                ROUND(SUM(from_base64(realwages)),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                      if(otherfour.total is null,0,otherfour.total) +socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6,#公积金总计
                ROUND(SUM(labourunionbase),2) as labourunionbase#工会经费基数
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.CREATEONYM  = #{dates}
            AND wages.actual = '1'
            GROUP BY wages.DEPARTMENT_ID,wages.actual
            ORDER BY FIELD(wages.DEPARTMENT_ID, 'CTA','IED','APD','ALD','APO','LSD','ECD','DTD','OSD','SSD','SPD','ISD','SDEO','DANP','FPO','ADMN')
        ) actual
		union all
        select
            actual.DEPARTMENT_ID,
            '2' as actual,
            IF(ROUND((actual.user_id-estimate.user_id),2)='0.00','-',ROUND((actual.user_id-estimate.user_id),2))asuser_id,
            IF(ROUND((actual.totalwages-estimate.totalwages),2)='0.00','-',ROUND((actual.totalwages-estimate.totalwages),2))astotalwages,
            IF(ROUND((actual.taxestotal-estimate.taxestotal),2)='0.00','-',ROUND((actual.taxestotal-estimate.taxestotal),2))astaxestotal,
            IF(ROUND((actual.heating-estimate.heating),2)='0.00','-',ROUND((actual.heating-estimate.heating),2))asheating,
            IF(ROUND((actual.onlychildmoney-estimate.onlychildmoney),2)='0.00','-',ROUND((actual.onlychildmoney-estimate.onlychildmoney),2))asonlychildmoney,
            IF(ROUND((actual.pension-estimate.pension),2)='0.00','-',ROUND((actual.pension-estimate.pension),2))aspension,
            IF(ROUND((actual.comendowmentinsurance-estimate.comendowmentinsurance),2)='0.00','-',ROUND((actual.pension-estimate.pension),2))ascomendowmentinsurance,
            IF(ROUND((actual.commedicalinsurance-estimate.commedicalinsurance),2)='0.00','-',ROUND((actual.commedicalinsurance-estimate.commedicalinsurance),2))ascommedicalinsurance,
            IF(ROUND((actual.comunemploymentinsurance-estimate.comunemploymentinsurance),2)='0.00','-',ROUND((actual.comunemploymentinsurance-estimate.comunemploymentinsurance),2))ascomunemploymentinsurance,
            IF(ROUND((actual.cominjuryinsurance-estimate.cominjuryinsurance),2)='0.00','-',ROUND((actual.cominjuryinsurance-estimate.cominjuryinsurance),2))ascominjuryinsurance,
            IF(ROUND((actual.combirthinsurance-estimate.combirthinsurance),2)='0.00','-',ROUND((actual.combirthinsurance-estimate.combirthinsurance),2))ascombirthinsurance,
            IF(ROUND((actual.comheating-estimate.comheating),2)='0.00','-',ROUND((actual.comheating-estimate.comheating),2))ascomheating,
            IF(ROUND((actual.comaccumulationfund-estimate.comaccumulationfund),2)='0.00','-',ROUND((actual.comaccumulationfund-estimate.comaccumulationfund),2))ascomaccumulationfund,
            IF(ROUND((actual.bonusmoney-estimate.bonusmoney),2)='0.00','-',ROUND((actual.bonusmoney-estimate.bonusmoney),2))asbonusmoney,
            IF(ROUND((actual.appreciation-estimate.appreciation),2)='0.00','-',ROUND((actual.appreciation-estimate.appreciation),2))asappreciation,
            IF(ROUND((actual.labourunionfunds-estimate.labourunionfunds),2)='0.00','-',ROUND((actual.labourunionfunds-estimate.labourunionfunds),2))aslabourunionfunds,
            IF(ROUND((actual.other4-estimate.other4),2)='0.00','-',ROUND((actual.other4-estimate.other4),2))asother4,
            IF(ROUND((actual.other5-estimate.other5),2)='0.00','-',ROUND((actual.other5-estimate.other5),2))asother5,
            IF(ROUND((actual.total-estimate.total),2)='0.00','-',ROUND((actual.total-estimate.total),2))astotal,
            IF(ROUND((actual.overtimesubsidy-estimate.overtimesubsidy),2)='0.00','-',ROUND((actual.overtimesubsidy-estimate.overtimesubsidy),2))asovertimesubsidy,
            IF(ROUND((actual.thismonthadjustment-estimate.thismonthadjustment),2)='0.00','-',ROUND((actual.thismonthadjustment-estimate.thismonthadjustment),2))asthismonthadjustment,
            IF(ROUND((actual.socialinsurance - estimate.socialinsurance),2)='0.00','-',ROUND((actual.socialinsurance - estimate.socialinsurance),2)) as socialinsurance,
            IF(ROUND((actual.accumulationfund - estimate.accumulationfund),2)='0.00','-',ROUND((actual.accumulationfund - estimate.accumulationfund),2)) as accumulationfund,
            IF(ROUND((actual.realwages - estimate.realwages),2)='0.00','-',ROUND((actual.realwages - estimate.realwages),2)) as realwages,
            IF(ROUND((actual.shouldcumulative - estimate.shouldcumulative),2)='0.00','-',ROUND((actual.shouldcumulative - estimate.shouldcumulative),2)) as shouldcumulative,
            IF(ROUND((actual.other6 - estimate.other6),2)='0.00','-',ROUND((actual.other6 - estimate.other6),2)) as other6,
            IF(ROUND((actual.labourunionbase - estimate.labourunionbase),2)='0.00','-',ROUND((actual.labourunionbase - estimate.labourunionbase),2)) as labourunionbase
        from
        (
            select
                wages.DEPARTMENT_ID as DEPARTMENT_ID,#部门
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(heating),2) as heating, #采暖费/免税工资总额
                ROUND(SUM(onlychildmoney),2) as onlychildmoney, #独生子女费/不征税收入
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as pension, #社保（企业）(养老--暖房费)
                ROUND(SUM(comendowmentinsurance),2) as comendowmentinsurance,#养老保险/养老（企业）
                ROUND(SUM(commedicalinsurance),2) as commedicalinsurance,#医疗保险/医疗（企业）
                ROUND(SUM(comunemploymentinsurance),2) as comunemploymentinsurance,#失业保险/失业（企业）
                ROUND(SUM(cominjuryinsurance),2) as cominjuryinsurance,#工伤保险/工伤（企业）
                ROUND(SUM(combirthinsurance),2) as combirthinsurance,#生育保险/生育（企业）
                ROUND(SUM(comheating),2) as comheating,#暖房费/暖房费（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(socialinsurance),2) as socialinsurance,#社保（个人）
                ROUND(SUM(accumulationfund),2) as accumulationfund,#公积金（个人）
                ROUND(SUM(from_base64(realwages)),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                      if(otherfour.total is null,0,otherfour.total) +socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6,#公积金总计
                ROUND(SUM(labourunionbase),2) as labourunionbase#工会经费基数
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.CREATEONYM  = #{dates}
            AND wages.actual = '0'
            GROUP BY wages.DEPARTMENT_ID,wages.actual
            ORDER BY FIELD(wages.DEPARTMENT_ID, 'CTA','IED','APD','ALD','APO','LSD','ECD','DTD','OSD','SSD','SPD','ISD','SDEO','DANP','FPO','ADMN')
        ) estimate,
        (
            select
                wages.DEPARTMENT_ID as DEPARTMENT_ID,#部门
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(heating),2) as heating, #采暖费/免税工资总额
                ROUND(SUM(onlychildmoney),2) as onlychildmoney, #独生子女费/不征税收入
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as pension, #社保（企业）(养老--暖房费)
                ROUND(SUM(comendowmentinsurance),2) as comendowmentinsurance,#养老保险/养老（企业）
                ROUND(SUM(commedicalinsurance),2) as commedicalinsurance,#医疗保险/医疗（企业）
                ROUND(SUM(comunemploymentinsurance),2) as comunemploymentinsurance,#失业保险/失业（企业）
                ROUND(SUM(cominjuryinsurance),2) as cominjuryinsurance,#工伤保险/工伤（企业）
                ROUND(SUM(combirthinsurance),2) as combirthinsurance,#生育保险/生育（企业）
                ROUND(SUM(comheating),2) as comheating,#暖房费/暖房费（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(socialinsurance),2) as socialinsurance,#社保（个人）
                ROUND(SUM(accumulationfund),2) as accumulationfund,#公积金（个人）
                ROUND(SUM(from_base64(realwages)),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                      if(otherfour.total is null,0,otherfour.total) +socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6,#公积金总计
                ROUND(SUM(labourunionbase),2) as labourunionbase#工会经费基数
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.CREATEONYM  = #{dates}
            AND wages.actual = '1'
            GROUP BY wages.DEPARTMENT_ID,wages.actual
            ORDER BY FIELD(wages.DEPARTMENT_ID, 'CTA','IED','APD','ALD','APO','LSD','ECD','DTD','OSD','SSD','SPD','ISD','SDEO','DANP','FPO','ADMN')
        ) actual
        where  estimate.DEPARTMENT_ID = actual.DEPARTMENT_ID
    </select>

    <select id="getWagecompanyold" resultType="com.nt.dao_Pfans.PFANS2000.Wages" parameterType="string">
        select
            wages.createonym as createonym,#时间
            count(*) as user_id,#人数
            ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
            ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
            ROUND(SUM(heating),2) as heating, #采暖费/免税工资总额
            ROUND(SUM(onlychildmoney),2) as onlychildmoney, #独生子女费/不征税收入
            ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as socialinsurance, #社保（企业）
            ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
            ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
            ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
            ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
            ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
            ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
            ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
            ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
            ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
            ROUND(SUM(from_base64(realwages)),2) as realwages,#实发工资
            ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
            if(otherfour.total is null,0,otherfour.total)+socialinsurance),2) as shouldcumulative,#社保总计
            ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6#公积金总计
        from wages
        left join otherfour
        on otherfour.GIVING_ID = wages.GIVING_ID
        and otherfour.USER_ID = wages.USER_ID
        left join otherfive
        on otherfive.GIVING_ID = wages.GIVING_ID
        and otherfive.USER_ID = wages.USER_ID
        where wages.actual = #{actual}
        group by wages.CREATEONYM
        order by wages.CREATEONYM
    </select>

    <select id="getWagecompany" resultType="com.nt.dao_Pfans.PFANS2000.Wages" parameterType="string">
        select * from
        (
            select
                wages.createonym,#时间
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(total3),2) as total3, #小计3/免税工资总额
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as socialinsurance, #社保（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(from_base64(realwages)),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                if(otherfour.total is null,0,otherfour.total)+socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6#公积金总计
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.actual = '0'
            GROUP BY wages.createonym
            ORDER BY wages.createonym
        ) estimate
		union all
        select * from
        (
            select
                wages.createonym,#时间
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(total3),2) as total3, #小计3/免税工资总额
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as socialinsurance, #社保（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(from_base64(realwages)),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                if(otherfour.total is null,0,otherfour.total)+socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6#公积金总计
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.actual = '1'
            GROUP BY wages.createonym
            ORDER BY wages.createonym
        ) actual
		union all
        select
            actual.createonym,
            '2' as actual,
            IF(ROUND((actual.user_id-estimate.user_id),2)='0.00','-',ROUND((actual.user_id-estimate.user_id),2))asuser_id,
            IF(ROUND((actual.totalwages-estimate.totalwages),2)='0.00','-',ROUND((actual.totalwages-estimate.totalwages),2))astotalwages,
            IF(ROUND((actual.taxestotal-estimate.taxestotal),2)='0.00','-',ROUND((actual.taxestotal-estimate.taxestotal),2))astaxestotal,
            IF(ROUND((actual.total3-estimate.total3),2)='0.00','-',ROUND((actual.total3-estimate.total3),2))astotal3,
            IF(ROUND((actual.socialinsurance-estimate.socialinsurance),2)='0.00','-',ROUND((actual.socialinsurance-estimate.socialinsurance),2))associalinsurance,
            IF(ROUND((actual.comaccumulationfund-estimate.comaccumulationfund),2)='0.00','-',ROUND((actual.comaccumulationfund-estimate.comaccumulationfund),2))ascomaccumulationfund,
            IF(ROUND((actual.bonusmoney-estimate.bonusmoney),2)='0.00','-',ROUND((actual.bonusmoney-estimate.bonusmoney),2))asbonusmoney,
            IF(ROUND((actual.appreciation-estimate.appreciation),2)='0.00','-',ROUND((actual.appreciation-estimate.appreciation),2))asappreciation,
            IF(ROUND((actual.labourunionfunds-estimate.labourunionfunds),2)='0.00','-',ROUND((actual.labourunionfunds-estimate.labourunionfunds),2))aslabourunionfunds,
            IF(ROUND((actual.other4-estimate.other4),2)='0.00','-',ROUND((actual.other4-estimate.other4),2))asother4,
            IF(ROUND((actual.other5-estimate.other5),2)='0.00','-',ROUND((actual.other5-estimate.other5),2))asother5,
            IF(ROUND((actual.total-estimate.total),2)='0.00','-',ROUND((actual.total-estimate.total),2))astotal,
            IF(ROUND((actual.overtimesubsidy-estimate.overtimesubsidy),2)='0.00','-',ROUND((actual.overtimesubsidy-estimate.overtimesubsidy),2))asovertimesubsidy,
            IF(ROUND((actual.thismonthadjustment-estimate.thismonthadjustment),2)='0.00','-',ROUND((actual.thismonthadjustment-estimate.thismonthadjustment),2))asthismonthadjustment,
            IF(ROUND((actual.realwages-estimate.realwages),2)='0.00','-',ROUND((actual.realwages-estimate.realwages),2))asrealwages,
            IF(ROUND((actual.shouldcumulative-estimate.shouldcumulative),2)='0.00','-',ROUND((actual.shouldcumulative-estimate.shouldcumulative),2))asshouldcumulative,
            IF(ROUND((actual.other6-estimate.other6),2)='0.00','-',ROUND((actual.other6-estimate.other6),2))asother6
        from
        (
            select
                wages.createonym,#时间
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(total3),2) as total3, #小计3/免税工资总额
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as socialinsurance, #社保（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(from_base64(realwages)),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                if(otherfour.total is null,0,otherfour.total)+socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6#公积金总计
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.actual = '0'
            GROUP BY wages.createonym
            ORDER BY wages.createonym
        ) estimate,
        (
            select
                wages.createonym,#时间
                wages.actual as actual,
                count(*) as user_id,#人数
                ROUND(SUM(taxestotal + total3),2) as totalwages,#工资总额
                ROUND(SUM(taxestotal),2) as taxestotal,#纳税工资总额(小计1+2)/纳税工资总额
                ROUND(SUM(total3),2) as total3, #小计3/免税工资总额
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as socialinsurance, #社保（企业）
                ROUND(SUM(comaccumulationfund),2) as comaccumulationfund,#公积金（企业）
                ROUND(SUM(bonusmoney),2) as bonusmoney,#計上奨金
                ROUND(SUM(appreciation),2) as appreciation,#月度奨金（纳税）
                ROUND(SUM(labourunionfunds),2) as labourunionfunds,#工会经费
                ROUND(SUM(if(otherfour.total is null,0,otherfour.total)),2) as other4,#其他4F/社保大病险
                ROUND(SUM(if(otherfive.welfaretotal is null,0,otherfive.welfaretotal)),2) as other5,#其他5H/福利
                ROUND(SUM(taxestotal + total3+comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating),2) as total,#人件費总计
                ROUND(SUM(overtimesubsidy),2) as overtimesubsidy,#残業手当
                ROUND(SUM(thismonthadjustment),2) as thismonthadjustment,#应缴税金
                ROUND(SUM(from_base64(realwages)),2) as realwages,#实发工资
                ROUND(SUM(comendowmentinsurance+commedicalinsurance+comunemploymentinsurance+cominjuryinsurance+combirthinsurance+comheating+
                if(otherfour.total is null,0,otherfour.total)+socialinsurance),2) as shouldcumulative,#社保总计
                ROUND(SUM(comaccumulationfund+accumulationfund),2) as other6#公积金总计
            from wages
            left join otherfour
            on otherfour.GIVING_ID = wages.GIVING_ID
            and otherfour.USER_ID = wages.USER_ID
            left join otherfive
            on otherfive.GIVING_ID = wages.GIVING_ID
            and otherfive.USER_ID = wages.USER_ID
            where wages.actual = '1'
            GROUP BY wages.createonym
            ORDER BY wages.createonym
        ) actual
        where  estimate.createonym = actual.createonym
    </select>

    <select id="updateWages">
        update wages
        set grantstatus = '1'
        ,MODIFYBY = #{user_id}
        ,MODIFYON = NOW()
        where giving_id = #{givingId}
    </select>

    <select id="getComtotalwages" resultType="java.lang.String">
        select COMTOTALWAGES
        from wages
        where  CREATEONYM like CONCAT('%',#{createonym},'%')
        <if test="userid != ''" >
            and  USER_ID =  #{userid}
        </if>
        and COMTOTALWAGES is not null
    </select>

    <select id="getTotal" resultType="java.lang.String">
        select TOTAL3
        from wages
        where  CREATEONYM like CONCAT('%',#{createonym},'%')
        <if test="userid != ''" >
            and  USER_ID =  #{userid}
        </if>
        and TOTAL3 is not null
    </select>


    <select id="getActual" resultType="java.lang.String">
        select ACTUAL
        from wages
        where  CREATEONYM = #{createonym}
        <if test="userid != ''" >
            and  USER_ID =  #{userid}
        </if>
    </select>

</mapper>
