<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_pfans.PFANS8000.mapper.WorkingDayMapper">
    <delete id="deletete">
        DELETE FROM workingday WHERE WORKINGDATE= #{day};
    </delete>
    <select id="getDataList" resultType="com.nt.dao_Pfans.PFANS8000.WorkingDay">
        SELECT * FROM workingday
        WHERE #{THIS_YEAR} >= YEARS AND
        YEARS >=#{LAST_YEAR}
    </select>
    <select id="getHoliday" resultType="java.lang.String">
        select IFNULL((sum(IFNULL(case when TYPE in (1,2,3,5,6) and DAYOFWEEK(WORKINGDATE) in (1,7) then 0
        when TYPE in (1,2,3,5,6) and DAYOFWEEK(WORKINGDATE) in (2,3,4,5,6) then 1 end,0)) +
        sum(IFNULL(case when TYPE=4 and DAYOFWEEK(WORKINGDATE) in (1,7) then -1
        when TYPE=4 and DAYOFWEEK(WORKINGDATE) in (2,3,4,5,6) then 0 end,0))),0) as holi
        from workingday
        where YEAR(workingday.WORKINGDATE) = #{year}
        and MONTH(workingday.WORKINGDATE) = #{mouth}
        <if test="day!=0">
            and DAY(workingday.WORKINGDATE) &lt;= #{day}
        </if>
    </select>

    <select id="getHolidayExceptWeekend" resultType="java.lang.Integer">
        SELECT IFNULL(SUM(IF(DAYOFWEEK(WORKINGDATE) in (2,3,4,5,6),1,0)),0) as holi
        from workingday
        where WORKINGDATE BETWEEN #{start} AND #{end}
    </select>
</mapper>
