<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_AOCHUAN.AOCHUAN3000.mapper.ApplicationrecordMapper">
    <insert id="insertApplicationrecordList" parameterType="java.util.List">
        INSERT INTO applicationrecord (applicationrecord_id, suppliername, supplierid, realpay, realdate, realamount,
        paiddate, invoiceno,paymentstatus, transportgood_id,productid)
        values
        <foreach item="item" collection="list" separator=",">
            (#{item.applicationrecord_id}, #{item.suppliername}, #{item.supplierid}, #{item.realpay}, #{item.realdate},
            #{item.realamount}, #{item.paiddate},
            #{item.invoiceno}, #{item.paymentstatus},#{item.transportgood_id},#{item.productid})
        </foreach>
    </insert>

    <select id="getApplicationRecord" resultType="com.nt.dao_AOCHUAN.AOCHUAN3000.Applicationrecord">
     select
     applicationrecord.applicationrecord_id,
     applicationrecord.suppliername,
     applicationrecord.realpay,
     applicationrecord.realdate,
     applicationrecord.realamount,
     applicationrecord.paiddate,
     applicationrecord.invoiceno,
     applicationrecord.paymentstatus,
     applicationrecord.supplierid,
     applicationrecord.transportgood_id,
     applicationrecord.productid,
     products.CHINANAME as productname
     from applicationrecord
    inner join products
    on applicationrecord.productid = products.PRODUCTS_ID
    where applicationrecord.transportgood_id = #{id}

    </select>

    <select id="selectExportList" resultType="com.nt.dao_AOCHUAN.AOCHUAN3000.Vo.SalesExportVo">
            SELECT * FROM	saledetails
                INNER JOIN receivablesrecord ON saledetails.productid = saledetails.productid
                LEFT JOIN transportgood ON transportgood.transportgood_id = saledetails.transportgood_id
                where transportgood.transportgood_id = #{id}
    </select>

    <select id="purchaseexportList" resultType="com.nt.dao_AOCHUAN.AOCHUAN3000.Vo.PurchaseExportVo">
            SELECT * FROM	saledetails
                INNER JOIN receivablesrecord ON saledetails.productid = saledetails.productid
                LEFT JOIN transportgood ON transportgood.transportgood_id = saledetails.transportgood_id
                where transportgood.transportgood_id = #{id}
    </select>

    <select id="documentexportList" resultType="com.nt.dao_AOCHUAN.AOCHUAN3000.Vo.DocumentExportVo">
            SELECT * FROM	saledetails
                INNER JOIN receivablesrecord ON saledetails.productid = saledetails.productid
                LEFT JOIN transportgood ON transportgood.transportgood_id = saledetails.transportgood_id
                where transportgood.transportgood_id = #{id}
    </select>
</mapper>
