<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_AOCHUAN.AOCHUAN6000.mapper.AttendancesMapper">

    <select id="getNowMon" resultType="com.nt.dao_AOCHUAN.AOCHUAN6000.Attendance">
        select *
        from attendance
        where attendancetim LIKE #{attendancetim}"%"
	</select>

<!--考勤异常数据-->
    <select id="getYICHANG" resultType="com.nt.dao_AOCHUAN.AOCHUAN6000.Attendance">
        SELECT *,left(ATTENDANCETIM,8) FROM `attendance`
        where (
        STR_TO_DATE(WORKINGHOURS,'%H:%i') &gt; STR_TO_DATE('08:30','%H:%i')
        or
        STR_TO_DATE(OFFHOURS,'%H:%i')  &lt; STR_TO_DATE('17:30','%H:%i')
        )
        and
        (
        right(ATTENDANCETIM,3) = #{Mon} or right(ATTENDANCETIM,3) = #{Tus} or right(ATTENDANCETIM,3) = #{Wed} or right(ATTENDANCETIM,3) = #{Thu}
        or right(ATTENDANCETIM,3) = #{Fri} or
        left(ATTENDANCETIM,8) in (SELECT right(WORKINGDATE,8) from workingday where type=4)
        );
	</select>

    <select id="getNowMonYC" resultType="com.nt.dao_AOCHUAN.AOCHUAN6000.Attendance">
        SELECT aaa.* from (
        SELECT *,left(ATTENDANCETIM,8) FROM `attendance`
        where (
        STR_TO_DATE(WORKINGHOURS,'%H:%i') &gt; STR_TO_DATE('08:30','%H:%i')
        or
        STR_TO_DATE(OFFHOURS,'%H:%i')  &lt; STR_TO_DATE('17:30','%H:%i')
        )
        and
        (
        right(ATTENDANCETIM,3) = #{Mon} or right(ATTENDANCETIM,3) = #{Tus} or right(ATTENDANCETIM,3) = #{Wed} or right(ATTENDANCETIM,3) = #{Thu}
        or right(ATTENDANCETIM,3) = #{Fri} or
        left(ATTENDANCETIM,8) in (SELECT right(WORKINGDATE,8) from workingday where type=4)
        )
        ) as aaa
        where aaa.attendancetim LIKE #{attendancetim}"%"
	</select>


    <select id="getByUserId" resultType="com.nt.dao_AOCHUAN.AOCHUAN6000.Attendance">
        select *
        from attendance
        where attendancetim LIKE #{nowMons}"%" or attendancetim LIKE #{lastMons}"%"
		having names = #{id}
		order by attendancetim desc
	</select>
</mapper>
