<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_AOCHUAN.AOCHUAN3000.mapper.SaledetailsMapper" >
    <insert id="insertSaledetailsList" parameterType="java.util.List">
        INSERT INTO saledetails (saledetails_id, productname, productid, currency, numbers, unit, supplierid, suppliername, unitprice1, unitprice, salesamount, note, currency1, numbers1, purchaseamount, deliverytime, deliverystatus, signback1,hscode,drawback,dangerous,marks,note1,transportgood_id,productenname)
        values
        <foreach item="item" collection="list" separator=",">
            (#{item.saledetails_id}, #{item.productname}, #{item.productid}, #{item.currency}, #{item.numbers}, #{item.unit}, #{item.supplierid},
            #{item.suppliername}, #{item.unitprice1}, #{item.unitprice}, #{item.salesamount}, #{item.note}, #{item.currency1}, #{item.numbers1},
            #{item.purchaseamount}, #{item.deliverytime}, #{item.deliverystatus}, #{item.signback1}, #{item.hscode}, #{item.drawback}, #{item.dangerous}, #{item.marks}, #{item.note1}, #{item.transportgood_id},#{item.productenname})
        </foreach>
    </insert>
    <select id="getSailDetails"  resultType="com.nt.dao_AOCHUAN.AOCHUAN3000.Saledetails">
select
saledetails.saledetails_id,
products.CHINANAME as productenname,
saledetails.productid,
saledetails.currency,
saledetails.numbers,
saledetails.unit,
saledetails.suppliername,
saledetails.supplierid,
saledetails.UNITPRICE1,
saledetails.UNITPRICE,
saledetails.salesamount,
saledetails.note,
saledetails.currency1,
saledetails.numbers1,
saledetails.purchaseamount,
saledetails.deliverytime,
saledetails.deliverystatus,
saledetails.signback1,
saledetails.hscode,
saledetails.drawback,
saledetails.marks,
saledetails.note1,
saledetails.transportgood_id,
products.CASNUM as casnum,
products.ENGLISHNAME as productname
from saledetails
inner join transportgood
on transportgood.transportgood_id = saledetails.transportgood_id
and transportgood.transportgood_id = #{id}
inner join products
on products.PRODUCTS_ID = saledetails.productid
    </select>
</mapper>
