<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_AOCHUAN.AOCHUAN6000.mapper.VacationMapper">

    <select id="getVo" resultType="com.nt.dao_AOCHUAN.AOCHUAN6000.Vo.StatisticsVo">
            select
            distinct v.APPLICANTER names,

            typ1.res thingleave,

            typ2.res sickthing,

            typ3.res compensatory,

            typ4.res Wedding,

            typ5.res annual,

            typ6.res maternity,

            typ7.res funeral

            from vacation v
            left join (select APPLICANTER, APPLICATIONTYPE,SUM(SUMTIM) res from vacation where APPLICATIONTYPE = 'PJ001001' GROUP BY APPLICANTER, APPLICATIONTYPE) typ1
            on typ1.APPLICANTER = v.APPLICANTER
            left join (select APPLICANTER, APPLICATIONTYPE,SUM(SUMTIM) res from vacation where APPLICATIONTYPE = 'PJ001002' GROUP BY APPLICANTER, APPLICATIONTYPE) typ2
            on typ2.APPLICANTER = v.APPLICANTER
            left join (select APPLICANTER, APPLICATIONTYPE,SUM(SUMTIM) res from vacation where APPLICATIONTYPE = 'PJ001003' GROUP BY APPLICANTER, APPLICATIONTYPE) typ3
            on typ3.APPLICANTER = v.APPLICANTER
            left join (select APPLICANTER, APPLICATIONTYPE,SUM(SUMTIM) res from vacation where APPLICATIONTYPE = 'PJ001004' GROUP BY APPLICANTER, APPLICATIONTYPE) typ4
            on typ4.APPLICANTER = v.APPLICANTER
            left join (select APPLICANTER, APPLICATIONTYPE,SUM(SUMTIM) res from vacation where APPLICATIONTYPE = 'PJ001005' GROUP BY APPLICANTER, APPLICATIONTYPE) typ5
            on typ5.APPLICANTER = v.APPLICANTER
            left join (select APPLICANTER, APPLICATIONTYPE,SUM(SUMTIM) res from vacation where APPLICATIONTYPE = 'PJ001006' GROUP BY APPLICANTER, APPLICATIONTYPE) typ6
            on typ6.APPLICANTER = v.APPLICANTER
            left join (select APPLICANTER, APPLICATIONTYPE,SUM(SUMTIM) res from vacation where APPLICATIONTYPE = 'PJ001007' GROUP BY APPLICANTER, APPLICATIONTYPE) typ7
            on typ7.APPLICANTER = v.APPLICANTER

    </select>
</mapper>
