<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_AOCHUAN.AOCHUAN3000.mapper.TransportGoodMapper">
    <select id="getTransportGoodList"  resultType="com.nt.dao_AOCHUAN.AOCHUAN3000.TransportGood">
        select
	t.transportgood_id,
	t.contractnumber,
	group_concat(DISTINCT products.CHINANAME) as producten,
	t.customer,
	group_concat(DISTINCT supplierbaseinfor.SUPPLIERNAMECN) as supplier,
	t.type,
	t.status,
	t.paymentstatus,
	t.paybackstatus,
	t.owner,
  group_concat(DISTINCT products.CASNUM) as casnum,
	t.saleresponsibility,
	t.productresponsibility,
	t.orders
  from transportgood t
  left join saledetails
	on saledetails.transportgood_id = t.transportgood_id
	left join products
	on products.PRODUCTS_ID =saledetails.productid
	left JOIN supplierbaseinfor
	on supplierbaseinfor.SUPPLIERBASEINFOR_ID = saledetails.supplierid
	GROUP BY t.transportgood_id
  order by t.contractnumber desc
    </select>

</mapper>
