<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_SQL.sqlMapper.BasfUserInfoMapper">


    <select id="selectUsersCount" resultType="int">
        SELECT
		count(PersonNo)
		FROM
		userinfo
		where
		Activity='1'
    </select>

	<select id="selectContractorsCount" resultType="int">
        SELECT
		count(PersonNo)
		FROM
		userinfo
		where
		Activity='1'
    </select>

	<select id="selectVisitorsCount" resultType="int">
        SELECT
		count(PersonNo)
		FROM
		userinfo
		where
		Activity='1'
    </select>
</mapper>

