<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_SQL.sqlMapper.SqlUserInfoMapper">


    <select id="userinfolist" resultType="com.nt.dao_SQL.SqlUserInfo">
select top 200
uif.UserID,
uif.PersonNO,
uif.UserName,
dl.departmentID,
dep.ALLname,
uif.PetName,
uif.Title,Sex,
uif.Telephone,
uif.MobileTelephone,
uif.Fax,
uif.Email,
uif.WebAddr,
uif.Activity
from UserInfo uif
left join DepartUserList dl
on uif.UserID = dl.UserID
left join Department dep
on dl.departmentID = dep.RecNum
where
uif.Activity = 1
    </select>

    <select id="selectapbcard" resultType="com.nt.dao_SQL.SqlAPBCardHolder">
select
[DepartmentName],
[DepartmentID],
[PersonNO],
[CardID],
[UserName],
[APBID],
[APBName],
[LastAPB],
[LastAPBName],
[InTime],
[LastInTime],
[RdrDvcID],
[LastRdrDvcID]
from VIEW_APBCardHolder
where
datediff(day,intime,GETDATE()) = 0
order by intime desc
    </select>

    <select id="selectdepartmentid" resultType="com.nt.dao_SQL.SqlViewDepartment">
select * from View_Department
where
recnum = #{recnum}
    </select>

    <select id="selectdepartment" resultType="com.nt.dao_SQL.SqlViewDepartment">
select * from View_Department
    </select>

    <select id="selectapbcardholder" resultType="com.nt.dao_SQL.SqlAPBCardHolder">
        SELECT DepartmentID
        FROM View_APBCardholder
        WHERE APBName &lt;> '厂外'
        AND CONVERT(varchar,InTime,23)=CONVERT(varchar,GETDATE(),23)
    </select>


</mapper>

