<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.service_SQL.sqlMapper.SqlViewDepartmentMapper">


    <select id="list" resultType="com.nt.dao_SQL.SqlViewDepartment">
        select departmentpeid,recnum,Allname,Name from view_department
        where
        departmentpeid = '-1'
    </select>


</mapper>

